{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block bodyclass %}login{% endblock %}

{% block content %}
    <div class="row">

    <div class="large-4 large-offset-4 columns content">
        <h4>{% trans "Login" %}</h4>

        <form method="post" action="{% url "auth_login" %}">

            {% if form.errors %}
                <div class="row">
                    <div class="columns large-12">
                        <div class="panel error">
                            {% trans "Wrong username and password." %}
                        </div>
                    </div>
                </div>
            {% endif %}

            {% csrf_token %}
            <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.get_full_path }}{% endif %}" />

            <div class="row">
                <div class="columns large-12">
                    {{ form }}
                </div>
            </div>
            <div class="row">
                <div class="columns large-12">
                    <input type="submit" class="button radius success expand" value="{% trans 'Login' %}" />
                </div>
            </div>

            <hr/>

            <div class="row">
                <div class="columns large-6">
                    <a class="button radius secondary expand" href="{% url 'auth_password_reset' %}">{% trans "Reset password" %}</a>
                </div>
                <div class="columns large-6">
                    <a class="button radius secondary expand" href="{% url 'registration_register' %}">{% trans "Register" %}</a>
                </div>
            </div>

        </form>

    </div>
    </div>
{% endblock %}
