{% extends "_base.html" %}
{% load i18n %}

{% block bodyclass %}login{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        {% trans "Invalid request." as message %}</p>
        {% include "part_panel.html" with icon="prohibited" message=message %}
    {% else %}

        <div class="row">
            <div class="large-6 large-offset-3 columns content">
                {% include "registration/login_form.html" %}
            </div>
        </div>

    {% endif %}
{% endblock %}
