{% extends "_base.html" %}
{% load i18n captureas %}

{% block content %}
    <h3>{% trans "Password reset" %}</h3>
    {% if validlink %}
        <form class="auth-form" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="button radius expand" value="{% trans 'Submit' %}" />
        </form>
    {% else %}
        {% url "auth_password_reset" as item_url %}
        {% captureas message %}
            {% blocktrans %}Password reset failed. Please try to <a href="{{ item_url }}">reset it again</a>.{% endblocktrans %}
        {% endcaptureas %}
        {% include "part_panel.html" with icon="x" message=message %}
    {% endif %}
{% endblock %}
