{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
    <div class="large-4 large-offset-4 columns content">
    <div class="row">
        <div class="columns large-12">
            {% if validlink %}
                <form method="post" action=".">
                    {% csrf_token %} 
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Submit' %}" />
                </form>
            {% else %}
                <div class="panel"><p>{% trans "Password reset failed" %}</p></div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
{% endblock %}
