{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="large-12 columns content">
        <h4>{% trans "Change your password" %}</h4>
        <div class="row">
        <div class="columns large-4 large-offset-4 medium-4 mediu-offset-4">
            <form method="post" action=".">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="button radius expand" value="{% trans 'Submit' %}" />
            </form>
        </div>
        </div>
        </div>
    </div>
{% endblock %}
