{% extends "_base.html" %}
{% load i18n crispy_forms_tags %}

{% block bodyclass %}register{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h3>{% trans "Authentication error" %}</h3>
        {% trans "You are already logged in." as message %}
        {% include "part_panel.html" with icon="prohibited" message=message %}
    {% else %}
        <div class="row">
        <div class="large-8 large-offset-2 columns content">
            {% trans "By filling the form you will receive an e-mail with an activation link." as message %}
            {% include "part_panel.html" with icon="link" message=message %}
            {% crispy form %}
        </div>
        </div>
    {% endif %}
{% endblock %}
