{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block bodyclass %}register{% endblock %}

{% block content %}
    <div class="row">
    <div class="large-6 large-offset-3 columns content">
        {% if user.is_authenticated %}
            <span class="panel radius secondary text-center">{% trans "You are already logged in." %}</span>
        {% else %}
            <h4>{% trans "Create new user" %}</h4>
            {% if problems %}
                <hr/>
                <p>{% trans "After registering you'll get contribution access to the following problems:" %}</p>
                <ul>
                {% for problem in problems %}
                    <li>{{ problem.title }}</li>
                {% endfor %}
                </ul>
                <hr/>
            {% endif %}
            {% crispy form %}
        {% endif %}
    </div>
    </div>
{% endblock %}
