{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block bodyclass %}register{% endblock %}

{% block content %}
    <div class="row">

        {% if user.is_authenticated %}

            <div class="columns large-12">
                <div class="panel radius secondary"><p>{% trans "You are already logged in." %}</p></div>
            </div>

        {% else %}

            <div class="large-6 large-offset-3 columns content">
                <h4>{% trans "Create new user" %}</h4>
                {% if problems %}
                    <hr/>
                    <p>{% trans "After registering you'll get contribution access to the following problems:" %}</p>
                    <ul>
                    {% for problem in problems %}
                        <li>{{ problem.title }}</li>
                    {% endfor %}
                    </ul>
                    <hr/>
                {% endif %}
                {% crispy form %}
            </div>

        {% endif %}
    </div>
{% endblock %}
