# Vim
*~
*.sw*

# Sass
.sass-cache/

# Python
*.pyc

# Virtualenv
env

# NodeJS modules
node_modules

# Static files and components
/static
dnstorm/app/static/components

# DNStorm
*.sqlite3
media
dnstorm/app/static/dnstorm/css/app.css

# Heroku project
dnstorm/settings/heroku.py

# Documentation
docs/_*
