# Vi
*~
*.swp
*.swo
*.swm

# Sass
.sass-cache/

# Python
*.pyc
env

# Static files and components
/static
dnstorm/app/static/cache
dnstorm/components

# DNStorm
*.sqlite3
media
dnstorm/app/static/dnstorm/css/app.css

# Heroku project
dnstorm/settings/heroku.py

# Documentation
docs/_*
