{% load i18n %}

<form method="post" action="{% url "django.contrib.auth.views.login" %}">

    {% if form.errors %}
    <div class="row">
        <div class="columns large-12">
            <div class="panel error">
                {% trans "Wrong username and password." %}
            </div>
        </div>
    </div>
    {% endif %}

    {% csrf_token %}
    <input type="hidden" name="next" value="{% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.get_full_path }}{% endif %}" />
    <div class="row">
        <div class="columns large-12">
            {{ login_form.as_p }}
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <input type="submit" class="button success expand" value="{% trans 'Login' %}" />
        </div>
    </div>
    <div class="row">
        <div class="columns large-12">
            <a class="button secondary expand" href="{% url "registration_register" %}">{% trans "Create a DNStorm account" %}</a>
        </div>
    </div>
</form>
