{% load i18n %}

{% if breadcrumbs %}
<div class="upper-bar-wrap breadcrumbs-wrap show-for-medium-up">
    <div class="row">
        <div class="columns large-12">
            <nav class="upper-bar-inner breadcrumbs">
                <a href="{% url "home" %}">{% trans "Home" %}</a>
                {% for b in breadcrumbs %}
                    <a href="{{ b.url }}" {% if b.classes %}class="{{ b.classes }}"{% endif %}>{{ b.title }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
</div>
{% endif %}
