{% load i18n activity_tags avatar_tags display_name humanize %}

{# Activity stream #}

{% if user.is_authenticated %}
<div id="activity" class="scroll-box">
    <div class="row collapse">
        <div id="activity-box" class="columns large-12 scroll-box-inner">
            {% if user_activity %}
                {% for action in user_activity %}
                    <div class="row collapse">
                        <div class="columns large-12 activity-item scroll-box-item">
                            <div class="left avatar">{% avatar action.actor 32 %}</div>
                            <div class="info">{% display_action action %}<span class="subheader"> &diams; {{ action.timestamp|naturaltime }}</span></div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="row collapse">
                    <div class="columns large-12">
                        <p class="button expand secondary" disabled="disabled">{% trans "No activity so far." %}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if user_activity %}
            <div class="row collapse">
                <div class="columns large-12">
                    <a class="button small radius expand no-margin-bottom" href="{% url "activity" %}">{% trans "View all activities" %}</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endif %}
