{% extends "_base.html" %}
{% load humanize i18n captureas display_name %}

{% block bodyclass %}home{% endblock %}

{% block topbutton %}
    {% if user.is_authenticated %}
        <a class="button radius small right" href="{% url 'problem_create' %}"><i class="fi-page-add"></i>&nbsp;{% trans 'Create new problem' %}</a>
    {% endif %}
{% endblock %}

{% block content %}

    {% if problems %}

        {% for problem in problems %}
            <div class="row problem-row">

                {# Counters #}

                <div class="columns large-4 medium-4 show-for-medium-up">
                    {% include "part_counter.html" %}
                </div>

                {# Title and date #}

                <div class="problem-info columns large-8 medium-9 small-12">
                    <div class="row collapse">
                        <div class="columns large-12">
                            <h4>
                                {% if problem.published %}
                                    <a href="{% url "problem" problem.id problem.slug %}">{% if problem.title %}{{ problem.title }}{% else %}{% trans "No title" %}{% endif %}</a>
                                {% else %}
                                    <a href="{% url "problem_update" problem.id %}" class="draft">{% if problem.title %}{{ problem.title }}{% else %}{% trans "No title" %}{% endif %}</a>
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="columns large-12">
                            <h6 class="subheader"><i class="public {% if problem.public %}fi-web{% else %}fi-lock{% endif %}"></i>&nbsp;{% blocktrans with time=problem.last_activity|naturaltime %}last modified {{ time }}{% endblocktrans %} &diams; <a href="{% url "user" problem.author %}">{% display_name problem.author %}</a></h6>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

        {% include "part_pagination.html" with items=problems %}

    {% else %}

        {% if user.is_authenticated %}
            {% url "problem_create" as item_url %}
            {% captureas message %}
                {% blocktrans %}There's no problem available. <a class="button radius tiny" !Y!P href="{{ item_url }}">Why not create one?</a>{% endblocktrans %}
            {% endcaptureas %}
        {% else %}
            {% url "auth_register" as register_url %}
            {% url "auth_login" as login_url %}
            {% captureas message %}
                {% blocktrans %}There's no public problems available. You can <a class="button radius small" href="{{ login_url }}">log in</a> or <a class="button radius small" href="{{ register_url }}">create an account</a> to start!{% endblocktrans %}
            {% endcaptureas %}
        {% endif %}
        {% include "part_panel.html" with message=message icon="prohibited" %}

    {% endif %}

{% endblock %}
