{% extends "_base.html" %}
{% load avatar_tags humanize i18n %}

{% block bodyclass %}users{% endblock %}

{% block content %}

    {# Action butons #}

    <div class="row users-list">
        {% if users %}
            {% for user in users %}
                <div class="columns large-3">{% include "item_user.html" with clean=True show_actions=show_actions show_links=True show_date=False show_badges=True %}</div>

                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row users-list">
                {% endif %}

            {% endfor %}
        {% else %}
            {% trans "No users around here." as message %}
            {% include "part_panel.html" with message=message icon="prohibited" %}
        {% endif %}
    </div>

    <div class="row">
        <div class="columns large-12">
            {% include "part_pagination.html" with items=users %}
        </div>
    </div>

{% endblock %}
