{% extends "_base.html" %}
{% load crispy_forms_tags i18n captureas user_tags %}

{% block modals %}
    <div class="hide" id="comment-form">{% crispy comment_form %}</div>
{% endblock %}

{% block messages %}

    {# Draft mode #}

    {% if not problem.published %}
        {% captureas message %}
            {% blocktrans %}This is a preview mode from an unpublished draft. The problem is not available for user contribution until it is published.{% endblocktrans %}
        {% endcaptureas %}
        {% include "part_message.html" with icon="page-edit" message=message %}
    {% endif %}

{% endblock %}

{% block content %}

    <div class="row collapse">
    <div class="columns large-12 problem-detail">

        {# Description #}

        <div class="problem-tab problem-description">
            {% include "item_problem.html" %}
        </div>

        {# Criteria #}

        <div class="problem-tab problem-criteria">

            {% if user|criteria_create:problem %}
                <a class="button radius large-icon large-button text-left expand" href="{% url "criteria_create" problem.id %}"><i class="fi-plus"></i>{% trans "Click here to insert a new criteria." %}</a>
            {% endif %}

            {% if criteria %}
                {% for c in criteria %}
                    {% include "item_criteria.html" with criteria=c show_actions=True show_parameters=True show_users=True show_icons=True show_description=True show_comments=True %}
                {% endfor %}
            {% else %}
                {% trans "There's no criteria defined for this problem yet." as message %}
                {% include "part_panel.html" with icon="prohibited" message=message %}
            {% endif %}

        </div>

        {# Ideas list #}

        <div class="problem-tab problem-ideas">

            {% if ideas_drafts %}
                <h4>{% trans "Your idea drafts" %}</h4>
                {% for idea in ideas_drafts %}
                    {% include "item_idea.html" with show_likes=True show_actions=True show_comments=True %}
                {% endfor %}
            {% endif %}

            {% if user|problem_create %}
                <a class="button radius large-icon large-button text-left expand" href="{% url "idea_create" problem.id %}"><i class="fi-plus"></i>{% trans "Click here to insert a new idea." %}</a>
            {% endif %}

            {% if ideas %}
                {% if ideas %}
                    {% for idea in ideas %}
                        {% include "item_idea.html" with show_likes=True show_actions=True show_comments=True %}
                    {% endfor %}
                {% endif %}
            {% else %}
                {% trans "Ideas submission will be available when criteria are defined." as message %}
                {% include "part_panel.html" with icon="prohibited" message=message %}
            {% endif %}
        </div>

        {# Alternatives #}

        <div class="problem-tab problem-alternatives">

            {% if criteria and ideas %}

                {% if user|idea_create:problem %}
                    <a class="button radius large-icon large-button text-left expand" href="{% url "alternative_create" problem.id %}"><i class="fi-plus"></i>{% trans "Click here to insert a new alternative." %}</a>
                {% endif %}

                {% if alternatives %}
                    {% for alternative in alternatives %}
                        {% include "item_alternative.html" %}
                    {% endfor %}
                {% else %}
                    {% trans "There's no alternative created yet." as message %}
                    {% include "part_panel.html" with icon="prohibited" message=message %}
                {% endif %}

            {% else %}
                {% trans "Alternatives will be available when there's criteria and ideas." as message %}
                {% include "part_panel.html" with icon="prohibited" message=message %}
            {% endif %}

        </div>

        {# Results #}

        <div class="problem-tab problem-results">
            <script type="text/javascript">
                Chart.defaults.global.scaleIntegersOnly = false;
            </script>
            <div class="inner-tab">
                <h3>{% trans "Alternative preference from users" %}</h3>
                {% if alternatives %}
                    {% for alternative in alternatives %}
                        {% include "item_alternative_result.html" with mode="result" %}
                    {% endfor %}
                {% else %}
                    {% trans "There's no alternative to render data yet." as message %}
                    {% include "part_panel.html" with icon="prohibited" message=message %}
                {% endif %}
                <h3>{% trans "Criteria attendance from alternatives" %}</h3>
                {% if problem.criteria_results %}
                    {% for result in problem.criteria_results %}
                        <div class="row">
                            <div class="columns large-4">{% include "item_criteria.html" with criteria=result.criteria show_actions=False show_parameters=True show_icons=True show_description=True show_comments=False %}</h4></div>
                            <div class="columns large-8 text-left">
                                <canvas id="criteria-chart-{{ result.criteria.id }}" class="criteria-chart"></canvas>
                            </div>
                            <script type="text/javascript">
                                var data = {
                                    labels: [{% for alternative in result.alternatives %}'{{ alternative.name }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                                    datasets: [{
                                        label: "{% trans "Alternatives" %}",
                                        data: [{% for alternative in result.alternatives %}parseFloat({{ alternative.value }}){% if not forloop.last %},{% endif %}{% endfor %}]
                                    }]
                                };
                                var context = document.getElementById('criteria-chart-{{ result.criteria.id }}').getContext('2d');
                                var options = {
                                    animationSteps: 20,
                                    scaleShowValues: true,
                                    tooltipTemplate: "<%= value %>"
                                }
                                var chart = new Chart(context).Bar(data, options);
                            </script>
                        </div>
                    {% endfor %}
                {% else %}
                    {% captureas message %}
                        {% blocktrans %}There's not enough data to show criteria results.{% endblocktrans %}
                    {% endcaptureas %}
                    {% include "part_panel.html" with icon="prohibited" message=message %}
                {% endif %}
            </div>
        </div>

    </div>
    </div>


{% endblock %}
