{% extends "_base.html" %}
{% load crispy_forms_tags i18n captureas %}

{% block head %}
    {{ form.media }}
    <script type="text/javascript">
        var problem_id = {{ problem.id }};
    </script>
{% endblock %}

{% block bodyclass %}problem{% endblock %}

{% block modals %}
    {% if problem_perm_contribute %}

        {# Alternative removal confirmation #}

        <div id="alternative-delete-modal" class="reveal-modal tiny" data-reveal>
            <div class="row">
            <div class="columns large-12">
                <p>{% trans "Really remove this alternative?" %}</p>
            </div>
            </div>
            <div class="row">
            <div class="columns large-6">
                <a class="close-reveal-modal-button button small secondary radius no-margin-bottom">{% trans "Cancel" %}</a>
            </div>
            <div class="columns large-6 text-right">
                <a class="delete button alert radius no-margin-bottom delete-alternative-confirm">{% trans "Remove!" %}</a>
            </div>
            </div>
        </div>

        {# Edit alternatives #}

        <div id="alternative-edit" class="reveal-modal large" data-reveal>
            <a class="close-reveal-modal">&#215;</a>
            <h3>{% trans "Edit alternative" %}</h3>
            <form>
                {% crispy alternative_form %}
                <hr/>
                <div id="div_id_ideas" class="row collapse ideas-selector">
                    <div class="columns large-12">
                    {% for idea in ideas %}
                        <div class="row collapse problem-idea-modal" id="idea-{{ idea.id }}-modal-item">
                            <div class="columns large-1 text-center">
                                <i class="fi-check idea-status"></i>
                            </div>
                            <div class="columns large-11">
                                {% include "item_idea.html" with show_likes=False show_actions=False show_comments=False %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="large-12 text-right">
                        <a class="button success radius alternative-save">{% trans "Save" %}</a>
                    </div>
                </div>
            </form>
        </div>

    {% endif %}

    {% if problem_perm_contribute %}
        <div class="hide" id="comment-form">{% crispy comment_form %}</div>
    {% endif %}

{% endblock %}

{% block messages %}

    {# Draft mode #}

    {% if not problem.published %}
        {% url "problem_update" problem.id problem.slug as problem_update_url %}
        {% captureas message %}
            {% blocktrans %}This is a preview mode from an unpublished draft. The problem is not available for user contribution until it is published. <a class="left-1em button secondary tiny radius" href="{{ problem_update_url }}">Edit problem</a>{% endblocktrans %}
        {% endcaptureas %}
        {% include "part_message.html" with icon="page-edit" message=message %}
    {% endif %}

{% endblock %}

{% block content %}

    <div class="row collapse">
    <div class="columns large-12 problem-detail">

        {# Description #}

        <div class="problem-tab problem-description">

            {% if problem.open %}
                {% url "problem_update" problem.id as problem_link %}
                {% trans "This description is open for improvements. Click here to edit the problem description." as message %}
                {% include "part_panel.html" with icon="pencil" message=message link=problem_link %}
            {% else %}{% if problem_perm_edit %}
                {% url "problem_update" problem.id as problem_link %}
                {% trans "Click here to edit the problem description." as message %}
                {% include "part_panel.html" with icon="pencil" message=message link=problem_link %}
            {% else %}
                {% trans "The description is editable only by managers. Leave a comment with your improvement suggestions." as message %}
                {% include "part_panel.html" with icon="lock" message=message %}
            {% endif %} {% endif %}

            <div class="row">
            <div class="columns large-12 description">
                {{ problem.description|safe }}
            </div>
            </div>

            <div class="row users">
            <div class="columns large-3 large-offset-9">
                <h6 class="subheader">{% trans "Problem author" %}<h6>
                {% include "item_user.html" with user=problem.author date=problem.created show_links=True show_date=True show_badges=True %}
            </div>
            </div>

            {% if problem_perm_contribute %}

                {# Comments #}

                <div class="row">
                <div class="columns large-12 comments" id="comments-problem-{{ problem.id }}">
                    {% if comments %}
                        <h5 class="top-1em">{% trans "Comments" %}</h5>
                        {% for comment in comments %}
                            {% include "item_comment.html" %}
                        {% endfor %}
                    {% endif %}
                </div>
                </div>

                {# Comment form for the problem description #}

                {% if problem_perm_contribute %}
                    <div class="row">
                    <div class="columns large-12 comment-form hide" id="comment-form-problem-{{ problem.id }}" data-problem="{{ problem.id }}"></div>
                    </div>
                {% endif %}

                {# Comment button #}

                <div class="row top-1em">
                    <div class="columns large-12">
                        <a class="action-button comment-button" data-problem="{{ problem.id }}" href="javascript:void(0);"><i class="fi-comments"></i>&nbsp;{% trans "Comment" context "verb" %}</a>
                    </div>
                </div>

            {% endif %}

        </div>

        {# Criteria #}

        <div class="problem-tab problem-criteria">

            {% if problem.open %}
                {% url "criteria_create" problem.id as criteria_link %}
                {% trans "Anyone can give a criteria to this problem. Click here to insert a new criteria." as message %}
                {% include "part_panel.html" with icon="plus" message=message link=criteria_link %}
            {% else %}{% if problem_perm_manage %}
                {% url "criteria_create" problem.id as criteria_link %}
                {% trans "Click here to insert a new criteria." as message %}
                {% include "part_panel.html" with icon="plus" message=message link=criteria_link %}
            {% else %}
                {% trans "Only managers can give criteria to this problem. Leave a comment with your improvement suggestions." as message %}
                {% include "part_panel.html" with icon="lock" message=message %}
            {% endif %} {% endif %}

            {% if criteria %}
                {% for c in criteria %}
                    {% include "item_criteria.html" with criteria=c show_actions=False show_parameters=True show_icons=True show_description=True show_comments=True %}
                {% endfor %}
            {% else %}
                {% trans "There's no criteria defined for this problem yet." as message %}
                {% include "part_panel.html" with icon="prohibited" message=message %}
            {% endif %}
        </div>

        {# Ideas list #}

        <div class="problem-tab problem-ideas">

            {% if problem.criteria_set.all|length > 0 %}

                {% if problem_perm_contribute %}
                    {% url "idea_create" problem.id as idea_link %}
                    {% trans "Click here to insert a new idea." as message %}
                    {% include "part_panel.html" with icon="plus" message=message link=idea_link %}
                {% endif %}

                {% if ideas %}
                    {% for idea in ideas %}
                        {% include "item_idea.html" with show_likes=True show_actions=True show_comments=True %}
                    {% endfor %}
                {% endif %}

            {% else %}
                {% trans "Ideas submission will be available when criteria are defined." as message %}
                {% include "part_panel.html" with icon="prohibited" message=message %}
            {% endif %}
        </div>

        {# Alternatives #}

        <div class="problem-tab problem-alternatives">

            {% if problem.criteria_set.all|length > 0 and ideas %}

                {% if problem_perm_contribute %}
                    {% trans "Click here to insert a new alternative." as message %}
                    {% include "part_panel.html" with icon="plus" message=message class="new-alternative" link="javascript:void(0)" %}
                {% endif %}

                {% if alternatives %}
                    {% for alternative in alternatives %}
                        {% include "item_alternative.html" %}
                    {% endfor %}
                {% else %}
                    {% trans "There's no alternative created yet." as message %}
                    {% include "part_panel.html" with icon="prohibited" message=message %}
                {% endif %}

            {% else %}
                {% trans "Alternatives will be available when there's criteria and ideas." as message %}
                {% include "part_panel.html" with icon="prohibited" message=message %}
            {% endif %}

        </div>

        {# Results #}

        <div class="problem-tab problem-results">
            <script type="text/javascript">
                Chart.defaults.global.scaleIntegersOnly = false;
            </script>
            <div class="inner-tab">
                <h4>{% trans "Alternative preference from users" %}</h4>
                {% if alternatives %}
                    {% for alternative in alternatives %}
                        {% include "item_alternative.html" with mode="result" %}
                    {% endfor %}
                {% else %}
                    {% trans "There's no alternative to render data yet." as message %}
                    {% include "part_panel.html" with icon="prohibited" message=message %}
                {% endif %}
                <h4>{% trans "Criteria attendance from alternatives" %}</h4>
                {% if problem.criteria_results %}
                    {% for result in problem.criteria_results %}
                        <div class="row">
                            <div class="columns large-4">{% include "item_criteria.html" with criteria=result.criteria show_actions=False show_parameters=True show_icons=True show_description=True show_comments=False %}</h4></div>
                            <div class="columns large-8 text-left">
                                <canvas id="criteria-chart-{{ result.criteria.id }}" class="criteria-chart"></canvas>
                            </div>
                            <script type="text/javascript">
                                var data = {
                                    labels: [{% for alternative in result.alternatives %}'{{ alternative.name }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                                    datasets: [{
                                        label: "{% trans "Alternatives" %}",
                                        data: [{% for alternative in result.alternatives %}parseFloat({{ alternative.value }}){% if not forloop.last %},{% endif %}{% endfor %}]
                                    }]
                                };
                                var context = document.getElementById('criteria-chart-{{ result.criteria.id }}').getContext('2d');
                                var options = {
                                    animationSteps: 20,
                                    scaleShowValues: true,
                                    tooltipTemplate: "<%= value %>"
                                }
                                var chart = new Chart(context).Bar(data, options);
                            </script>
                        </div>
                    {% endfor %}
                {% else %}
                    {% captureas message %}
                        {% blocktrans %}There's not enough data to show criteria results.{% endblocktrans %}
                    {% endcaptureas %}
                    {% include "part_panel.html" with icon="prohibited" message=message %}
                {% endif %}
            </div>
        </div>

    </div>
    </div>


{% endblock %}
