{% extends "_base.html" %}
{% load avatar_tags humanize crispy_forms_tags i18n display_name captureas %}

{% block bodyclass %}activity{% endblock %}

{% block content %}

    {% captureas page_number %}
        {% blocktrans with activities.number as number %}Page {{ number }}{% endblocktrans %}
    {% endcaptureas %}

    <div class="row">
        <div class="columns large-3 activity-info">

            {% if problem %}

            {# Problem #}

                <div class="row problem-date">
                    <div class="columns large-12">
                        <h6 class="subheader"><i class="fi-clock"></i>&nbsp;{% blocktrans with created=problem.created|date:"d F Y" %}Created at {{ created }}{% endblocktrans %}</h6>
                    </div>
                </div>

                <div class="row collapse problem-counter bottom-1em">
                    <div class="columns large-12">
                        <a class="button secondary expand" href="{{ problem.get_absolute_url }}">
                            <em class="number">{{ activity_count }}</em>
                            <em class="description">{% trans "activities" %}</em>
                        </a>
                    </div>
                </div>
                {% include "part_counter.html" %}
                <div class="row problem-collaborators top-1em">
                    <div class="columns large-12">
                        <h6 class="subheader"><i class="fi-torso"></i>&nbsp;{% trans "Collaborators" %}</h6>
                        {% for user in problem.collaborator.all %}
                            {% if user.is_staff %}
                                <a class="avatar left" data-tooltip title="{% display_name user %}" href="{% url "user" user.username %}">{% avatar user 32 %}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            {# User profile #}

            {% else %} {% if profile %}

                <div class="row collapse activity-sidebar-avatar">
                    <div class="columns large-12 text-center">{% avatar profile 256 %}</div>
                </div>
                <h4>{% display_name profile %}</h4>
                <div class="row collapse problem-counter">
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ profile.problem_count }}</em>
                            <em class="description">{% if profile.problem_count > 1 or profile.problem_count = 0 %}{% trans "problems" %}{% else %}{% trans "problem" %}{% endif %}</em>
                        </a>
                    </div>
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ profile.idea_count }}</em>
                            <em class="description">{% if profile.idea_count > 1 or profile.idea_count = 0 %}{% trans "ideas" %}{% else %}{% trans "idea" %}{% endif %}</em>
                        </a>
                    </div>
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ profile.comment_count }}</em>
                            <em class="description">{% if profile.comment_count > 1 or profile.comment_count = 0 %}{% trans "comments" %}{% else %}{% trans "comment" %}{% endif %}</em>
                        </a>
                    </div>
                </div>
                <h6 class="subheader activity-date"><i class="fi-clock"></i>&nbsp;{% blocktrans with date_joined=profile.date_joined|date:"d F Y" %}Joined in {{ date_joined }}{% endblocktrans %}</h6>

            {# Sitewide #}

            {% else %}

                <div class="row collapse problem-counter">
                    {% if problem_count >= 0 %}
                        <div class="columns large-4 counter">
                            <a class="button secondary expand disabled">
                                <em class="number">{{ problem_count }}</em>
                                <em class="description">{% if problem_count > 1 or problem_count = 0 %}{% trans "problems" %}{% else %}{% trans "problem" %}{% endif %}</em>
                            </a>
                        </div>
                    {% endif %}
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ idea_count }}</em>
                            <em class="description">{% if idea_count > 1 or idea_count = 0 %}{% trans "ideas" %}{% else %}{% trans "idea" %}{% endif %}</em>
                        </a>
                    </div>
                    {% if alternative_count >= 0 %}
                        <div class="columns large-4 counter">
                            <a class="button secondary expand disabled">
                                <em class="number">{{ alternative_count }}</em>
                                <em class="description">{% if alternative_count > 1 or alternative_count = 0 %}{% trans "alternative" %}{% else %}{% trans "alternative" %}{% endif %}</em>
                            </a>
                        </div>
                    {% endif %}
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ comment_count }}</em>
                            <em class="description">{% if comment_count > 1 or comment_count = 0 %}{% trans "comments" %}{% else %}{% trans "comment" %}{% endif %}</em>
                        </a>
                    </div>
                </div>

            {% endif %} {% endif %}

        </div>
        <div class="columns large-9 activity-list">
            {% if activities %}
                {% for action in activities %}
                    {% include "item_activity.html" with show_comments=True %}
                {% endfor %}
            {% else %}
                {% trans "No activity so far." as message %}
                {% include "part_panel.html" with message=message icon="prohibited" %}
            {% endif %}
        </div>
    </div>
    <div class="row collapse">
       <div class="columns large-12">{% include "part_pagination.html" with items=activities %}</div>
    </div>

{% endblock %}
