{% extends "_base.html" %}
{% load avatar_tags humanize crispy_forms_tags i18n display_name captureas %}

{% block bodyclass %}activity{% endblock %}

{% block content %}

    {% captureas page_number %}
        {% blocktrans with activities.number as number %}Page {{ number }}{% endblocktrans %}
    {% endcaptureas %}

    {% if profile %}
        {% if user_perm_manage %}
            <div class="row collapse bottom-1em">
                {# Action butons #}
                <div class="columns large-12">
                    <a class="action-button edit-user" href="{% url "user_update" profile.username %}"><i class="fi-pencil"></i>&nbsp;{% trans "Edit user info" %}</a>
                    <a class="action-button inactivate-user" href="{% url "user_inactivate" profile.username %}"><i class="fi-prohibited"></i>&nbsp;{% trans "Inactivate user" %}</a>
                </div>
            </div>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="columns large-3 activity-info stickable">

            {% if problem %}

            {# Problem #}

                {% include "part_counter.html" %}
                <h6 class="subheader activity-date"><i class="fi-clock"></i>&nbsp;{% blocktrans with created=problem.created|date:"d F Y" %}Created at {{ created }}{% endblocktrans %}</h6>
                {% if problem.criteria_set.all|length > 0 %}
                    {% for c in problem.criteria_set.all %}
                        {% include "item_criteria.html" with criteria=c show_actions=False show_parameters=True show_icons=True show_description=True show_comments=False %}
                    {% endfor %}
                {% else %}
                    {% trans "No criteria defined." as message %}
                    {% include "part_panel.html" with message=message icon="prohibited" %}
                {% endif %}

            {# User profile #}

            {% else %} {% if profile %}

                <div class="row collapse activity-sidebar-avatar">
                    <div class="columns large-12 text-center">{% avatar profile 256 %}</div>
                </div>
                <h4>{% display_name profile %}</h4>
                <div class="row collapse problem-counter">
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ profile.problem_count }}</em>
                            <em class="description">{% if profile.problem_count > 1 or profile.problem_count = 0 %}{% trans "problems" %}{% else %}{% trans "problem" %}{% endif %}</em>
                        </a>
                    </div>
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ profile.idea_count }}</em>
                            <em class="description">{% if profile.idea_count > 1 or profile.idea_count = 0 %}{% trans "ideas" %}{% else %}{% trans "idea" %}{% endif %}</em>
                        </a>
                    </div>
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ profile.comment_count }}</em>
                            <em class="description">{% if profile.comment_count > 1 or profile.comment_count = 0 %}{% trans "comments" %}{% else %}{% trans "comment" %}{% endif %}</em>
                        </a>
                    </div>
                </div>
                <h6 class="subheader activity-date"><i class="fi-clock"></i>&nbsp;{% blocktrans with date_joined=profile.date_joined|date:"d F Y" %}Joined in {{ date_joined }}{% endblocktrans %}</h6>

            {# Sitewide #}

            {% else %}

                <div class="row collapse problem-counter">
                    {% if problem_count >= 0 %}
                        <div class="columns large-4 counter">
                            <a class="button secondary expand disabled">
                                <em class="number">{{ problem_count }}</em>
                                <em class="description">{% if problem_count > 1 or problem_count = 0 %}{% trans "problems" %}{% else %}{% trans "problem" %}{% endif %}</em>
                            </a>
                        </div>
                    {% endif %}
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ idea_count }}</em>
                            <em class="description">{% if idea_count > 1 or idea_count = 0 %}{% trans "ideas" %}{% else %}{% trans "idea" %}{% endif %}</em>
                        </a>
                    </div>
                    {% if alternative_count >= 0 %}
                        <div class="columns large-4 counter">
                            <a class="button secondary expand disabled">
                                <em class="number">{{ alternative_count }}</em>
                                <em class="description">{% if alternative_count > 1 or alternative_count = 0 %}{% trans "alternative" %}{% else %}{% trans "alternative" %}{% endif %}</em>
                            </a>
                        </div>
                    {% endif %}
                    <div class="columns large-4 counter">
                        <a class="button secondary expand disabled">
                            <em class="number">{{ comment_count }}</em>
                            <em class="description">{% if comment_count > 1 or comment_count = 0 %}{% trans "comments" %}{% else %}{% trans "comment" %}{% endif %}</em>
                        </a>
                    </div>
                </div>

            {% endif %} {% endif %}

        </div>
        <div class="columns large-9 activity-list">
            {% if activities %}
                {% for action in activities %}
                    {% include "item_activity.html" with show_comments=True %}
                {% endfor %}
            {% else %}
                {% trans "No activity so far." as message %}
                {% include "part_panel.html" with message=message icon="prohibited" %}
            {% endif %}
        </div>
    </div>
    <div class="row collapse">
       <div class="columns large-12">{% include "part_pagination.html" with items=activities %}</div>
    </div>

{% endblock %}
