{% extends "_base.html" %}
{% load i18n crispy_forms_tags %}

{% block head %}
    {{ form.media }}
    <script type="text/javascript">
        var problem_id = {{ problem.id }};
    </script>
{% endblock %}

{% block bodyclass %}problem-collaborators{% endblock %}

{% block content %}

    <div class="row">
        <div class="columns large-12">
            {% if problem_perm_manage %}
                {% crispy form %}
            {% else %}
                {% include "item_user_collaborator.html" %}
            {% endif %}
        </div>
    </div>

{% endblock %}
