{% extends "_base.html" %}
{% load crispy_forms_tags i18n %}

{% block bodyclass %}problem-edit{% endblock %}

{% block head %}
    {{ form.media }}
    <script type="text/javascript">
        var problem_id = {{ problem.id }};
    </script>
{% endblock %}

{% block modals %}
    {% include "modal_delete.html" %}
{% endblock %}

{% block content %}

    <div class="hidden" id="criteria-form">{% include "item_criteria.html" %}</div></div>

    <div class="row">
        <div class="columns large-12">
            <h3>{{ title }}</h3>
        </div>
    </div>

    <div class="row bottom-1em">
        <div class="columns large-12">
            <a class="action-button" href="{% url "problem" problem.id problem.slug %}"><i class="fi-page"></i>&nbsp;{% if problem.published %}{% trans "View published problem" %}{% else %}{% trans "Preview this problem" %}{% endif %}</a>
            <a class="action-button" href="{% url "problem_activity" problem.id problem.slug %}"><i class="fi-list"></i>&nbsp;ver log de atividades</a>
        </div>
    </div>

    <div class="row">
        <div class="columns large-12">
            {% crispy form %}
        </div>
    </div>

{% endblock %}
