{% load gravatar humanize i18n %}

{% with item.user as user and item.date|naturaltime as item_date %}
{% url "user" item.user.username as user_url %}

<div class="activity-item bottom-1em row collapse">

    <div class="activity-avatar columns {% if sidebar %}large-3 hide-for-medium-down{% else %}large-1{% endif %} medium-2 small-2">
        <a class="th radius left" href="{{ user_url }}"><img src="{% if sidebar %}{% gravatar_for_email item.user.email 32 %}{% else %}{% gravatar_for_email item.user.email 64 %}{% endif %}" /></a>
    </div>

    <div class="activity-info columns {% if sidebar %}large-9{% else %}large-11{% endif %} medium-10 small-10">
    <p class="no-margin-bottom">

    {% if item.problem %}

        {% with item.problem.title as problem_title %}
        {% url "problem" item.problem.slug as problem_url %}

        {% if item.status == "created" %}
            {% blocktrans %}<a href="{{ user_url }}">{{ user }}</a> created the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
        {% else %} {% if item.status == "updated" %}
            {% blocktrans %}<a href="{{ user_url }}">{{ user }}</a> updated the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
        {% endif %} {% endif %}

        {% endwith %}

    {% else %} {% if item.idea %}

        {% with item.idea.title as idea_title and item.idea.problem.title as problem_title %}
        {% url "problem" item.idea.problem.slug as problem_url %}
        {% url "idea" item.idea.problem.slug item.idea.id as idea_url %}

        {% if item.status == "created" %}
            {% blocktrans %}<a href="{{ user_url }}">{{ user }}</a> contributed with the idea <a href="{{ idea_url }}">{{ idea_title }}</a> if the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
        {% else %} {% if item.status == "updated" %}
            {% blocktrans %}<a href="{{ user_url }}">{{ user }}</a> updated the idea <a href="{{ idea_url }}">{{ idea_title }}</a> of the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
        {% endif %} {% endif %}

        {% endwith %}

    {% else %} {% if item.comment %}

        {% if item.comment.problem %}

            {% with item.comment.problem.title as problem_title %}
            {% url "problem" item.comment.problem.slug as problem_url %}
            {% url "comment" item.comment.problem.slug item.comment.id as comment_url %}

            {% blocktrans %}<a href="{{ user_url }}">{{ user }}</a> <a href="{{ comment_url }}">commented</a> the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}

            {% endwith %}

        {% else %} {% if item.comment.idea %}

            {% with item.comment.idea.problem.title as problem_title and item.comment.idea.title as idea_title %}
            {% url "problem" item.comment.idea.problem.slug as problem_url %}
            {% url "idea" item.comment.idea.problem.slug item.comment.idea.id as idea_url %}
            {% url "comment" item.comment.idea.problem.slug item.comment.id as comment_url %}

            {% blocktrans %}<a href="{{ user_url }}">{{ user }}</a> <a href="{{ comment_url }}">commented</a> the idea <a href="{{ idea_url }}">{{ idea_title }}</a> of the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}

            {% endwith %}

        {% endif %} {% endif %}

    {% endif %} {% endif %} {% endif %}

    </p>

    <span class="label secondary radius no-margin-bottom">{{ item_date }}</span>

    {% if not sidebar and item.detail %}
        <div class="detail html-diff hide-for-medium-down">{{ item.detail|safe }}</div>
    {% endif %}

    </div>

</div>

{% endwith %}
