{% load i18n %}

<tr class="alternative" id="alternative-{{ alternative.id }}" data-alternative="{{ alternative.id }}">

    <td class="alternative-order">
    <div class="cell-wrap">
        {{ alternative.order }}
    </div>
    </td>

    <td class="alternative-vote{% if alternative.voted %} voted{% endif %}">
        <div class="cell-wrap">
            <i class="fi-lightbulb"></i>&nbsp;<span class="vote-count">{{ alternative.vote_count }}</span>
        </div>
    </td>

    <td class="alternative-ideas">
        <div class="cell-wrap">
            {% for idea in alternative.idea.all %}
                <a class="button tiny secondary radius" data-idea="{{ idea.id }}" href="{% url "idea" idea.problem.slug idea.id %}">{{ idea.title }}</a>
            {% endfor %}
        </div>
    </td>

    {% for criteria in alternative.criteria %}
        <td class="alternative-stars">
            <div class="cell-wrap">
                <div class="stars-wrap">
                    <div class="stars" style="width:{{ criteria.star_ratio }}%">
                        <i class="fi-star seledted"></i>
                        <i class="fi-star seledted"></i>
                        <i class="fi-star seledted"></i>
                        <i class="fi-star seledted"></i>
                        <i class="fi-star seledted"></i>
                    </div>
                </div>
            </div>
        </td>
        <td class="alternative-stars-ratio">
            <div class="cell-wrap">
                <span class="star-ratio label tiny radius secondary no-margin-bottom">{{ criteria.star_ratio }}%</span>
            </div>
        </td>
    {% endfor %}

    <td class="text-center"><a class="total-ratio text-bold button small radius no-margin-bottom">{{ alternative.total_ratio }}%</a></td>

    {% if problem_perm_manage %}
        <td>
            <div class="cell-wrap">
                <a class="select-ideas add-icon button success tiny radius left" data-alternative="{{ alternative.id }}" title="{% trans "Select ideas for this alternative" %}"><i class="fi-pencil"></i></a>
                <a class="delete-icon delete-alternative button alert tiny radius left" data-alternative="{{ alternative.id }}" title="{% trans "Delete alternative" %}"><i class="fi-x"></i></a>
            </div>
        </td>
    {% endif %}

</tr>
