{% load staticfiles i18n activity_tags avatar_tags %}<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% if site_title %}{{ site_title }} | {{ options.site_title }}{% else %}{{ options.site_title }}{% endif %}</title>
    <link rel="icon" href="{% static "img/favicon.ico" %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/app.css' %}" media="screen, projection" />
    <link type="text/css" rel="stylesheet" href="{% static "css/foundation-icons.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "css/jquery.jscrollpane.css" %}" />
    <script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.ui.custom.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.jscrollpane.min.js" %}"></script>
    <script type="text/javascript" src="{% url "jsi18n" %}"></script>
    {% block head %}{% endblock %}
</head>
<body class="{% block bodyclass %}{% endblock %}">

<div id="response-error-modal" class="reveal-modal small" data-reveal>
    <div class="row">
    <div class="columns large-12">
        <h4>{% trans "Ooops... server error. Sorry." %}</h4>
        <p>{% trans "There was something wrong with your request and we don't know what happened. Please contact your system administrator if this problem persists." %}</p>
    </div>
    <div class="columns large-12">
        <a class="close-reveal-modal-button button secondary radius right alert no-margin-bottom">{% trans "OK" %}</a>
    </div>
    </div>
</div>

{% block modals %}{% endblock %}

<div class="contain-to-grid">
<nav class="top-bar">

    {# Small devices section #}

    <section class="hide-for-medium-up">
        <a class="left-off-canvas-toggle menu-icon"><span></span></a>
    </section>
    <section class="middle tab-bar-section hide-for-medium-up">
        <h1><a id="logo" href="{% url "home" %}">DNStorm</a></h1>
    </section>

    {# Medium and large devices section #}

    <section class="top-bar-section hide-for-small">
        <ul class="left">
            <li class="divider"></li>
            <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url "criterias" %}">{% trans "Criterias" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url "users" %}">{% trans "Users" %}</a></li>
            <li class="divider"></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "activity" %}">{% trans "Activity" %}</a></li>
                <li class="divider"></li>
            {% endif %}
        </ul>
        <ul class="right">
            {% if user.is_authenticated %}
                <li class="divider"></li>
                <li class="has-icon notification notification-icon{% if user_activity_counter > "0" %} alert{% endif %}"><a href="javascript:void(0);"><i class="fi-lightbulb"></i><span class="counter">{{ user_activity_counter }}</span></a></li>
                <li class="divider"></li>
                {% block topicon %}{% endblock %}
                {% if user.is_superuser %}
                    <li class="has-icon"><a href="{% url "options" %}"><i class="fi-widget"></i></a></li>
                    <li class="divider"></li>
                {% endif %}
                <li class="divider"></li>
                <li class="has-icon torso"><a href="{% url "user" user %}"><i class="fi-torso"></i></a></li>
                <li><a href="{% url "user" user %}">{{ user.get_full_name|default:user.username }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ logout_url }}">{% trans 'Logout' %}</a></li>
            {% else %}
                <li class="divider"></li>
                <li><a href="{{ login_url }}">{% trans 'Login' %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url "registration_register" %}">{% trans 'Register' %}</a></li>
            {% endif %}
            <li class="divider"></li>
        </ul>
    </section>

</nav>
</div>

{% block breadcrumbs %}
{% if breadcrumbs %}
<div class="upper-bar-wrap breadcrumbs-wrap show-for-medium-up">
<div class="row">
    <div class="columns large-12">
        <nav class="upper-bar-inner breadcrumbs">
            <a href="{% url "home" %}">{% trans "Home" %}</a>
            {% for b in breadcrumbs %}
                <a href="{{ b.url }}" {% if b.classes %}class="{{ b.classes }}"{% endif %}>{{ b.title }}</a>
            {% endfor %}
        </nav>
    </div>
</div>
</div>
{% endif %}
{% endblock %}

<div class="bottom-1em"></div>

<div class="row show-for-medium-up" id="header-wrap">

    {# Activity stream #}

    {% if user.is_authenticated %}
    <div id="activity" class="hide">
        <div id="activity-box">
        {% if user_activity %}
            {% for action in user_activity %}
                <div class="row collapse">
                    <div class="columns large-12 activity-item">
                        <div class="left avatar">{% avatar action.actor 32 %}</div>
                        <div class="info">{% display_action action %}</div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="row collapse">
                <div class="columns large-12">
                    <p class="button expand secondary" disabled="disabled">{% trans "No activity so far." %}</p>
                </div>
            </div>
        {% endif %}
        </div>
        {% if user_activity %}
            <div class="row">
                <div class="columns large-12">
                    <a class="button small secondary radius expand no-margin-bottom" href="{% url "activity" %}">{% trans "View all activities" %}</a>
                </div>
            </div>
        {% endif %}
    </div>
    {% endif %}

    <div class="columns large-4 medium-4 text-left">
        <h1><a id="logo" href="{% url "home" %}">DNStorm</a></h1>
    </div>
    <div class="columns top-buttons large-8 medium-8">
        {% if user.is_authenticated %}
            <a class="button radius small right" href="{% url 'problem_new' %}"><i class="fi-page-add"></i>&nbsp;{% trans 'Create new problem' %}</a>
        {% endif %}
        {% block topbutton %}{% endblock %}
    </div>
</div>

{% block content %}{% endblock %}

<footer>
<div class="row">
    <div class="columns large-12 text-center">
        <p class="text-center"><a class="logo-faded" href="{{ dnstorm_url }}">DNStorm</a></p>
        <p class="text-center">{{ options.site_title }} &mdash; {{ options.site_description }}</p>
        <p class="text-center">{% blocktrans with "http://www.gnu.org/licenses/gpl-2.0.txt" as gpl_url %}<a href="{{ dnstorm_url }}">DNStorm</a> is a free softwares licensed under the <a href="{{ gpl_url }}">GPL2</a> license{% endblocktrans %}</p>
        </div>
    </div>
</footer>

<script type="text/javascript" src="{% static "js/foundation.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>

</body>
</html>
