{% extends "base.html" %}
{% load avatar_tags i18n static %}

{% block scripts" %}<script type="text/javascript" src="{% static "dnstorm/js/htmldiff.js %}"></script>{% endblock %}

{% block bodyclass %}problem-revision{% endblock %}

{% block content %}

    <div class="row detail-title">
    <div class="columns content large-12">
        <h3>{% block title %}{% endblock %}</h3>
    </div>
    </div>

    <div class="row">
    <div class="columns large-9 revisions">

        <hr/>

        {% for revision in revisions %}
            <div class="revision" id="revision-{{ revision.id }}">

                <div class="row">
                <div class="columns large-12">
                    <div class="raw">
                        <h3>{{ revision.title }}</h3>
                        {{ revision.description|safe }}
                    </div>
                    <div class="diff"></div>
                </div>
                </div>

                <div class="row">
                <div class="columns large-5 large-offset-7">
                    <div class="user-box alignright">
                        <div class="row collapse">
                        <div class="columns large-10">
                            <a class="contributed" href="{{ request.get_full_path }}#revision-{{ revision.id }}">{% trans "edited" %} {{ revision.modified|date:"d b Y" }} {% trans "at" %} {{ revision.modified|date:"H:i" }}</a><br/>
                            <a class="username" href="{% url "user" revision.author.username %}">{{ revision.author.username }}</a>
                        </div>
                        <div class="columns large-2">
                            <a class="avatar"><img src="{% avatar revision.author 32 %}" /></a>
                        </div>
                        </div>
                    </div>
                </div>
                </div>

            </div>
            <hr/>
        {% endfor %}

    </div>
    <div class="columns sidebar large-3">
        {% block sidebar %}{% endblock %}
    </div>
    </div>

{% endblock %}
