{% extends "base.html" %}
{% load avatar_tags humanize i18n %}

{% block bodyclass %}criterias{% endblock %}

{% block topbutton %}
    {% if problem %}
        <a class="button secondary small radius right" href="{% url "problem" problem.slug %}"><i class="fi-arrow-left"></i>&nbsp;{% trans "Go back to problem" %}</a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="row">
    <div class="columns large-12">

    {% if criterias %}

        <div class="row">
            <div class="columns large-12">
                <h3>{% trans "Criterias created by you" %}</h3>
            </div>
        </div>

        {% for criteria in criterias %}

            <div class="row list-item criteria-list-item">
                <div class="columns large-3">
                    {% include "criteria_button.html" %}
                </div>
                <div class="columns large-7 criteria-description">
                    {{ criteria.description }}
                </div>
                <div class="columns large-2"><a href="{% url "criteria_update" criteria.slug %}" class="button secondary tiny radius right"><i class="fi-pencil"></i>&nbsp;{% trans "Edit" %}</a></div>
            </div>

        {% endfor %}

        <div class="row">
            <div class="columns large-12">
                {% include "pagination.html" with items=criterias %}
            </div>
        </div>

    {% else %}

        <div class="row">
            <div class="columns large-12">
                <div class="panel secondary">{% trans "You haven't created any criterias yet." %}</div>
            </div>
        </div>

    {% endif %}

    </div>
    </div>

{% endblock %}
