{% load i18n remove_tags paragraphs %}<h5>{{ problem.title }}</h5>

{{ problem.description|remove_tags|paragraphs|safe }}

{% for criteria in problem.criteria_set.all %}
<p><i class="fi-info"></i>&nbsp;{{ criteria.name }}</p>
{% endfor %}

<p>{% if problem.public %}<i class="fi-unlock"></i>&nbsp;{% trans "Public" %}{% else %}<i class="fi-lock"></i>&nbsp;{% trans "Private" %}{% endif %}</p>
<p><i class="fi-pencil"></i>&nbsp;{% if problem.open %}{% trans "Open for edition" %}{% else %}{% trans "Closed for edition" %}{% endif %}</p>
