{% extends "base.html" %}
{% load humanize i18n captureas display_name %}

{% block bodyclass %}home{% endblock %}

{% block topbutton %}
    {% if user.is_authenticated %}
        <a class="button radius small right" href="{% url 'problem_create' %}"><i class="fi-page-add"></i>&nbsp;{% trans 'Create new problem' %}</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h3>{% trans "Problems" %}{% if criteria %} &mdash; {% trans "criteria" %} {{ criteria.name }}{% endif %}</h3>

    {% if problems %}

        {% for problem in problems %}
            <div class="row list-item">

                {# Counters #}

                <div class="columns large-4 medium-4 show-for-medium-up">
                    {% include "problem_counter.html" %}
                </div>

                {# Title and date #}

                <div class="problem-info columns large-8 medium-9 small-12">
                    <div class="row collapse">
                        <div class="columns large-12">
                            <h4>
                                {% if problem.published %}
                                    <a href="{% url "problem" problem.id problem.slug %}">{{ problem.title }}</a>
                                {% else %}
                                    <a href="{% url "problem_update" problem.id %}">{% if problem.title %}{{ problem.title }}{% else %}{% trans "No title" %}{% endif %}</a>
                                {% endif %}
                            </h4>
                        </div>
                    </div>
                    <div class="row collapse">
                        <div class="columns large-12">
                            <h6 class="subheader">{% blocktrans with time=problem.last_activity|naturaltime %}last modified {{ time }}{% endblocktrans %} &diams; <a href="{% url "user" problem.author %}">{% display_name problem.author %}</a></h6>
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}

        {% include "pagination.html" with items=problems %}

    {% else %}

        {% if user.is_authenticated %}
            {% url "problem_create" as item_url %}
            {% captureas message %}
                {% blocktrans %}No problem here. You can start by <a href="{{ item_url }}">creating a new one</a>.{% endblocktrans %}
            {% endcaptureas %}
        {% else %}
            {% url "auth_login" as item_url %}
            {% captureas message %}
                {% blocktrans %}Hi! There's no problem around for you. Try <a href="{{ item_url }}">loggin in</a> and creating a new one.{% endblocktrans %}
            {% endcaptureas %}
        {% endif %}
        {% include "panel.html" with message=message icon="prohibited" %}

    {% endif %}

{% endblock %}
