{% extends "base.html" %}
{% load humanize i18n %}

{% block bodyclass %}home{% endblock %}

{% block content %}

    <div class="row">

    <div class="large-9 columns content problem-list">

        {% if criteria %}
            <h2>{% blocktrans with criteria.name as criteria_name %}Problems with the criteria "{{ criteria_name }}"{% endblocktrans %}</h2>
            {% if criteria.description %}
                <div class="panel radius secondary">
                    <p>{{ criteria.description }}</p>
                     {% if perms.criteria.can_edit %}<span class="label secondary radius right"><a href="{% url "criteria_edit" criteria.slug %}">{% trans "Edit this criteria" %}</a></span>{% endif %}
                    {% if criteria.parent %}<p><a class="button-criteria" href="{% url "criteria" criteria.parent.slug %}" title="{{ criteria.parent.description }}" data-tooltip>{{ criteria.parent.name }}</a></p>{% endif %}
                </div>
            {% endif %}
        {% endif %}

        {% if problems %}
        {% for problem in problems %}

            <div class="row collapse list-item problem-list-item">
            <div class="columns large-3 medium-3 show-for-medium-up">
                <div class="counter problem-idea-counter left">
                    <span class="number">{{ problem.idea_count }}</span>
                    <span class="description">{% if problem.idea_count > 1 or problem.idea_count = 0 %}{% trans "ideas" %}{% else %}{% trans "idea" %}{% endif %}</span>
                </div>
                <div class="counter problem-alternative-counter left">
                    <span class="number">{{ problem.alternative_count }}</span>
                    <span class="description">{% if problem.alternative_count > 1 or problem.alternative_count = 0 %}{% trans "alternatives" %}{% else %}{% trans "alternative" %}{% endif %}</span>
                </div>
            </div>
            <div class="problem-info columns large-9 medium-9 small-12">
                <h4><a href="{% url "problem" problem.slug %}">{{ problem.title }}</a></h4>
                <p class="problem-criteria left no-margin-bottom">
                    {% for criteria in problem.criteria.all %}
                        {% include "criteria_button.html" %}
                    {% endfor %}
                </p>
                <h6 class="subheader right">{{ problem.modified|naturaltime }}</h6>
            </div>
            </div>

        {% endfor %}

        {% include "pagination.html" with items=problems %}

        {% else %}
            {% if user.is_authenticated %}
                {% url "problem_new" as url_problem_new %}
                {% blocktrans %}No problem here. You can start by <a href="{{ url_problem_new }}">creating a new one</a>.{% endblocktrans %}
            {% else %}
                {% url "auth_login" as url_login %}
                {% blocktrans %}<a href="{{ url_login }}">Log in</a> to view and create problems.{% endblocktrans %}
            {% endif %}
        {% endif %}
    </div>

    <div class="large-3 columns sidebar">
        {% include "home_sidebar.html" %}
    </div>

    </div>

{% endblock %}


{% block afterfooter %}

{% if request.GET.help %}

    <ol class="joyride-list" data-joyride>
        <li data-button="{% trans "Start" %}">
            <h4>{% trans "Help" %}</h4>
            <p>{% trans "Hello! Let's start a help section for you. This will show you how to use this screen." %}</p>
        </li>
        <li data-button="{% trans "Next" %}" data-class="top-bar">
            <h4>{% trans "Top menu" %}</h4>
            <p>{% trans "The top menu contains the key entities that users will interact in this application. Use it as a main navigation." %}</p>
        </li>
        <li data-button="{% trans "Next" %}" data-class="problem-list-item">
            <h4>{% trans "Problems" %}</h4>
            <p>{% trans "Problems are the general interface for discussion. The number of ideas and alternatives are also displayed." %}</p>
        </li>
        <li data-button="{% trans "Next" %}" data-class="problem-new-button">
            <h4>{% trans "Create a problem" %}</h4>
            <p>{% trans "You can create a new problem by clicking here." %}</p>
        </li>
        <li data-button="{% trans "Finish" %}" data-class="activity-item">
            <h4>{% trans "Activity" %}</h4>
            <p>{% trans "Latest activity of the application will be displayed in sidebars like this." %}</p>
        </li>
    </ol>

{% endif %}

{% endblock %}
