{% load crispy_forms_tags humanize i18n %}

<div class="problem-idea{% if idea.deleted_by %} deleted{% endif %}" data-idea="{{ idea.id }}">

    <div class="row">

        <div class="columns large-12">

            {# Content #}

            <div class="row">
                <div class="columns large-12 idea-content">
                    <h4><a href="{{ idea.get_absolute_url }}" id="idea-{{ idea.id }}">{{ idea.title }}</a></h4>
                    {{ idea.content|safe }}
                </div>
            </div>

            {# Criterias with stars #}

            <div class="row">
                <div class="columns large-12 idea-criterias">
                {% for criteria in idea.criterias %}
                    {% include "criteria_button.html" with criteria=criteria size="tiny" with_stars=True with_link=False %}
                {% endfor %}
                </div>
            </div>

            {# Action mini bar #}

            <div class="row">

                <div class="columns large-9">
                    <div class="row collapse">
                        <div class="columns large-12 right idea-actions">
                            {% if idea_actions %}

                                {% if problem_perm_contribute %}
                                    <a class="problem-action action-comment" data-idea="{{ idea.id }}" href="javascript:void(0);"><i class="fi-comments"></i>&nbsp;{% trans "Comment" context "verb" %}</a>
                                {% endif %}
                                {% if idea.perm_manage %}
                                    <a class="problem-action problem-idea-edit" href="{% url "idea_edit" problem.slug idea.id %}"><i class="fi-pencil"></i>&nbsp;{% trans "Edit" %}</a>
                                {% endif %}

                                {% if problem_perm_manage %}
                                    <a class="problem-action problem-idea-delete-toggle idea-delete" href="javascript:void(0);" data-idea="{{ idea.id }}"><i class="fi-x"></i>&nbsp;{% trans "Delete" %}</a>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="columns large-3">
                    {% include "user_box.html" with user=idea.author date=idea.created link=idea.get_absolute_url %}
                </div>

            </div>

            {# Comment form #}

            {% if problem_perm_contribute %}
                <div class="comment-form hide" id="comment-form-idea-{{ idea.id }}" data-idea="{{ idea.id }}"></div>
            {% endif %}

            {# Comments #}

            <div class="comments" id="comments-idea-{{ idea.id }}">
                {% if idea.comments %}
                    {% for comment in idea.comments %}
                        {% include "comment.html" %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>

    </div>
</div>
