{% load crispy_forms_tags humanize i18n paragraphs %}

<div class="idea-row" id="idea-{{ idea.id }}" data-id="{{ idea.id }}">

    <div class="row">

        {% if show_likes %}
            <div class="columns large-1 medium-2 small-3 idea-like like-bulb{% if not user.is_authenticated %} like-bulb-disabled{% endif %}{% if idea.voted %} voted{% endif %}" data-idea="{{ idea.id }}" data-counter="{{ idea.vote_count }}">
                <a class="like-bulb-bulb idea-like-bulb"><i class="fi-lightbulb"></i></a>
                <span class="like-bulb-counter idea-like-counter">{{ idea.vote_count }}</span>
            </div>
        {% endif %}

        <div class="idea-content columns{% if show_likes %} large-11 medium-10 small-9{% else %} large-12{% endif %}">

            <h4><a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a></h4>

            {# Criteria #}

            {% for criteria in idea.criteria %}

                <div class="row ideacriteria-row">
                    <div class="columns large-3">
                        <i class="fi-{{ criteria.icon }}"></i>
                        <h5 class="criteria-name">{{ criteria.name }}</h5>
                    </div>
                    <div class="columns large-3 criteria-value">
                        <a class="button radius secondary expand">{% if criteria.fmt == "currency" %}${% endif %}{{ criteria.value }}</a>
                    </div>
                    <div class="columns large-6 criteria-description">
                        {{ criteria.description|paragraphs|safe }}
                    </div>
                </div>

            {% endfor %}

            {# Action mini bar #}

            <div class="row top-1em">

                <div class="columns large-6">
                    <div class="row collapse">
                        <div class="columns large-12 right idea-actions">
                            {% if show_actions %}

                                {% if problem_perm_manage or problem_perm_edit %}
                                    <a class="action-button problem-idea-edit" href="{% url "idea_update" idea.id %}"><i class="fi-pencil"></i>&nbsp;{% trans "Edit" %}</a>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="columns medium-3 large-3">
                    {% include "item_user.html" with user=idea.author date=idea.created link=idea.get_absolute_url %}
                </div>

            </div>

            {# Comments #}

            {% if show_comments %}

                <div class="comments" id="comments-idea-{{ idea.id }}">
                    {% if idea.comments %}
                        {% for comment in idea.comments %}
                            {% if forloop.counter > 3 %}
                                {% include "item_comment.html" with hidden=True %}
                            {% else %}
                                {% include "item_comment.html" %}
                            {% endif %}
                        {% endfor %}
                        {% if idea.comments|length > 3 %}
                            <div class="row">
                                <div class="columns large-12">
                                    <div class="comment-content">
                                        <a class="action-button display-more" href="javascript:void(0)"><i class="fi-arrow-down"></i>&nbsp;{% blocktrans with count=idea.comments|length|add:"-3" %}Display the other <b>{{ count }}</b> comments.{% endblocktrans %}</a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>

                {% if problem_perm_contribute %}

                    {# Comment form #}

                    {% if problem_perm_contribute %}
                        <div class="comment-form hide" id="comment-form-idea-{{ idea.id }}" data-idea="{{ idea.id }}"></div>
                    {% endif %}

                    {# Comment button #}

                    <div class="row collapse">
                        <div class="columns large-12">
                            <a class="action-button comment-button" data-idea="{{ idea.id }}" href="javascript:void(0);"><i class="fi-comments"></i>&nbsp;{% trans "Comment" context "verb" %}</a>
                        </div>
                    </div>

                {% endif %}

            {% endif %}

        </div>
    </div>
    <hr/>
</div>
