{% load i18n avatar_tags user_tags %}

<a name="alternative-{{ alternative.id }}" class="anchor-top"></a>
<div class="alternative-row alternative-{{ alternative.id }}{% if mode == "result" %} alternative-result{% endif %}" data-id="{{ alternative.id }}">


    <div class="row collapse">

        {# Alternative vote #}

        <div class="columns large-1 medium-2 small-3 alternative-like like{% if not user.is_authenticated %} like-disabled{% endif %}{% if alternative.voted %} voted{% endif %}" data-alternative="{{ alternative.id }}" data-counter="{{ alternative.vote_count }}">
            <a class="like alternative-like"><i class="fi-like"></i></a>
            <span id="alternative-{{ alternative.id }}-like-counter" class="like-counter alternative-like-counter">{{ alternative.vote_value }}</span>
            <div class="range-slider vertical-range" data-slider data-options="vertical: true; display_selector: #alternative-{{ alternative.id }}-like-counter; initial: {{ alternative.vote_value }};">
                <span class="range-slider-handle" role="slider" tabindex="0"></span>
                <span class="range-slider-active-segment"></span>
                <input type="hidden">
            </div>
        </div>

        <div class="columns large-11 medium-10 small-9">

            {# Name #}

            <div class="row collapse">
                <div class="columns large-12">
                    <h4 class="alternative-name"><a href="{% url "problem_alternative" alternative.problem.id alternative.problem.slug alternative.id %}">{{ alternative.name }}</a></h4>
                </div>
            </div>

            {# Ideas #}

            <div class="row collapse bottom-1em">
                <div class="columns large-12">
                    {% for idea in alternative.idea.all %}
                        <a class="button small secondary radius disabled bottom-03em"><i class="fi-like"></i>&nbsp;{{ alternative.vote_count }}&nbsp;{{ idea.title }}</a>
                        {% if not forloop.last %}<i class="fi-plus"></i>{% endif %}
                    {% endfor %}
                </div>
            </div>

            {# Criteria #}

            {% for c in alternative.results.values %}

                <div class="row collapse">
                    <div class="columns large-12 alternative-results">

                        {# Main result #}
                        <div class="row alternative-criteria show" data-show=".alternative-details-{{ alternative.id }}-{{ c.id }}">
                            <div class="columns large-10">
                                <h6>{{ c.name }}</h6>
                            </div>
                            <div class="columns large-2">
                                <a class="criteria-result button small disabled text-bold radius secondary expand" data-width="70%" data-tooltip title="{{ c.tooltip }}">{% if c.fmt == "currency" %}${% endif %}{{ c.result_value }}</a>
                            </div>
                        </div>

                        {# Result details #}
                        <div class="alternative-details alternative-details-{{ alternative.id }}-{{ c.id }}">
                            {% for idea in c.ideas %}
                                <hr/>
                                <div class="row">
                                    <div class="columns large-10">
                                        <p><i class="fi-like"></i>&nbsp;{{ alternative.vote_count }}&nbsp;{{ idea.title }}</a></p>
                                    </div>
                                    <div class="columns large-2">
                                        <span class="button small expand radius secondary">{{ idea.value }}</span>
                                    </div>
                                </div>
                                {% if forloop.last %}<hr/>{% endif %}
                            {% endfor %}
                        </div>

                    </div>
                </div>

            {% endfor %}

            {# Actions and authoring #}

            <div class="row top-1em bottom-1em">

                <div class="columns large-3">
                    {% if user|alternative_update:alternative %}
                        <a class="action-button" href="{% url "alternative_update" alternative.id %}"><i class="fi-pencil"></i>&nbsp;{% trans "Edit" %}</a>
                    {% endif %}
                    {% if user|alternative_delete:alternative %}
                        <a class="action-button delete" href="{% url "alternative_delete" alternative.id %}"><i class="fi-x"></i>&nbsp;{% trans "Delete" %}</a>
                    {% endif %}
                    &nbsp;
                </div>

                {% if alternative.coauthor.all %}
                    <div class="columns large-6">
                        <h6 class="subheader text-right">{% trans "Alternative coauthors" %}</h6>
                        {% for coauthor in alternative.coauthor.all %}
                            {% include "item_user.html" with class="right" user=coauthor link=idea.get_absolute_url show_badges=True date=alternative.created %}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="columns large-3">
                    <h6 class="subheader">{% trans "Alternative author" %}</h6>
                    {% include "item_user.html" with class="left" user=alternative.author link=idea.get_absolute_url show_date=False show_badges=True %}
                </div>

            </div>

            {# Comments #}

            <div class="comments" id="comments-alternative-{{ alternative.id }}">
                {% if alternative.comments %}
                    {% for comment in alternative.comments %}
                        {% if forloop.counter > 3 %}
                            {% include "item_comment.html" with hidden=True %}
                        {% else %}
                            {% include "item_comment.html" %}
                        {% endif %}
                    {% endfor %}
                    {% if alternative.comments|length > 3 %}
                        <div class="row collapse comment">
                            <div class="columns large-12">
                                <div class="comment-content">
                                    <a class="action-button display-more" href="javascript:void(0)"><i class="fi-arrow-down"></i>&nbsp;{% blocktrans with count=alternative.comments|length|add:"-3" %}Display the other <b>{{ count }}</b> comments.{% endblocktrans %}</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

            {% if user|problem_comment:alternative.problem %}

                {# Comment form #}

                <div class="row collapse">
                    <div class="columns large-12">
                        <div class="comment-form hide" id="comment-form-alternative-{{ alternative.id }}"></div>
                    </div>
                </div>

                {# Comment button #}

                <div class="row collapse">
                    <div class="columns large-12 top-1em">
                        <a href="javascript:void(0)" class="action-button comment-button" data-alternative="{{ alternative.id }}"><i class="fi-comments"></i>&nbsp;{% trans "Comment" context "verb" %}</a>
                    </div>
                </div>

            {% endif %}

        </div>

    </div>
</div>
