{% load i18n avatar_tags display_name user_tags %}
<div class="user-box{% if enclosed %} enclosed{% endif %}{% if not user.is_staff %} pending-user{% endif %}{% if not user.is_active %} inactive-user{% endif %}{% if class %} {{ class }}{% endif %}" data-username="{{ user.username }}"{% if email_invitation %} data-email="{{ email_invitation }}"{% endif %}>
    <div class="row collapse">
        <div class="columns large-12">

            <a class="avatar left" {% if show_links and user.is_staff %}href="{% url "user" user.username %}"{% else %}href="javascript:void(0)"{% endif %}>{% if user.is_staff %}{% avatar user 32 %}{% else %}{% if user.is_active %}<i class="fi-mail"></i>{% else %}<i class="fi-prohibited"></i>{% endif %}{% endif %}</a>

            <div class="info">

                {# Username #}
                <a class="username" {% if show_links and user.is_staff %}href="{% url "user" user.username %}"{% else %}href="javascript:void(0)"{% endif %}>{% if user.is_active %}{% display_name user %}{% else %}{{ user.last_name }}{% endif %}</a>
                {% if not user.is_active %}<span class="subheader">({{ user.first_name }})</span>{% endif %}

                {# Pending invitation #}
                {% if email_invitation %}
                    <span class="label secondary small">{% trans "Send invitation" %}</span>
                {% endif %}

                {# Date #}
                {% if show_date %}
                    <span class="contributed">
                        {% if show_links %}<a href="{{ date_link }}">{% endif %}{% blocktrans with day=date|date:"d b Y" hour=date|date:"H:i" %}{{ day }} at {{ hour }}{% endblocktrans %}{% if show_links %}</a>{% endif %}
                    </span>
                {% endif %}

                {# Invitation label #}
                {% if not user.is_staff and user.is_active and not email_invitation %}<span class="label secondary small pending-invitation">{% trans "Pending invitation" %}</span>{% endif %}

                {# Badges #}
                {% if show_badges and user.is_staff %}
                    {% with pc=user|user_problem_count ic=user|user_idea_count cc=user|user_comment_count %}
                        {% if pc or ic or cc %}
                            <div class="badges">
                                {% if pc %}<span><i class="fi-target-two"></i>&nbsp;{{ pc }}</span>{% endif %}
                                {% if ic %}<span><i class="fi-lightbulb"></i>&nbsp;{{ ic }}</span>{% endif %}
                                {% if cc %}<span><i class="fi-comments"></i>&nbsp;{{ cc }}</span>{% endif %}
                            </div>
                        {% endif %}
                    {% endwith %}
                {% endif %}

                {# Inactivation and activation link #}
                {{ show_actions }}
                {% if show_actions and user.is_active %}
                    <a class="action inactivate button radius alert tiny" href="{% url "user_inactivate" user.username %}"><i class="fi-prohibited"></i>{% if user.is_active and not user.is_staff %}{% trans "cancel invitation" %}{% else %}{% trans "inactivate user" %}{% endif %}</a>
                {% else %} {% if show_actions and not user.is_active %}
                    <a class="action activate button radius success tiny" href="{% url "user_activate" user.username %}"><i class="fi-check"></i>{% trans "activate user" %}</a>
                {% endif %} {% endif %}

            </div>
        </div>
    </div>
</div>
