{% load activity_tags humanize avatar_tags %}

<div class="row activity-row">
    <div class="columns large-1 activity-icon text-right">
        {% if action.verb|stringformat:"s" == "commented" %}
            <i class="fi-comments"></i>
        {% else %} {% if action.verb|stringformat:"s" == "started following" %}
            <i class="fi-torsos"></i>
        {% else %} {% if action.action_object|stringformat:"s" == "Problem object" %}
            <i class="fi-target-two"></i>
        {% else %} {% if action.action_object|stringformat:"s" == "Criteria object" %}
            <i class="fi-cloud"></i>
        {% else %} {% if action.action_object|stringformat:"s" == "Idea object" %}
            <i class="fi-lightbulb"></i>
        {% else %} {% if action.action_object|stringformat:"s" == "Alternative object" %}
            <i class="fi-list-thumbnails"></i>
        {% endif %} {% endif %} {% endif %} {% endif %} {% endif %} {% endif %}
    </div>
    <div class="columns large-11 activity-content">
        <h6 class="subheader">{{ action.timestamp|naturaltime }}</h6>
        <h4>{% display_action action %}</h5>
        <div class="activity-description">
            <div class="activity-avatar">{% avatar action.actor 32 %}</div>
            {{ action.data.diff|safe }}
        </div>
    </div>
</div>
