{% extends "base.html" %}
{% load i18n %}

{% block bodyclass %}message{% endblock %}

{% block content %}

    <div class="row message-detail-title">
    <div class="columns content large-12">
        <h4>{{ message.subject.title }}</h4>
    </div>
    </div>

    <div class="row">
    <div class="columns large-9 message-detail">

        <div class="description">
            {{ message.content|linebreaks }}
        </div>

        <div class="row">
            <div class="columns large-5 large-offset-7">
                {% include "user_box.html" with user=message.sender date=message.created %}
            </div>
        </div>

    </div>

    <div class="columns sidebar large-3">
        {% include "problem_sidebar.html" %}
    </div>

    </div>


{% endblock %}
