{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block bodyclass %}problem{% endblock %}

{% block head %}
    {{ form.media }}
    {{ contributor_form.media }}
{% endblock %}

{% block modals %}
    {% if problem_perm_manage %}

        {# Alternative removal confirmation #}

        <div id="alternative-delete-modal" class="reveal-modal tiny" data-reveal>
            <div class="row">
            <div class="columns large-12">
                <p>{% trans "Really remove this alternative?" %}</p>
            </div>
            </div>
            <div class="row">
            <div class="columns large-6">
                <a class="close-reveal-modal-button button small secondary radius no-margin-bottom">{% trans "Cancel" %}</a>
            </div>
            <div class="columns large-6 text-right">
                <a class="delete button alert radius no-margin-bottom delete-alternative-confirm">{% trans "Remove!" %}</a>
            </div>
            </div>
        </div>

        {# Ideas selector for the alternatives #}

        <div id="select-idea-modal" class="reveal-modal large" data-reveal>
            <a class="close-reveal-modal">&#215;</a>
            <h3>{% trans "Select ideas" %}</h3>
            <hr/>
            <div class="problem-ideas-modal">
            {% for idea in ideas %}
                <div class="row problem-idea-modal" id="idea-{{ idea.id }}-modal-item">
                    <div class="columns large-1">
                        <i class="fi-check idea-status"></i>
                    </div>
                    <div class="columns large-11">
                        {% include "idea.html" %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <hr/>
            <div class="row problem-ideas-modal-buttons">
                <div class="large-12 text-right">
                    <a class="button success radius problem-idea-modal-save">{% trans "Done" %}</a>
                </div>
            </div>
        </div>

        {# Delete modal #}

        <div id="delete-modal" class="reveal-modal small" data-reveal>
            <div class="row">
            <div class="columns large-12">
                <h4>{% trans "Really delete?" %}</h4>
                <hr/>
                <p>{% trans "The information will be lost! You won't be able to undo this!" %}</p>
            </div>
            </div>
            <div class="row">
            <div class="columns large-12">
                {% crispy delete_form %}
            </div>
            </div>
        </div>

        {# Contributors management #}

        <div id="contributors-modal" class="reveal-modal large" data-reveal>
            <a class="close-reveal-modal">&#215;</a>
            <h3>{% trans "Select contributors" %}</h3>
            <hr/>
            {% if problem.public %}
                <div class="panel"><p>{% trans "The problem is public and anyone can contribute to it, but you can still use this form to invite non-registered users or prepare to switch the problem to private mode." %}</p></div>
            {% endif %}
            <form id="contributor-form">
                {% crispy contributor_form %}
            </form>
        </div>

    {% endif %}

    {% if problem_perm_contribute %}
        <div class="hide" data-problem="{{ problem.id }}" id="comment-form">{% crispy comment_form %}</div>
    {% endif %}

{% endblock %}

{% block topicon %}
    <li class="has-icon"><a href="javascript:void(0);"><i class="fi-megaphone"></i></a></li>
    <li class="divider"></li>
{% endblock %}

{% block topbutton %}
    <a href="{% url "problem_activity" problem.slug %}" class="button secondary radius right small"><i class="fi-clock"></i>&nbsp;{% trans "Problem activity" %}</a>
{% endblock %}

{% block content %}

    {# Title #}

    <div class="row">
        <div class="columns large-12 problem-title">
            <h3>{{ problem.title }}</h3>
        </div>
    </div>

    {# Table #}

    <div class="row table-button-row">
        <div class="columns large-10 large-offset-1">
            <a class="button expand table-button dropdown">{% trans "Strategy table" %}</a>
        </div>
    </div>

    {% include "table.html" %}

    <div class="row">
    <div class="columns large-12 problem-detail">

        {# Description #}

        <div class="description">
            {{ problem.description|safe }}
        </div>

        {# Criterias #}

        {% if problem.criteria.all %}
            <div class="row">
            <div class="columns large-12 problem-criterias">
            {% for criteria in problem.criteria.all %}
                {% include "criteria_button.html" with show_description=1 %}
            {% endfor %}
            </div>
            </div>
        {% endif %}

        {# Actions #}

        <div class="row">
            <div class="columns medium-6 large-6">

                <div class="row bottom-1em">
                <div class="columns large-12">
                {% if problem_perm_contribute %}
                    <a class="problem-action action-comment" data-problem="{{ problem.id }}" href="javascript:void(0);"><i class="fi-comments"></i>&nbsp;{% trans "Comment" context "verb" %}</a>
                {% endif %}
                {% if problem_perm_edit %}
                    <a class="problem-action" href="{% url "problem_edit" problem.slug %}"><i class="fi-pencil"></i>&nbsp;{% trans "Edit" %}</a>
                {% endif %}
                {% if problem_perm_manage %}
                    <a class="problem-action problem-delete" href="javascript:void(0);" data-problem="{{ problem.id }}"><i class="fi-x"></i>&nbsp;{% trans "Remove" %}</a>
                    <a class="problem-action problem-manage-contributors" data-reveal-id="contributors-modal" href="javascript:void(0);"><i class="fi-torso"></i>&nbsp;{% trans "Manage contributors" %}</a>
                {% endif %}
                </div>
                </div>

            </div>

            {% if coauthor %}
                <div class="columns medium-3 large-3">
                    <small>{% trans "edited" %}</small>
                    {% include "user_box.html" with clean=True user=coauthor date=problem.updated link=problem.get_absolute_url %}
                </div>
            {% endif %}
            <div class="columns medium-3 large-3">
                {% if coauthor %}<small>{% trans "created" %}</small>{% endif %}
                {% include "user_box.html" with user=problem.author date=problem.created link=problem.get_absolute_url %}
            </div>
        </div>

        {# Comment form #}

        {% if problem_perm_contribute %}
            <div class="comment-form hide" id="comment-form-problem" data-problem="{{ problem.id }}"></div>
        {% endif %}

        {# Comments #}

        <div class="comments" id="comments-problem-{{ problem.id }}">
            {% if comments %}
                {% for comment in comments %}
                    {% include "comment.html" %}
                {% endfor %}
            {% endif %}
        </div>

        {# Ideas list #}

        <a name="ideas"></a>
        <div class="problem-ideas">
            {% for idea in ideas %}
                <hr/>
                {% include "idea.html" with idea_actions=True %}
            {% endfor %}
        </div>

        {# Idea form and button #}

        {% if problem_perm_contribute %}
            <hr/>
            <div class="problem-idea-form-wrap">
                <div class="problem-idea-form" id="problem-idea-form">{% crispy form %}</div>
            </div>
        {% endif %}

    </div>
    </div>

{% endblock %}
