{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block bodyclass %}problem{% endblock %}

{% block head %}{{ form.media }}{% endblock %}

{% block modals %}
    {% if problem_perm_manage %}

        {# Alternative removal confirmation #}

        <div id="alternative-delete-modal" class="reveal-modal tiny" data-reveal>
            <div class="row">
            <div class="columns large-12">
                <p>{% trans "Really remove this alternative?" %}</p>
            </div>
            </div>
            <div class="row">
            <div class="columns large-6">
                <a class="close-reveal-modal-button button small secondary radius no-margin-bottom">{% trans "Cancel" %}</a>
            </div>
            <div class="columns large-6 text-right">
                <a class="delete button alert radius no-margin-bottom delete-alternative-confirm">{% trans "Remove!" %}</a>
            </div>
            </div>
        </div>

        {# Ideas selector for the alternatives #}

        <div id="select-idea-modal" class="reveal-modal large" data-reveal>
            <a class="close-reveal-modal">&#215;</a>
            <h3>{% trans "Select ideas" %}</h3>
            <hr/>
            <div class="problem-ideas-modal">
            {% for idea in ideas %}
                <div class="row problem-idea-modal" id="idea-{{ idea.id }}-modal-item">
                    <div class="columns large-1">
                        <i class="fi-check idea-status"></i>
                    </div>
                    <div class="columns large-11">
                        {% include "problem_idea.html" %}
                    </div>
                </div>
            {% endfor %}
            </div>
            <hr/>
            <div class="row problem-ideas-modal-buttons">
                <div class="large-12 text-right">
                    <a class="button success radius problem-idea-modal-save">{% trans "Done" %}</a>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block content %}

    {# Title #}

    <div class="row collapse">
    <div class="columns large-12 problem-title">
        <h2>{{ problem.title }}</h2>
    </div>
    </div>

    {# Table #}

    {% include "problem_table.html" %}

    <div class="row">
    <div class="columns large-9 problem-detail">

        {# Description #}

        <h3>{% trans "Problem description" %}</h3>
        <div class="description">
            {{ problem.description|safe }}
        </div>

        {# Actions #}

        <div class="row">
            <div class="columns large-7">
                {% if problem_perm_contribute %}<a class="problem-action problem-comment" href="javascript:void(0);">{% trans "Comment" context "verb" %}</a>{% endif %}
                {% if problem_perm_manage %}

                    <a class="problem-action" href="{% url "problem_edit" problem.slug %}">{% trans "Edit" %}</a>

                    <a class="problem-action problem-delete" href="{% url "problem_delete" problem.slug %}">{% trans "Delete" %}</a>

                {% endif %}
            </div>

            <div class="columns large-5">
                {% include "user_box.html" with user=problem.author date=problem.created link=problem.get_absolute_url %}
            </div>
        </div>

        {# Comment form #}

        {% if problem_perm_contribute %}
            <div class="comment-form hide problem-comment-form" data-problem="{{ problem.id }}">
                {% crispy problem_comment_form %}
            </div>
        {% endif %}

        {# Comments #}

        <div class="comments" id="comments-problem-{{ problem.id }}">
            {% if comments %}
                {% for comment in comments %}
                    {% include "comment.html" %}
                {% endfor %}
            {% endif %}
        </div>

        <hr/>

        {# Idea form and button #}

        <div class="problem-idea-form-wrap">

            {% if not user.is_authenticated %}

                <a class="large button expand secondary radius" href="{{ login_url }}">{% trans "Log in and submit your idea" %}</a>

            {% else %}

                <a class="problem-idea-button problem-idea-form-button button expand radius{% if form.errors %} hide{% endif %}"><i class="fi-lightbulb"></i> {% trans "Submit your idea to this problem" %}{% if problem.max %}<br/><small>{% blocktrans count user_ideas_left as ideas %}you have {{ ideas }} idea left{% plural %}you have {{ ideas }} ideas left{% endblocktrans %}</small>{% endif %}</a>

            {% endif %}

            <div class="problem-idea-form {% if not form.errors %}hide{% endif %}" id="problem-idea-form">
                {% crispy form %}
            </div>

        </div>

        <hr/>

        {# Ideas list #}

        {% if ideas %}
            <a name="ideas"></a>
            <div class="problem-ideas">
                {% for idea in ideas %}
                    {% include "problem_idea.html" %}
                    <hr/>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    <div class="columns sidebar large-3">
        {% include "problem_sidebar.html" %}
    </div>

    </div>


{% endblock %}
