{% load crispy_forms_tags humanize i18n %}

<div class="problem-idea" id="idea-{{ idea.id }}" data-idea="{{ idea.id }}">

    <div class="row">

        {% if problem.voting and not ideas_modal %}
            <div class="columns large-1 small-2 voting">

                <a href="{% if not user.is_authenticated %}{{ login_url }}{% else %}javascript:void(0){% endif %}" class="button secondary radius upvote{% if idea.user_vote.weight == 1 %} success{% endif %}" data-idea="{{ idea.id }}"{% if idea.author == user or not problem_perm_contribute %} disabled="disabled"{% endif %}><i class="foundicon-up-arrow"></i></a>

                {% if problem.vote_count %}<span class="vote-count">{% if problem.vote_author %}<a href="javascript:void(0);" data-reveal-id="idea-{{ idea.id }}-vote-history-modal">{% endif %}{{ idea.vote_count }}{% if problem.vote_author %}</a>{% endif %}</span>{% else %}{% endif %}

                <a href="{% if not user.is_authenticated %}{{ login_url }}{% else %}javascript:void(0){% endif %}" class="button secondary radius downvote{% if idea.user_vote.weight == -1 %} alert{% endif %}" data-idea="{{ idea.id }}"{% if idea.author == user or not problem_perm_contribute %} disabled="disabled"{% endif %}><i class="foundicon-down-arrow"></i></a>

            </div>
        {% endif %}

        {% if problem.vote_author and not ideas_modal %}
            <div id="idea-{{ idea.id }}-vote-history-modal" class="reveal-modal medium">
                {% for vote in idea.votes %}
                    <div class="row vote" id="vote-{{ vote.id }}">
                        <div class="columns large-1">
                            <a href="javascript:void(0);" class="button secondary upvote{% if idea.user_vote.weight == 1 %} success{% else %} alert{% endif %}" disabled="disabled"><i class="foundicon-thumb-up"></i></a>
                            {{ vote.weight }}
                        </div>
                        <div class="columns large-11">
                            {{ vote.author }}
                            {{ vote.date }}
                        </div>
                    </div>
                    <hr/>
                {% endfor %}
                <a class="close-reveal-modal">&#215;</a>
            </div>
        {% endif %}

        <div class="columns {% if problem.voting and not ideas_modal %}large-11 small-10 left-1em{% else %}large-12 small-12{% endif %}">

            <div class="row">
                <div class="columns large-12 idea-content">
                    <h5><a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a></h5>
                    {{ idea.content|safe }}
                </div>
            </div>

            <div class="row">

                <div class="columns large-7">
                    <div class="row collapse">
                        {% if idea.quantifiervalue_set.all %}
                            <div class="large-12 idea-quantifiers">
                                {% for q in idea.quantifiervalue_set.all %}
                                    <span class="label secondary radius">{{ q.quantifier.name }}{% if q.quantifier.format != "boolean" %}&nbsp;|&nbsp;{{ q.value }}{% endif %}</span>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="columns large-12 right idea-actions">
                            {% if idea_actions %}

                                {% if problem_perm_contribute %}<a class="problem-action{% if user.is_authenticated %} show-on-click{% endif %}" {% if user.is_authenticated %}data-show-on-click="comment-form-{{ idea.id }}" href="javascript:void(0);"{% else %}href="{{ login_url }}"{% endif %}>{% trans "Comment" context "verb" %}</a>{% endif %}

                                {% if idea.author == user %}<a class="problem-action problem-idea-edit" href="{% url "idea_edit" problem.slug idea.id %}">{% trans "Edit" %}</a>{% endif %}

                                {% if idea.revision_count > 1 %}<a class="problem-action problem-idea-revision" href="{% url "idea_revision" problem.slug idea.id %}">{% blocktrans count idea.revision_count as i %}{{ i }} revision{% plural %}{{ i }} revisions{% endblocktrans %}</a>{% endif %}

                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="columns large-5">
                    {% include "user_box.html" with user=idea.author date=idea.modified link=idea.get_absolute_url %}
                </div>
            </div>

            {% if user.is_authenticated and idea.comment_form %}
                <div class="comment-form hide" id="comment-form-{{ idea.id }}" data-idea="{{ idea.id }}">
                    {% crispy idea.comment_form %}
                </div>
            {% endif %}

            <div class="comments" id="comments-idea-{{ idea.id }}">
                {% if idea.comments %}
                    {% for comment in idea.comments %}
                        {% include "comment.html" %}
                    {% endfor %}
                {% endif %}
            </div>

        </div>

    </div>
</div>
