{% load crispy_forms_tags i18n %}

<div class="row collapse" id="problem-table-row">

<div class="columns large-12">
<h3>{% trans "Strategy table" %}</h3>
<hr/>
<div class="bottom-1em">
<table class="problem-table{% if criterias %} with-criterias{% endif %}" data-problem="{{ problem.id }}">

    <thead>
    <tr>
    <th>{% trans "Alternative" %}</th>
    {% if problem_perm_manage %}<th>{% trans "Select ideas" %}</th>{% endif %}
    <th class="voting-title">{% trans "Ideas" %}</th>
    {% for criteria in criterias %}
        <th class="criteria text-center" data-criteria="{{ criteria.id }}">
            <div class="title-inner title-admin">
                {% include "criteria_button.html" %}
            </div>
            </div>
        </th>
    {% endfor %}
    {% if problem_perm_manage %}<th>{% trans "Delete" %}</th>{% endif %}
    </tr>
    </thead>

    <tbody>

    {% for alternative in alternatives %}
        {% include "problem_alternative.html" %}
    {% endfor %}

    </tbody>
</table>
<br/>
</div>

{% if problem_perm_manage %}
    <a class="button radius new-alternative"><i class="fi-plus"></i>&nbsp;{% trans "Add a new alternative" %}</a>
    <h4>{% trans "Need some help?" %}</h4>
    <div class="panel radius secondary">
    <ul>
        {% if not alternatives %}<li>{% trans "To start building the table click on the 'add alternatives' button above" %}</li>{% endif %}
        <li>{% trans "Click on the ideas cell of each alternative to link ideas" %}</li>
        {% url "problem_edit" problem.slug as problem_url %}
        <li>{% blocktrans with url=problem_url %}<a href="{{ url }}">Edit the problem</a> to create more criterias{% endblocktrans %}</li>
    </ul>
    </div>
{% endif %}
</div>
<hr/>
</div>
