{% extends "base.html" %}
{% load problem crispy_forms_tags i18n %}

{% block "bodyclass" %}problem{% endblock %}

{% block "head" %}{{ form.media }}{% endblock %}

{% block "content" %}

    <div class="row">
    <div class="columns large-9 problem-detail">

        <h2>{{ problem.title }}</h2>

        <div class="description">
            {{ problem.description|safe }}
        </div>

        <div class="row">
            <div class="columns large-7">
                {% if problem_comment_form %}<a class="problem-action{% if request.user.is_authenticated %} show-on-click{% endif %}" {% if request.user.is_authenticated %}data-show-on-click="problem-comment-form"{% else %}data-reveal-id="login-modal"{% endif %} href="javascript:void(0);" >{% trans "Comment" context "verb" %}</a>{% endif %}
            </div>

            <div class="columns large-5">
                {% include "user_box.html" with user=problem.author date=problem.modified link=problem.get_absolute_url %}
            </div>
        </div>

        {% if request.user.is_authenticated and problem_comment_form %}
            <div class="comment-form hide" id="problem-comment-form" data-problem="{{ problem.id }}">
                {% crispy problem_comment_form %}
            </div>
        {% endif %}

        <div class="comments" id="comments-problem-{{ problem.id }}">
            {% if comments %}
                {% for comment in comments %}
                    {% include "comment.html" %}
                {% endfor %}
            {% endif %}
        </div>

        <hr/>

        <div class="problem-idea-form-wrap">

            {% if not request.user.is_authenticated %}

                <a class="large button expand secondary radius" data-reveal-id="login-modal">{% trans "Log in and submit your idea" %}</a>

            {% else %} {% if problem.locked %}

                <a class="large button expand secondary radius" disabled="disabled">{% trans "This problem is currently locked for new ideas" %}</a>

            {% else %} {% if user_ideas_left > 0 %}

                <a class="problem-idea-button problem-idea-form-button button expand radius{% if form.errors %} hide{% endif %}"><i class="foundicon-idea"></i> {% trans "Submit your idea to this problem" %}{% if problem.max %}<br/><small>{% blocktrans count user_ideas_left as ideas %}you have {{ ideas }} idea left{% plural %}you have {{ ideas }} ideas left{% endblocktrans %}</small>{% endif %}</a>

            {% else %}

                <a class="problem-idea-button large button expand secondary radius" disabled="disabled">{% trans "You contributed with the maximum ideas allowed for this problem" %}<br/><small>{% trans "edit or delete your existing ideas if you change your mind about them" %}</small></a>

            {% endif %} {% endif %} {% endif %}

            <div class="problem-idea-form {% if not form.errors %}hide{% endif %}" id="problem-idea-form">
                <h3>{% trans "Your idea" %}</h3>
                {% crispy form %}
            </div>

            {% if problem.blind %}
                <div class="panel text-center radius problem-idea-button-panel">{% trans "This problem is in blind contribution mode. That means you can't see the other users ideas until the manager turns the option off." %}</div>
            {% endif %}

        </div>

        <hr/>

        {% if ideas %}
        <a name="ideas"></a>
        <div class="problem-ideas">
            {% for idea in ideas %}
                {% include "problem_idea.html" %}
                <hr/>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    <div class="columns sidebar large-3">
        {% include "problem_sidebar.html" %}
    </div>

    </div>


{% endblock %}
