{% load i18n %}

{% if message %}
    <a class="button expand radius secondary" href="{% url "problem" problem.slug %}"><i class="foundicon-left-arrow"></i> {% trans 'Back to problem' %}</a>
    <a class="button secondary expand" href="{% url "messages" problem.slug %}"><i class="foundicon-mail"></i> {% trans "View all messages" %}</a>
    <hr/>
{% else %}
    <a class="button expand radius show-problem-table" href="javascript:void(0)"><i class="fi-list-thumbnails"></i>&nbsp;{% trans 'Strategy table' %}</a>
    <hr/>
{% endif %}

{% if problem.criteria.all %}
    <div class="criterias">
        <h4>{% trans "Criterias for this problem" %}</h4>
        <p>
        {% for criteria in problem.criteria.all %}
            {% include "criteria_button.html" %}
        {% endfor %}
        </p>
    </div>
    <hr/>
{% endif %}

{% if problem.quantifier_set.all %}
    <div class="quantifiers">
        <h4>{% trans "Idea quantifiers" %}</h4>
        <p>
        {% for q in problem.quantifier_set.all %}
            <span class="label-quantifier label secondary radius">{{ q.name }}</span>
        {% endfor %}
        </p>
    </div>
    <hr/>
{% endif %}

{% if bulletin %}
    <div class="messages">
        <h4>{% trans "Bulletin" %}</h4>
        <div class="panel round">
        {% for b in bulletin %}
            <p class="line-height-1">
                <b><a href="{{ b.get_absolute_url }}">{{ b.subject }}</a></b><br/>
                <small>{{ b.created }}</small>
            </p>
        {% endfor %}
        <p class="text-right"><a class="button tiny radius no-margin-bottom" href="{% url "messages" problem.slug %}">{% trans "View all" %}</a>
        </div>
    </div>
    <hr/>
{% endif %}

{% include "activity_loop.html" with sidebar=True problem_sidebar=True %}
