{% load i18n humanize avatar_tags display_name %}

<div class="row problem-detail-title content">
    <div class="columns large-2">
        <a class="th radius" href="{% url "user" profile %}">{% avatar profile 128 %}</a>
    </div>
    <div class="columns large-10">
        <div class="row">
            <div class="columns large-12">
                <h4>{% display_name profile %}</h4>
            </div>
        </div>
        <div clas="row">
            <div class="columns large-8 user-labels">
                <div class="button disabled radius secondary user-label"><i class="fi-comments"></i>&nbsp;{{ profile.comment_count }}<br/><span class="caption">{% trans "comments" %}</span></div>
                <div class="button disabled radius secondary user-label"><i class="fi-lightbulb"></i>&nbsp;{{ profile.idea_count }}<br/><span class="caption">{% trans "ideas" %}</span></div>
                <div class="button disabled radius secondary user-label"><i class="fi-puzzle"></i>&nbsp;{{ profile.problem_count }}<br/><span class="caption">{% trans "problems" %}</span></div>
            </div>
            <div class="columns large-4 user-date text-right">
                <h6 class="subheader">{% blocktrans with time=profile.date_joined|date:"d/m/Y" %}member since {{ time }}{% endblocktrans %}</h6>
                {% if user.is_superuser or user == profile %}
                    <br/>
                    <p><a class="button secondary radius small" href="{% url "user_update" profile.username %}"><i class="fi-pencil"></i>&nbsp;{% trans "Update user info" %}</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row"><div class="columns large-12"><hr/></div></div>

