{% extends "base.html" %}

{% load gravatar i18n %}

{% block "content" %}
    <div class="row problem-detail-title content">
        <div class="columns large-2">
            <a class="th radius" href="{% url "user" user %}">
                <img class="thumbnail" src="{% gravatar_for_email user.email 128 %}" alt="{{ user.get_full_name|default:user.username }}" />
            </a>
        </div>
        <div class="columns large-6">
            <h4>{{ user.get_full_name|default:user.username }}</h4>
        </div>
        <div class="columns large-4 user-labels">
            {% if problem_count %}<span class="label radius secondary">{{ problem_count }} {% trans "problems created" %}</span><br/>{% endif %}
            {% if idea_count %}<span class="label radius secondary">{{ idea_count }} {% trans "idea contributions" %}</span><br/>{% endif %}
            {% if comment_count %}<span class="label radius secondary">{{ comment_count }} {% trans "comments made" %}{% endif %}</span>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12"><hr/></div>
    </div>
    <div class="row">
        <div class="columns large-12 activity">
            {% include "activity_loop.html" with sidebar=False %}
        </div>
    </div>
{% endblock %}
