{% load i18n %}

<div class="row collapse user{% if user.invitation %} invitation{% endif %}">
    <div class="columns large-12">
        {% if user.invitation %}
            <div class="avatar left"><i class="fi-mail"></i></div>
            <div class="info">{{ user.email }}
                <a href="javascript:void(0)" class="right delete-button button alert tiny radius" data-invitation="{{ user.invitation }}">{% trans "Remove" %}</a>
                <a href="javascript:void(0)" class="right resend-button button secondary tiny radius" data-invitation="{{ user.invitation }}">{% trans "Resend" %}</a>
            </div>
            <input type="hidden" name="invitation" value="{{ user.email }}" />
        {% else %}
            <div class="avatar left"><img src="{{ avatar_url }}" /></div>
            <div class="info">{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user.username }}{% endif %}</div>
        {% endif %}
    </div>
</div>
