{% load i18n avatar_tags %}

<div class="user-box{% if clean %} user-box-clean{% endif %}">
    <div class="row collapse">
        <div class="columns large-12">
            <a class="avatar left" href="{% url "user" user.username %}">{% avatar user 32 %}</a>
            <div class="info">
                {% if date %}<span class="contributed">{% endif %}
                {% if date and link %}
                    <a href="{{ link }}">
                {% endif %}
                {% if date %}
                    {% blocktrans with day=date|date:"d b Y" hour=date|date:"H:i" %}{{ day }} at {{ hour }}{% endblocktrans %}
                {% endif %}
                {% if date and link %}
                    </a>
                {% endif %}
                {% if date %}</span><br/>{% endif %}
                <a class="username" href="{% url "user" user.username %}">{{ user.username }}</a>
            </div>
        </div>
    </div>
</div>
