{% extends "base.html" %}
{% load avatar_tags i18n %}

{% block content %}
    <div class="row problem-detail-title content">
        <div class="columns large-2">
            <a class="th radius" href="{% url "user" profile %}">{% avatar profile 128 %}</a>
        </div>
        <div class="columns large-6">
            <h4>{{ profile.get_full_name|default:profile.username }}</h4>
        </div>
        <div class="columns large-4 user-labels">
            {% if problem_count %}<span class="label radius secondary right">{{ problem_count }} {% trans "problems created" %}</span>{% endif %}
            {% if idea_count %}<span class="label radius secondary right">{{ idea_count }} {% trans "idea contributions" %}</span>{% endif %}
            {% if comment_count %}<span class="label radius secondary right">{{ comment_count }} {% trans "comments made" %}{% endif %}</span>
        </div>
    </div>
    <div class="row">
        <div class="columns large-12"><hr/></div>
    </div>
    <div class="row">
        <div class="columns large-12 activity">
            {% include "activity_loop.html" with sidebar=False %}
        </div>
    </div>
{% endblock %}
