{% load i18n avatar_tags display_name %}

<div class="user-box{% if clean %} user-box-clean{% endif %}" data-username="{{ user.username }}"{% if email_invitation %} data-email="{{ email_invitation }}"{% endif %}>
    <div class="row collapse">
        <div class="columns large-12">
            <a class="avatar left" href="{% url "user" user.username %}">{% if email_invitation %}<i class="fi-mail"></i>{% else %}{% avatar user 32 %}{% endif %}</a>
            <div class="info">
                {% if date %}<span class="contributed">{% endif %}
                {% if date and link %}
                    <a href="{{ link }}">
                {% endif %}
                {% if date %}
                    {% blocktrans with day=date|date:"d b Y" hour=date|date:"H:i" %}{{ day }} at {{ hour }}{% endblocktrans %}
                {% endif %}
                {% if date and link %}
                    </a>
                {% endif %}
                {% if date %}</span><br/>{% endif %}
                <a class="username" href="{% url "user" user.username %}">{% display_name user %}</a>{% if email_invitation %}<span class="label secondary small">{% trans "Send invitation" %}</span>{% endif %}
            </div>
        </div>
    </div>
</div>
