{% extends "base.html" %}
{% load avatar_tags humanize i18n %}

{% block bodyclass %}users{% endblock %}

{% block content %}

    <div class="row">
        <div class="columns large-12"><h3>{% trans "Users" %}</h3></div>
    </div>

    {% for user in users %}

        {% if forloop.counter|divisibleby:3 or forloop.first %}
            <div class="row">
        {% endif %}

        <div class="criteria columns small-4 medium-4 large-4">{% include "user_box.html" with expanded=True date=user.date_joined %}</div>

        {% if forloop.counter|divisibleby:3 or forloop.last %}
            </div>
        {% endif %}

    {% endfor %}

    <div class="row">
        <div class="columns large-12">
            {% include "pagination.html" with items=users %}
        </div>
    </div>

{% endblock %}
