@import "settings";
@import "normalize";

@import "compass/css3";
@import "compass/utilities";

@import "foundation";

@import "icons/_settings.scss";
@import "icons/general_foundicons.scss";
@import "icons/general_foundicons_ie7.scss";

// Fonts

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 700;
    src: local('MontserratSubrayada-Bold'), url(../fonts/MontserratSubrayada-Bold.woff) format('woff');
}

// General

.left-1em {
    padding-left: 1em !important;
}

.bottom-1em {
    padding-bottom: 1em !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.line-height-1 {
    line-height: 1;
}

hr {
    border-color: lighten($black, 65%);
}

// CKEditor

.cke_ltr {
    width: 100% !important;
}

.cke_combopanel__format {
    width: 200px !important;
}

// Buttons

.button i {
    font-size: emCalc(15px);
    vertical-align: middle;
    margin-right: emCalc(4px);
}

.buttonHolder {
    text-align: right;
    #advanced, .cancel {
        float:left;
    }
}

.button-criteria {
    @include button(rem-calc(2px), #FFF7B2, $button-radius, false, false, false);
    padding-left: rem-calc(6px);
    padding-right: rem-calc(6px);
    color: #675D00;
    font-size: emCalc(12px);
    margin: 0;
    &:hover {
        background-color: #675D00;
        color: #FFFFFF;
    }
    .button-criteria {
        border:1px solid darken(#FFF7B2, 20%);
    }
}

// Forms

form {
    label {
        display: inline-block;
    }
    input[type='checkbox'] {
        margin:0 3px 0 0;
    }
    .ctrlHolder {
        margin-bottom: emCalc(15px);
    }
    .formHint {
        font-size: 11px;
        color: $light-black;
        margin: 0;
        padding: emCalc(3px) 0;
    }
    .control-group {
        margin-bottom: emCalc(15px);
    }
    .asteriskField {
        color: $red;
    }
}

// Error panel

.panel.error {
    @include panel(pink, 20px);
    @include border-radius($global-radius);
}

// Top bar

.contain-to-grid .top-bar {
    overflow: hidden;
}

.upper-bar-wrap {
    @include crumb-container;
    width: 100%;
    margin: 0;
    .upper-bar-inner {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

// Messages

.message-bar {
    padding: 0;
    margin: 0;
    p {
        font-size: 0.7875rem;
        font-weight: bold;
        margin: 0;
        padding: 0.5em 2em;
        text-align: center;
        text-transform: uppercase;
    }
}

.message-bar.success {
    background-color: #C1FFBE;
    border-bottom: 5px solid $green;
    color: $green;
}

.message-bar.info {
    background-color: #FFF7B2;
    border-bottom: 5px solid #FFF499;
    color: #675D00;
}

.message-bar.warning {
    background-color: #FFDEDE;
    border-bottom: 5px solid $red;
    color: $red;
}

// Header

h1 {
    line-height: 1;
    a {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: lighten($black, 10%);
        letter-spacing: emCalc(-3px);
        @include text-shadow(
            lighten($black, 40%) 1px 1px 0,
            lighten($black, 60%) 2px 2px 0,
            lighten($black, 80%) 3px 3px 0,
            lighten($black, 100%) 4px 4px 0
        );
        &:hover {
            color: darken($black, 20%);
        }
    }
}

.top-bar h1 {
    line-height: 1;
    text-align: left;
    a {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: darken($white, 10%);
        letter-spacing: emCalc(-3px);
        @include text-shadow(
            darken($white, 40%) 1px 1px 0,
            darken($white, 60%) 2px 2px 0,
            darken($white, 80%) 3px 3px 0,
            darken($white, 100%) 4px 4px 0
        );
        &:hover {
            color: lighten($white, 20%);
        }
    }
}

a.logo-faded {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: emCalc(25px);
    color: lighten($black, 30%);
    letter-spacing: emCalc(-1px);
    @include text-shadow(
        lighten($black, 60%) 1px 1px 0,
        lighten($black, 80%) 2px 2px 0
    );
    &:hover {
        color: darken($black, 40%);
    }
}

.problem-new-button {
    margin-left: 1em;
}

#search-options.f-dropdown {
    width: auto;
}

.search-results {
    .search-results-item {
        h4 {
            span.label {
                margin-right: emCalc(10px);
            }
            span.highlighted {
                font-weight: bold;
            }
        }
        p.search-result-text {
            color: #999999;
            margin-bottom: emCalc(6px);
            span.highlighted {
                color: $black;
                font-weight: bold;
            }
        }
    }
}

// Pagination

p.pagination {
    color: $light-black;
    margin-top: 1em;
}

.problem-form {
    #id_max {
        margin-bottom: 0;
    }
}

.list-item {
    padding: emCalc(6px);
    margin: emCalc(6x);
    border-bottom: 1px solid lighten($black, 65%);
    h4 {
        margin: 4px 0 8px 0;
        color: $black;
        line-height: 1;
        @include text-shadow(
            lighten($black, 60%) 1px 1px 0,
            lighten($black, 80%) 2px 2px 0
        );
    }
    h6.subheader {
        margin: 0;
        font-size: emCalc(14px);
    }
    .counter {
        text-align: center;
        background: lighten($black, 65%);
        padding: 14px 5px;
        border-left: 2px solid $white;
        border-right: 2px solid $white;
        @include text-shadow(
            lighten($black, 50%) 1px 1px 0,
            lighten($black, 70%) 2px 2px 0
        );
        span {
            display: block;
        }
        .number {
            color: $black;
            font-size: emCalc(30px);
            letter-spacing: emCalc(-1px);
            line-height: 1;
        }
        .description {
            color: $light-black;
            font-size: emCalc(12px);
        }
    }
}

.problem-list-item {
    .counter {
        width: 44.333%;
    }
    .problem-alternative-counter {
        margin-right: 1em;
    }
}

.problem-criteria-select {
    @include form-element;
    @include border-radius($global-radius);
    cursor: text;
    height: auto;
    .button {
        margin: 2px 3px;
    }
    .text {
        display:inline-block;
        width: 5%;
        height: 1em;
        margin: 0 3px;
    }
}

.problem-criteria-result {
    display: none;
    margin-top: 5px;
    .button {
        margin-bottom: 5px;
    }
    .description {
        display: block;
        font-size: emCalc(13px);
        line-height: 1.1;
        color: $light-black;
    }
}

.problem-detail {
    .description {
        margin: 5px 0;
    }
}

.problem-icons {
    margin: 0;
    font-size: emCalc(50px);
}

.criteria-list-item {
    .counter {
        width: 98.333%;
    }
    .columns.criteria-info {
        padding-left: emCalc(10px);
    }
}

.user-box {
    @include panel(lighten($black, 70%), 5px);
    @include border-radius($global-radius);
    .avatar {
        @include thumb(1px, $light-black);
    }
    .contributed {
        color: $light-black;
        font-size: emCalc(12px);
    }
    a.username {
        font-weight: bold;
        margin: 5px 0 0 0;
    }
}

.user-labels span {
    margin: emCalc(4px) 0;
}

// Idea form

.problem-idea-button {
    margin: 0;
}

.problem-idea-button-panel {
    margin: 1em 0 0 0;
}

// Idea list

.idea-content {
    margin: 0 0 1em 0;
}

.idea-attrs {
    margin-top: emCalc(10px);
    span.secondary {
        height: 24px;
        line-height: 1;
        color: lighten($black, 20%);
        font-size: emCalc(13px);
        font-weight: bold;
        &:hover {
            color: $black;
        }
        i {
            vertical-align: middle;
            font-size: emCalc(15px);
        }
    }
}

// Idea comment list

.comment-content {
    padding: 0.7em 0.5em;
    border-top: 1px dotted $dark-white;
    font-size: 0.85em;
    color: $light-black;
    line-height: 1.5;
    .comment-author {
        background: lighten($black, 70%);
        padding: 2px 5px;
    }
    a.comment-modified {
        color: lighten($black, 40%);
    }
    a.comment-delete {
        font-size:0.85em;
        padding: 2px 5px;
        color: $light-red;
        &:hover {
            background-color: $light-red;
            color: $white;
        }
    }
}

.html-diff {
    del, del * {
        color: $red;
        background-color: lighten($red, 60%);
    }
    ins, ins * {
        color: $green;
        background-color: lighten($green, 60%) !important;
        text-decoration: none;
    }
}

.voting {
    text-align: center;
    a.button {
        margin: 0;
        font-size: 1.5em;
        padding: 10px 5px 10px 8px;
    }
    .vote-count {
        color: #444444;
        display: block;
        font-size: 1.6em;
        letter-spacing: 0;
        margin: 7px 0;
    }
}

a.problem-action {
    color: $light-black;
    font-size: 0.9em;
    padding: 0.1em 0.2em;
    text-transform: lowercase;
    &:hover {
        background: $light-black;
        color: $white;
    }
}

.problem-table-wrap {
    margin-bottom: 1em;
    .problem-table {
        a.button {
            height: 100%;
            margin-bottom: 0;
            padding-left: 1em;
            padding-right: 1em;
            position: absolute;
            left: 0;
            top: 0;
        }
        input[type='text'] {
            margin-bottom: 0;
        }
        .cell-wrap {
            display: block;
            position: relative;
            padding: 1em 4em;
            min-height: 60px;
        }
        th.criteria {
            text-align:center;
        }
        td.vertical-title {
            background-color: $light-grey;
            font-weight: bold;
        }
        .title-admin {
            padding-right: 20px;
            position: relative;
        }
        .table-actions {
            position: absolute;
            top: 1px;
            right: 0;
        }
        tr.alternative td {
            text-align: center;
            position: relative;
        }
    }
}

// Idea modal

#select-idea-modal {
    top: 40px;
    .problem-ideas-modal {
        height: 25em;
        overflow-y: scroll;
        .problem-idea-modal {
            padding: 0.6em 0;
            transition: background-color 300ms ease-out 0s;
            &:hover {
                cursor: pointer;
                background-color: $light-grey;
            }
            i.idea-status {
                font-size: 3em;
                color: darken($light-grey, 15%);
                display: block;
                padding-top: 0.2em;
            }
            i.idea-status.checked {
                color: $green;
            }
        }
    }
}

#alternative-add-modal {
    .buttonHolder {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
    }
}

.activity-item {
    a.th {
        max-width: 80%;
    }
    .label {
        margin-top: 0.5em;
    }
    .detail {
        margin: 1em 0 0;
        padding: 0 0 0 1em;
        border-left: 5px solid lighten($black, 65%);
    }
}

.sidebar {
    .activity-item {
        .activity-info p {
            font-size: 95%;
            line-height: 1.2;
        }
    }
    .button-criteria {
        margin: emCalc(4px) 0;
    }
}

footer {
  @include panel($light-grey, 1em);
  width: 100%;
  height: 180px;
  margin: 2em 0 0;
  bottom: 0;
  p {
    color: $light-black;
    font-size: 90%;
    line-height: 1;
  }
}
