{% load i18n %}

{# Started following a problem #}


{% if action.target_content_type|stringformat:"s" == "problem" and action.verb|stringformat:"s" == "started following" %}
{% url "problem" action.target.slug as problem_url %}
{% url "actor" action.actor as actor_url %}
{% blocktrans with problem_title=action.target.title actor_name=action.actor %}<a href="{{ actor_url }}">{{ actor_name }}</a> is now is a contributor of the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
{% endif %}

{# Create problem #}

{% if action.action_object_content_type|stringformat:"s" == "problem" and action.verb|stringformat:"s" == "created" %}
{% url "problem" action.action_object.slug as problem_url %}
{% url "actor" action.actor as actor_url %}
{% blocktrans with problem_title=action.action_object.title actor_name=action.actor %}<a href="{{ actor_url }}">{{ actor_name }}</a> created the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
{% endif %}

{# Edit problem #}

{% if action.action_object_content_type|stringformat:"s" == "problem" and action.verb|stringformat:"s" == "edited" %}
{% url "problem" action.action_object.slug as problem_url %}
{% url "actor" action.actor as actor_url %}
{% blocktrans with problem_title=action.action_object.title actor_name=action.actor %}<a href="{{ actor_url }}">{{ actor_name }}</a> edited the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
{% endif %}

{# Create idea #}

{% if action.action_object_content_type|stringformat:"s" == "idea" and action.verb|stringformat:"s" == "created" %}
{% url "problem" action.action_object.problem.slug as problem_url %}
{% url "idea" action.action_object.problem.slug action.action_object.id as idea_url %}
{% url "actor" action.actor as actor_url %}
{% blocktrans with idea_title=action.action_object.title problem_title=action.action_object.problem.title actor_name=action.actor %}<a href="{{ actor_url }}">{{ actor_name }}</a> created the idea <a href="{{ idea_url }}">{{ idea_title }}</a> on the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
{% endif %}

{# Edit idea #}

{% if action.action_object_content_type|stringformat:"s" == "idea" and action.verb|stringformat:"s" == "edited" %}
{% url "problem" action.action_object.problem.slug as problem_url %}
{% url "idea" action.action_object.problem.slug action.action_object.id as idea_url %}
{% url "actor" action.actor as actor_url %}
{% blocktrans with idea_title=action.action_object.title problem_title=action.action_object.problem.title actor_name=action.actor %}<a href="{{ actor_url }}">{{ actor_name }}</a> edited the idea <a href="{{ idea_url }}">{{ idea_title }}</a> on the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
{% endif %}

{# Comment problem #}

{% if action.action_object_content_type|stringformat:"s" == "problem" and action.verb|stringformat:"s" == "commented" %}
{% url "problem" action.action_object.slug as problem_url %}
{% url "comment" action.target.slug action.action_object.id as comment_url %}
{% url "actor" action.actor as actor_url %}
{% blocktrans with problem_title=action.action_object.title actor_name=action.actor %}<a href="{{ actor_url }}">{{ actor_name }}</a> <a href="{{ comment_url }}">commented</a> the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
{% endif %}

{# Comment idea #}

{% if action.action_object_content_type|stringformat:"s" == "idea" and action.verb|stringformat:"s" == "commented" %}
{% url "problem" action.action_object.problem.slug as problem_url %}
{% url "idea" action.action_object.problem.slug action.action_object.id as idea_url %}
{% url "comment" action.target.slug action.action_object.id as comment_url %}
{% url "actor" action.actor as actor_url %}
{% blocktrans with idea_title=action.action_object.title problem_title=action.action_object.problem.title actor_name=action.actor %}<a href="{{ actor_url }}">{{ actor_name }}</a> <a href="{{ comment_url }}">commented</a> the idea <a href="{{ idea_url }}">{{ idea_title }}</a> on the problem <a href="{{ problem_url }}">{{ problem_title }}</a>{% endblocktrans %}
{% endif %}
