@import "settings";
@import "normalize";

@import "foundation";

@import "compass/css3";
@import "compass/utilities";

// Fonts

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 700;
    src: local('MontserratSubrayada-Bold'), url(../fonts/MontserratSubrayada-Bold.woff) format('woff');
}

// General

.expand {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    margin: 0;
}

.top-1em {
    padding-top: 1em !important;
}

.left-1em {
    margin-left: 1em !important;
}

.bottom-1em {
    padding-bottom: 1em !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.line-height-1 {
    line-height: 1 !important;
}

.text-red {
    color: $red !important;
}

.text-bold {
    font-weight: bold !important;
}

hr {
    border-color: lighten($black, 45%);
}

.tooltip {
    width: 30% !important;
}

.loading {
    padding-right: 40px !important;
    background-image: url('../img/loading.gif');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

// CKEditor

.cke_ltr {
    width: 100% !important;
}

.cke_combopanel__format {
    width: 200px !important;
}

// Buttons

.button i {
    font-size: emCalc(15px);
    vertical-align: middle;
    margin-right: emCalc(4px);
}

.buttonHolder {
    text-align: right;
    #advanced, .cancel {
        float:left;
    }
}

/* Criteria form entry */

#div_id_criteria {
    #id_criteria_on_deck {
        > div {
            padding: emCalc(10px) 0;
            margin: 0;
            border-top: 1px dotted $light-grey;
        }
        small {
            font-size: emCalc(12px);
            color: $light-black;
            display: block;
            line-height: 1.5;
            padding: emCalc(8px) 0 0 0;
        }
    }
}

/* Criteria buttons */

.criteria-button {
    float: left;
    margin: emCalc(6px) emCalc(4px);
    position: relative;
    .criteria-display {
        @include button(rem-calc(6px), $cyan, $button-radius, false, false, false);
        transition: all 0.5s ease;
        margin-bottom: 0;
        &:hover {
            background-color: $dark-cyan;
            color: $white;
        }
    }
    .criteria-description {
        @include panel($cyan, 20px);
        border-radius: 3px;
        display: none;
        font-size: emCalc(12px);
        padding: emCalc(8px) !important;
        position: absolute;
        z-index: 200;
        top: 0;
        left: 0;
        width: 350px;
        height: auto;
        p {
            margin: 0;
            font-size: emCalc(11px);
        }
        .top {
            color: $white;
            border-bottom: 1px solid $light-grey;
            padding: 0 emCalc(6px) emCalc(6px) emCalc(8px);
            margin-bottom: emCalc(6px);
            font-size: emCalc(14px);
        }
        .bottom {
            a {
                color: $white;
            }
            border-top: 1px solid $light-grey;
            padding-top: emCalc(6px);
            margin-top: emCalc(6px);
        }
        .star-row {
            padding: emCalc(4px) 0;
            .star-description {
                padding: emCalc(2px) 0 0 emCalc(8px) !important;
                p {
                    line-height: 1.2;
                }
            }
        }
    }
}

.criteria-button.expanded {
    float: left;
    width: 100%;
    .criteria-display {
        display: none;
    }
    .criteria-description {
        display: block;
        position: static;
        width: 100%;
        height: auto;
    }
}

/* Criteria vote */

.criteria-vote {
    border-top: 1px dotted $light-grey;
    padding: emCalc(15px) 0;
    .stars {
        font-size: 1.6em;
        color: $light-grey;
        i.selecting,
        i.selected {
            color: $yellow;
        }
    }
    .criteria-description {
        padding-top: emCalc(6px);
        color: $light-black;
        font-size: emCalc(13px);
        line-height: 1.2;
        margin: 0;
    }
}

// Forms

form {
    label {
        display: inline-block;
        line-height: 1;
        padding: emCalc(8px) 0;
    }
    input[type='text'] {
        margin: 0 0 emCalc(5px) 0;
    }
    input[type='checkbox'] {
        margin:0 emCalc(3px) 0 0;
    }
    textarea {
        line-height: 1.5;
    }
    .ctrlHolder {
        margin-bottom: emCalc(15px);
    }
    .formHint, .hint, p.help, span.helptext {
        font-size: 11px;
        color: $light-black;
        margin: 0;
        padding: emCalc(3px) 0;
    }
    .control-group {
        margin-bottom: emCalc(15px);
    }
    .asterisk {
        color: $red;
        padding: 0 0 0 emCalc(4px);
        font-size: 1.2em;
        font-weight: bold;
    }
}

// Error panel

.errorlist {
    list-style-type: none;
    margin-left: 0;
}

#errorMsg ol {
    margin-bottom: 0;
}

.panel.error, .errorlist li {
    @include panel(pink, 20px);
    @include border-radius($global-radius);
}

.nonfield-errors {
    color: $white;
    text-decoration: italic;
    margin: 0;
    ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

// Messages

.message-bar {
    padding: 0;
    margin: 0;
    position: relative;
    p {
        font-size: 0.7875rem;
        margin: 0;
        padding: 0.5em 2em;
        text-align: center;
        text-transform: uppercase;
    }
    a.close {
        position: absolute;
        font-size: 2rem;
        line-height: 1;
        position: absolute;
        top: 0;
        right: 0.6875rem;
        color: #aaa;
        font-weight: bold;
        cursor: pointer;
    }
}

.message-bar.success {
    background-color: #C1FFBE;
    color: $green;
    a.close {
        color: $green;
    }
}

.message-bar.info {
    background-color: #FFF7B2;
    color: #675D00;
    a.close {
        color: #675D00;
    }
}

.message-bar.warning {
    background-color: #FFDEDE;
    color: $red;
    a.close {
        color: $red;
    }
}

// Header

h1 {
    line-height: 1;
    a {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: lighten($black, 10%);
        letter-spacing: emCalc(-3px);
        @include text-shadow(
            lighten($black, 40%) 1px 1px 0,
            lighten($black, 60%) 2px 2px 0,
            lighten($black, 80%) 3px 3px 0,
            lighten($black, 100%) 4px 4px 0
        );
        &:hover {
            color: darken($black, 20%);
        }
    }
}

.top-bar {
    height: 40px;
    h1 {
        line-height: 1;
        text-align: left;
        a {
            font-family: 'Montserrat Subrayada', sans-serif;
            color: darken($white, 10%);
            letter-spacing: emCalc(-3px);
            @include text-shadow(
                darken($white, 40%) 1px 1px 0,
                darken($white, 60%) 2px 2px 0,
                darken($white, 80%) 3px 3px 0,
                darken($white, 100%) 4px 4px 0
            );
            &:hover {
                color: lighten($white, 20%);
            }
        }
    }
    ul.right li.torso a {
        padding-right: 0;
    }
    .has-icon i {
        font-size: emCalc(24px);
    }
}

.contain-to-grid .top-bar {
    overflow: hidden;
}

.upper-bar-wrap {
    @include crumb-container;
    width: 100%;
    margin: 0;
    .upper-bar-inner {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

.top-buttons {
    a.button {
        margin: emCalc(12px) 0 0 emCalc(6px);
    }
}

a.logo-faded {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: emCalc(25px);
    color: lighten($black, 30%);
    letter-spacing: emCalc(-1px);
    @include text-shadow(
        lighten($black, 60%) 1px 1px 0,
        lighten($black, 80%) 2px 2px 0
    );
    &:hover {
        color: darken($black, 40%);
    }
}

form.search-form i.fi-zoom-in {
    font-size: 24px;
    color: $grey;
}

#search-options.f-dropdown {
    width: auto;
}

.search-results {
    .search-results-item {
        h4 {
            span.label {
                margin-right: emCalc(10px);
            }
            span.highlighted {
                font-weight: bold;
            }
        }
        p.search-result-text {
            color: #999999;
            margin-bottom: emCalc(6px);
            span.highlighted {
                color: $black;
                font-weight: bold;
            }
        }
    }
}

// CKEditor dialog

table.cke_dialog {
    width: 250px !important;
    left: 35% !important;
    top: 100px !important;
}

// Pagination

p.pagination {
    color: $grey;
    padding-top: emCalc(30px);
}

// Problem

.problem-form {
    #id_max {
        margin-bottom: 0;
    }
}

h6.subheader {
    margin: 0;
    font-size: emCalc(14px);
}

.list-item {
    padding: emCalc(6px);
    margin: emCalc(6x);
    border-bottom: 1px solid lighten($black, 65%);
    h4 {
        margin: 4px 0 8px 0;
        color: $black;
        line-height: 1;
        @include text-shadow(
            lighten($black, 60%) 1px 1px 0,
            lighten($black, 80%) 2px 2px 0
        );
    }
    .counter {
        text-align: center;
        background: lighten($black, 65%);
        padding: 14px 5px;
        border-left: 2px solid $white;
        border-right: 2px solid $white;
        @include text-shadow(
            lighten($black, 50%) 1px 1px 0,
            lighten($black, 70%) 2px 2px 0
        );
        span {
            display: block;
        }
        .number {
            color: $black;
            font-size: emCalc(30px);
            letter-spacing: emCalc(-1px);
            line-height: 1;
        }
        .description {
            color: $light-black;
            font-size: emCalc(12px);
        }
    }
}

.problem-list-item {
    .counter {
        width: 44.333%;
    }
    .problem-alternative-counter {
        margin-right: 1em;
    }
    h6 {
        margin: emCalc(8px) emCalc(6px);
    }
}

.problem-detail {
    .description {
        margin: 5px 0;
    }
    .problem-criterias {
        margin-bottom: emCalc(20px);
    }
}

.user-box {
    @include panel(lighten($black, 70%), 5px);
    @include border-radius($global-radius);
    max-width: 240px;
    .avatar {
        @include thumb(1px, $light-black);
        margin-right: emCalc(6px);
    }
    .contributed {
        color: $light-black;
        font-size: emCalc(12px);
    }
    a.username {
        font-weight: bold;
        margin: 5px 0 0 0;
    }
}

.user-box-clean {
    background: none;
    border: 0;
}

.user-labels {
    margin: 0;
    padding: 0;
    .user-label {
        margin: 0 emCalc(4px) 0 0;
        font-size: emCalc(22px);
        font-weight: bold;
        padding: emCalc(6px) emCalc(8px);
        line-height: emCalc(28px);
        border: 1px solid $light-grey;
        i {
            font-size: emCalc(28px);
        }
        span.caption {
            font-size: emCalc(11px);
            text-transform: lowercase;
        }
    }
}

.activity-item {
    border-bottom: 1px dotted #ccc;
    padding: emCalc(15px) 0;
    .th {
        margin: 0 emCalc(8px) 0 0;
    }
    .action-info {
        padding-left: emCalc(60px);
        .action-description {
            min-height: emCalc(32px);
            margin: 0 0 emCalc(8px) 0;
            padding: 0;
            .action-label {
                float: left;
                margin: 0 emCalc(8px) 0 0;
                i {
                    color: $light-grey;
                    font-size: emCalc(32px);
                }
            }
            .action-text {
                padding-top: emCalc(5px);
                .action-date {
                    font-size: emCalc(12px);
                }
            }
        }
        .action-diff {
            padding: emCalc(6px) emCalc(10px);
            margin: emCalc(10px) 0 0 0;
            border-left: 3px dotted $light-grey;
            ins {
                color: #004800;
                background-color: #DFD;
                text-decoration: none;
            }
            del {
                color: #480007;
                background-color: #FDD;
                text-decoration: line-through;
            }
            h3 {
                font-size: emCalc(14px);
            }
            p.info {
                padding: emCalc(6px) emCalc(4px) 0 0;
                i.fi-target-two,
                i.fi-lock,
                i.fi-unlock,
                .criteria {
                    padding: 0 emCalc(4px) 0 emCalc(8px);
                }
            }
            p {
                margin: 0;
                padding: 0 0 emCalc(6px) 0;
                font-size: emCalc(12px);
                line-height: 1.1;
            }
        }
    }
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-top,
.ui-corner-br,
.ui-corner-bl,
.ui-corner-tr,
.ui-corner-tl {
    border-radius: 0 !important;
}

ul.ui-autocomplete {
    border: 1px solid $light-grey !important;
    background-color: $white !important;
}

.ui-state-focus {
    background: #EAEAEA !important;
    border-radius: 0;
}

.ui-helper-hidden-accessible {
    display: none;
}

.user-result {
    .avatar {
        margin-right: 0.3em;
    }
    .info {
        font-size: 1.5em;
    }
}

.admin-user-list-item {
    h4 {
        line-height: 1;
        margin-bottom: 2px;
    }
}

ul.ui-autocomplete {
    z-index: 9999;
    li a {
        line-height: 1;
        .criteria,
        .user {
            padding: emCalc(6px) emCalc(8px);
        }
        .criteria .ui-icon-edit {
            display: none;
        }
    }
}

ul.ui-autocomplete .user,
.results_on_deck .user {
    overflow: hidden;
    height: 30px;
    .fi-mail {
        font-size: 1.5em;
    }
    .avatar {
        border: 1px solid $light-grey;
        padding: 2px;
        margin-right: 5px;
        box-shadow: none;
    }
    .info {
        padding-top: 7px;
        white-space: nowrap;
    }
}

ul.ui-autocomplete .user {
    height: auto;
}

ul.ui-autocomplete .invitation,
.results_on_deck .invitation {
    .avatar {
        padding: 2px 5px;
    }
    .activation-link-button,
    .resend-button,
    .delete-button {
        display: none;
    }
}

#id_contributor_on_deck {
    > div {
        float: left;
        width: 24%;
        border: 1px solid $light-grey;
        border-radius: 3px;
        margin: 0.2em;
        padding: 0.2em;
        .resend-button,
        .delete-button {
            display: none;
        }
    }
}

#pending-invitations {
    h6 {
        margin-top: 1em;
    }
    .invitation {
        width: 100%;
        border-top: 1px solid $light-grey;
        padding: 1em 0 1em;
        .delete-button,
        .resend-button {
            margin: 0 4px 0 0;
        }
    }
    .avatar {
        border: 1px solid $light-grey;
        padding: 2px;
        margin-right: 5px;
        box-shadow: none;
    }
    .activation-link {
        display: none;
    }
}

.results_on_deck {
    > div {
        width: 100%;
        display: inline-block;
        position: relative;
        .ui-icon {
            position: absolute;
            z-index: 99;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-decoration: inherit;
            line-height: 1;
            display: inline-block;
            -webkit-font-smoothing: antialiased;
        }
        .ui-icon.ui-icon-edit {
            right: emCalc(25px);
            top: emCalc(3px);
        }
        .ui-icon.ui-icon-trash {
            color: $white;
            font-family: "foundation-icons";
            right: emCalc(4px);
            top: emCalc(10px);
        }
    }
}

.results_on_deck > div .ui-icon.ui-icon-trash:after {
    font-family: "foundation-icons";
    content: "\f217";
    color: $light-red;
    font-size: emCalc(20px);
}

#hint_id_criteria,
#hint_id_contributor {
    display: none;
}

.add-icon {
    color: $green;
    font-size: emCalc(20px);
}

.delete-icon {
    color: $light-red;
    font-size: emCalc(20px);
}

// Idea form

.problem-idea-form-button {
    margin: 2em 0;
}

.problem-idea-button-panel {
    margin: 1em 0 0 0;
    display: inline-block;
}

// Idea list

.problem-idea {
    position: relative;

    .idea-content {
        margin: 0 0 1em 0;
    }

    .idea-quantifiers {
        margin: 0 0 6px 0;
    }

    .idea-actions {
        margin: 28px 0 10px 0;
        a {
            margin: 0;
            padding: 2px 4px;
        }
    }
}

.problem-idea-form {
    #div_id_content > p {
        margin-bottom: 0;
    }
}

.deleted {
    * {
        opacity: 0.8;
    }
}

.idea-attrs {
    margin-top: emCalc(10px);
    span.secondary {
        height: 24px;
        line-height: 1;
        color: lighten($black, 20%);
        font-size: emCalc(13px);
        font-weight: bold;
        &:hover {
            color: $black;
        }
        i {
            vertical-align: middle;
            font-size: emCalc(15px);
        }
    }
}

// Idea comment list

.comment-form {
    textarea {
        height: emCalc(80px);
    }
}

.comment-content {
    padding: 0.7em 0.5em;
    border-top: 1px dotted $dark-white;
    font-size: 0.85em;
    color: $light-black;
    line-height: 1.5;
    .comment-author {
        background: lighten($black, 70%);
        padding: 2px 5px;
    }
    a.comment-date {
        color: lighten($black, 40%);
    }
    a.comment-delete-toggle {
        font-size:0.85em;
        padding: 2px 5px;
    }
    a.comment-delete {
        color: $light-red;
        &:hover {
            background-color: $light-red;
            color: $white;
        }
    }
    a.comment-undelete {
        color: $light-blue;
        &:hover {
            background-color: $light-blue;
            color: $white;
        }
    }
}

.html-diff {
    del, del * {
        color: $red;
        background-color: lighten($red, 60%);
    }
    ins, ins * {
        color: $green;
        background-color: lighten($green, 60%) !important;
        text-decoration: none;
    }
}

a.problem-action {
    color: $light-black;
    font-size: 0.9em;
    padding: 0.1em 0.4em;
    text-transform: lowercase;
    &:hover {
        background: $light-black;
        color: $white;
    }
}

#problem-table-row {
    display: none;
}

// jScrollPane

.jspVerticalBar {
    margin-left: 1em;
}
.jspHorizontalBar {
    margin-top: 1em;
}
.jspDrag {
    background-color: #A0A0A0;
}

// Criteria modal

#criteria-modal {
    .quantifier-help {
        margin-bottom: 1em;
    }
}

// Idea modal

#select-idea-modal {
    top: 40px;
    .problem-ideas-modal {
        height: 25em;
        overflow-y: scroll;
        .problem-idea-modal {
            padding: 0.6em 0;
            transition: background-color 300ms ease-out 0s;
            &:hover {
                cursor: pointer;
                background-color: $light-grey;
            }
            i.idea-status {
                font-size: 3em;
                color: darken($light-grey, 15%);
                display: block;
                padding-top: 0.2em;
            }
            i.idea-status.checked {
                color: $green;
            }
        }
    }
}

#alternative-add-modal {
    .buttonHolder {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
    }
}

.problem-table {
    .cell-wrap {
        text-align: center;
        position: relative;
    }
    .alternative-order {
        color: $grey;
        font-size: emCalc(30px);
        text-align: center;
        vertical-align: middle;
        font-family: 'Open Sans';
    }
    .alternative-vote {
        i {
            font-size: 40px;
        }
        font-size: 32px;
        color: $light-grey;
    }
    .alternative-vote:hover {
        cursor: pointer;
    }
    .alternative-vote.voted,
    .alternative-vote.hover {
        color: $yellow;
    }
    .alternative-ideas {
        span.label {
            margin-bottom: emCalc(5px);
        }
    }
    .alternative-stars {
        .cell-wrap {
            width: 140px;
            .yellow {
                margin-top: 3px;
            }
            .stars-wrap {
                position: relative;
                width: 100px;
                > div {
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: emCalc(20px);
                    display: inline;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .stars {
                    z-index: 99;
                    width: 0px;
                    color: $yellow;
                }
                .stars-bg {
                    z-index: 98;
                    width: 100%;
                    color: $light-grey;
                }
            }
        }
    }
}

.table-action-buttons {
    margin-top: emCalc(15px);
}

.table-button-row {
    border-top: 1px solid lighten($black, 45%);
}

.table-button {
    @include button(rem-calc(6), #F4F4F4, false, true, false, false);
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    text-transform: uppercase;
    font-size: rem-calc(10);
}

.table-help {
    display: none;
}

#header-wrap {
    position: relative;
}

// Notifications

.notification-icon {
    a {
        position: relative;
        line-height: 1;
        .counter {
            display: none;
        }
    }
}

.notification-icon.alert {
    a {
        .fi-lightbulb {
            color: #FCDD09;
        }
        .counter {
            display: block;
            background-color: #FCDD09;
            border-radius: 5px;
            padding: 2px 4px;
            color: #000000;
            font-size: 10px;
            font-weight: bold;
            letter-spacing: -1px;
            position: absolute;
            right: 6px;
            bottom: 12px;
            line-height: 1;
            border: 1px solid #000000;
        }
    }
}

.notification-icon.highlighted {
    a {
        background-color: #FCDD09 !important;
        .fi-lightbulb {
            color: #000000 !important;
        }
    }
}

// Activity

#activity {
    position: absolute;
    top: -35px;
    right: 150px;
    z-index: 200;
    width: 35%;
    background: white;
    padding: 1em;
    border: 1px solid $grey;
    border-radius: 3px;
    #activity-box {
        overflow: hidden;
        height: 250px;
        font-size: emCalc(12px);
        line-height: 1.1;
        margin: 0.5em 0;
        hr {
            margin: 0.5em 0;
        }
        .avatar {
            margin-right: 5px;
        }
        .info {
            display: block;
            overflow: hidden;
        }
    }
    .activity-item {
        border-bottom: 1px dotted $grey;
        margin: 0;
        padding: emCalc(5px) 0;
    }
}

footer {
    @include panel($light-grey, 1em);
    width: 100%;
    height: 180px;
    margin: 2em 0 0;
    bottom: 0;
    p {
        color: $light-black;
        font-size: 90%;
        line-height: 1;
    }
}
