@import "settings";
@import "normalize";

@import "foundation";

@import "compass/css3";
@import "compass/utilities";

// Fonts

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans-Light.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 700;
    src: local('MontserratSubrayada-Bold'), url(../fonts/MontserratSubrayada-Bold.woff) format('woff');
}

// General

.expand {
    width: 100%;
}

.top-1em {
    padding-top: 1em !important;
}

.left-1em {
    padding-left: 1em !important;
}

.bottom-1em {
    padding-bottom: 1em !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.line-height-1 {
    line-height: 1 !important;
}

.text-red {
    color: $red !important;
}

.text-bold {
    font-weight: bold !important;
}

hr {
    border-color: lighten($black, 45%);
}

.tooltip {
    width: 30% !important;
}

.loading {
    padding-right: 40px !important;
    background-image: url('../img/loading.gif');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

// CKEditor

.cke_ltr {
    width: 100% !important;
}

.cke_combopanel__format {
    width: 200px !important;
}

// Buttons

.button i {
    font-size: emCalc(15px);
    vertical-align: middle;
    margin-right: emCalc(4px);
}

.buttonHolder {
    text-align: right;
    #advanced, .cancel {
        float:left;
    }
}

.button-criteria {
    transition: all 0.5s ease;
    @include button(rem-calc(2px), $cyan, $button-radius, false, false, false);
    &:hover {
        background-color: $dark-cyan;
        color: $white;
    }
}

.button.yellow {
    @include button(rem-calc(2px), $yellow, $global-radius, false, true, false);
}


// Forms

form {
    label {
        display: inline-block;
        line-height: 1;
        padding: emCalc(8px) 0;
    }
    input[type='checkbox'] {
        margin:0 3px 0 0;
    }
    .ctrlHolder {
        margin-bottom: emCalc(15px);
    }
    .formHint, .hint, p.help, span.helptext {
        font-size: 11px;
        color: $light-black;
        margin: 0;
        padding: emCalc(3px) 0;
    }
    .control-group {
        margin-bottom: emCalc(15px);
    }
    .asterisk {
        color: $red;
        padding: 0 0 0 emCalc(4px);
        font-size: 1.2em;
        font-weight: bold;
    }
}

// Error panel

.errorlist {
    list-style-type: none;
    margin-left: 0;
}

#errorMsg ol {
    margin-bottom: 0;
}

.panel.error, .errorlist li {
    @include panel(pink, 20px);
    @include border-radius($global-radius);
}

.nonfield-errors {
    color: $white;
    text-decoration: italic;
    margin: 0;
    ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

// Top bar

.top-bar {
    .fi-megaphone,
    .fi-widget {
        font-size: 24px;
    }
}


.contain-to-grid .top-bar {
    overflow: hidden;
}

.upper-bar-wrap {
    @include crumb-container;
    width: 100%;
    margin: 0;
    .upper-bar-inner {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

// Messages

.message-bar {
    padding: 0;
    margin: 0;
    p {
        font-size: 0.7875rem;
        margin: 0;
        padding: 0.5em 2em;
        text-align: center;
        text-transform: uppercase;
    }
}

.message-bar.success {
    background-color: #C1FFBE;
    border-bottom: 1px solid $green;
    color: $green;
}

.message-bar.info {
    background-color: #FFF7B2;
    border-bottom: 1px solid #FFF499;
    color: #675D00;
}

.message-bar.warning {
    background-color: #FFDEDE;
    border-bottom: 1px solid $red;
    color: $red;
}

// Header

h1 {
    line-height: 1;
    a {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: lighten($black, 10%);
        letter-spacing: emCalc(-3px);
        @include text-shadow(
            lighten($black, 40%) 1px 1px 0,
            lighten($black, 60%) 2px 2px 0,
            lighten($black, 80%) 3px 3px 0,
            lighten($black, 100%) 4px 4px 0
        );
        &:hover {
            color: darken($black, 20%);
        }
    }
}

.top-bar h1 {
    line-height: 1;
    text-align: left;
    a {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: darken($white, 10%);
        letter-spacing: emCalc(-3px);
        @include text-shadow(
            darken($white, 40%) 1px 1px 0,
            darken($white, 60%) 2px 2px 0,
            darken($white, 80%) 3px 3px 0,
            darken($white, 100%) 4px 4px 0
        );
        &:hover {
            color: lighten($white, 20%);
        }
    }
}

a.logo-faded {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: emCalc(25px);
    color: lighten($black, 30%);
    letter-spacing: emCalc(-1px);
    @include text-shadow(
        lighten($black, 60%) 1px 1px 0,
        lighten($black, 80%) 2px 2px 0
    );
    &:hover {
        color: darken($black, 40%);
    }
}

form.search-form i.fi-zoom-in {
    font-size: 24px;
    color: $grey;
}

#search-options.f-dropdown {
    width: auto;
}

.search-results {
    .search-results-item {
        h4 {
            span.label {
                margin-right: emCalc(10px);
            }
            span.highlighted {
                font-weight: bold;
            }
        }
        p.search-result-text {
            color: #999999;
            margin-bottom: emCalc(6px);
            span.highlighted {
                color: $black;
                font-weight: bold;
            }
        }
    }
}

// CKEditor dialog

table.cke_dialog {
    width: 250px !important;
    left: 35% !important;
    top: 100px !important;
}

// Pagination

p.pagination {
    color: $light-black;
    margin-top: 1em;
}

// Problem

.problem-form {
    #id_max {
        margin-bottom: 0;
    }
}

.list-item {
    padding: emCalc(6px);
    margin: emCalc(6x);
    border-bottom: 1px solid lighten($black, 65%);
    h4 {
        margin: 4px 0 8px 0;
        color: $black;
        line-height: 1;
        @include text-shadow(
            lighten($black, 60%) 1px 1px 0,
            lighten($black, 80%) 2px 2px 0
        );
    }
    h6.subheader {
        margin: 0;
        font-size: emCalc(14px);
    }
    .counter {
        text-align: center;
        background: lighten($black, 65%);
        padding: 14px 5px;
        border-left: 2px solid $white;
        border-right: 2px solid $white;
        @include text-shadow(
            lighten($black, 50%) 1px 1px 0,
            lighten($black, 70%) 2px 2px 0
        );
        span {
            display: block;
        }
        .number {
            color: $black;
            font-size: emCalc(30px);
            letter-spacing: emCalc(-1px);
            line-height: 1;
        }
        .description {
            color: $light-black;
            font-size: emCalc(12px);
        }
    }
}

.problem-list-item {
    .counter {
        width: 44.333%;
    }
    .problem-alternative-counter {
        margin-right: 1em;
    }
}

.problem-detail {
    .description {
        margin: 5px 0;
    }
}

.problem-icons {
    margin: 0;
    font-size: emCalc(50px);
}

#criterias .criteria {
    border-bottom: 1px solid $light-grey;
    margin: 0.5em;
    padding: 0.5em;
    p {
        margin: 0.3rem 0;
    }
    p.criteria-description {
        line-height: 1.1;
    }
}

.criteria-list-item {
    .counter {
        width: 98.333%;
    }
    .columns.criteria-info {
        padding-left: emCalc(10px);
    }
}

.criteria-vote {
    .stars {
        font-size: 1.6em;
        color: $light-grey;
        i.selecting,
        i.selected {
            color: $yellow;
        }
    }
}

.new-criteria-button {
    margin-top: emCalc(30px);
}

.criteria-description {
    padding: rem-calc(10);
    p {
        padding: 0;
        margin: rem-calc(8) 0;
        line-height: 1;
    }
}

.user-box {
    @include panel(lighten($black, 70%), 5px);
    @include border-radius($global-radius);
    .avatar {
        @include thumb(1px, $light-black);
    }
    .contributed {
        color: $light-black;
        font-size: emCalc(12px);
    }
    a.username {
        font-weight: bold;
        margin: 5px 0 0 0;
    }
}

.user-labels span {
    margin: emCalc(4px);
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-left,
.ui-corner-top,
.ui-corner-br,
.ui-corner-bl,
.ui-corner-tr,
.ui-corner-tl {
    border-radius: 0 !important;
}

ul.ui-autocomplete {
    border: 1px solid $light-grey !important;
    background-color: $white !important;
}

.ui-state-focus {
    background: #EAEAEA !important;
    border-radius: 0;
}

.ui-helper-hidden-accessible {
    display: none;
}

.user-result {
    .avatar {
        margin-right: 0.3em;
    }
    .info {
        font-size: 1.5em;
    }
}

.admin-user-list-item {
    h4 {
        line-height: 1;
        margin-bottom: 2px;
    }
}

ul.ui-autocomplete {
    z-index: 9999;
    li a {
        line-height: 1;
        .criteria,
        .user {
            padding: 4px 10px;
        }
    }
}

ul.ui-autocomplete .user,
.results_on_deck .user {
    overflow: hidden;
    height: 30px;
    .fi-mail {
        font-size: 1.5em;
    }
    .avatar {
        border: 1px solid $light-grey;
        padding: 2px;
        margin-right: 5px;
        box-shadow: none;
    }
    .info {
        padding-top: 7px;
        white-space: nowrap;
    }
}

ul.ui-autocomplete .user {
    height: auto;
}

ul.ui-autocomplete .invitation,
.results_on_deck .invitation {
    .avatar {
        padding: 2px 5px;
    }
    .resend-button,
    .delete-button {
        display: none;
    }
}

#id_contributor_on_deck {
    > div {
        float: left;
        width: 24%;
        border: 1px solid $light-grey;
        border-radius: 3px;
        margin: 0.2em;
        padding: 0.2em;
        .resend-button,
        .delete-button {
            display: none;
        }
    }
}

#pending-invitations {
    h6 {
        margin-top: 1em;
    }
    .invitation {
        width: 100%;
        border-top: 1px solid $light-grey;
        padding: 1em 0 1em;
        .delete-button,
        .resend-button {
            margin: 0 4px 0 0;
        }
    }
    .avatar {
        border: 1px solid $light-grey;
        padding: 2px;
        margin-right: 5px;
        box-shadow: none;
    }
}

.results_on_deck {
    > div {
        width: 100%;
        display: inline-block;
        position: relative;
        .ui-icon.ui-icon-trash {
            font-family: "foundation-icons";
            color: white;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            text-decoration: inherit;
            position: absolute;
            top: 2px;
            right: 4px;
            z-index: 99;
        }
    }
}

.results_on_deck > div .ui-icon.ui-icon-trash:after {
    font-family: "foundation-icons";
    content: "\f217";
    color: $light-red;
    font-size: emCalc(20px);
}

#hint_id_criteria,
#hint_id_contributor {
    display: none;
}

.add-icon {
    color: $green;
    font-size: emCalc(20px);
}

.delete-icon {
    color: $light-red;
    font-size: emCalc(20px);
}

// Idea form

.problem-idea-form-button {
    margin: 2em 0;
}

.problem-idea-button-panel {
    margin: 1em 0 0 0;
    display: inline-block;
}

// Idea list

.problem-idea {
    position: relative;

    .idea-content {
        margin: 0 0 1em 0;
    }

    .idea-quantifiers {
        margin: 0 0 6px 0;
    }

    .idea-actions {
        margin: 28px 0 10px 0;
        a {
            margin: 0;
            padding: 2px 4px;
        }
    }
}

.problem-idea-form {
    #div_id_content > p {
        margin-bottom: 0;
    }
}

.deleted {
    * {
        opacity: 0.8;
    }
}

.idea-attrs {
    margin-top: emCalc(10px);
    span.secondary {
        height: 24px;
        line-height: 1;
        color: lighten($black, 20%);
        font-size: emCalc(13px);
        font-weight: bold;
        &:hover {
            color: $black;
        }
        i {
            vertical-align: middle;
            font-size: emCalc(15px);
        }
    }
}

// Idea comment list

.comment-form {
    textarea {
        height: emCalc(80px);
        line-height: 1.5;
    }
}

.comment-content {
    padding: 0.7em 0.5em;
    border-top: 1px dotted $dark-white;
    font-size: 0.85em;
    color: $light-black;
    line-height: 1.5;
    .comment-author {
        background: lighten($black, 70%);
        padding: 2px 5px;
    }
    a.comment-date {
        color: lighten($black, 40%);
    }
    a.comment-delete-toggle {
        font-size:0.85em;
        padding: 2px 5px;
    }
    a.comment-delete {
        color: $light-red;
        &:hover {
            background-color: $light-red;
            color: $white;
        }
    }
    a.comment-undelete {
        color: $light-blue;
        &:hover {
            background-color: $light-blue;
            color: $white;
        }
    }
}

.html-diff {
    del, del * {
        color: $red;
        background-color: lighten($red, 60%);
    }
    ins, ins * {
        color: $green;
        background-color: lighten($green, 60%) !important;
        text-decoration: none;
    }
}

a.problem-action {
    color: $light-black;
    font-size: 0.9em;
    padding: 0.1em 0.4em;
    text-transform: lowercase;
    &:hover {
        background: $light-black;
        color: $white;
    }
}

#problem-table-row {
    display: none;
}

// jScrollPane

.jspVerticalBar {
    margin-left: 1em;
}
.jspHorizontalBar {
    margin-top: 1em;
}
.jspDrag {
    background-color: #A0A0A0;
}

// Criteria modal

#criteria-modal {
    .quantifier-help {
        margin-bottom: 1em;
    }
}

// Idea modal

#select-idea-modal {
    top: 40px;
    .problem-ideas-modal {
        height: 25em;
        overflow-y: scroll;
        .problem-idea-modal {
            padding: 0.6em 0;
            transition: background-color 300ms ease-out 0s;
            &:hover {
                cursor: pointer;
                background-color: $light-grey;
            }
            i.idea-status {
                font-size: 3em;
                color: darken($light-grey, 15%);
                display: block;
                padding-top: 0.2em;
            }
            i.idea-status.checked {
                color: $green;
            }
        }
    }
}

#alternative-add-modal {
    .buttonHolder {
        padding: 0;
        margin: 0;
        border: 0;
        background-color: transparent;
    }
}

.problem-table {
    .cell-wrap {
        text-align: center;
        position: relative;
    }
    .alternative-order {
        color: $grey;
        font-size: emCalc(30px);
        text-align: center;
        vertical-align: middle;
        font-family: 'Open Sans';
    }
    .alternative-vote {
        i {
            font-size: 40px;
        }
        font-size: 32px;
        color: $light-grey;
    }
    .alternative-vote:hover {
        cursor: pointer;
    }
    .alternative-vote.voted,
    .alternative-vote.hover {
        color: $yellow;
    }
    .alternative-ideas {
        span.label {
            margin-bottom: emCalc(5px);
        }
    }
    .alternative-stars {
        .cell-wrap {
            width: 140px;
            .yellow {
                margin-top: 3px;
            }
            .stars-wrap {
                position: relative;
                width: 100px;
                > div {
                    position: absolute;
                    left: 0;
                    top: 0;
                    font-size: emCalc(20px);
                    display: inline;
                    overflow: hidden;
                    white-space: nowrap;
                }
                .stars {
                    z-index: 99;
                    width: 0px;
                    color: $yellow;
                }
                .stars-bg {
                    z-index: 98;
                    width: 100%;
                    color: $light-grey;
                }
            }
        }
    }
}

.table-button-row {
    border-top: 1px solid lighten($black, 45%);
}

.table-button {
    @include button(rem-calc(6), #F4F4F4, false, true, false, false);
    border-radius: 0 0 3px 3px;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    text-transform: uppercase;
    font-size: rem-calc(10);
}

.table-help {
    display: none;
}

#header-wrap {
    position: relative;
}

// Notifications

.notification-icon {
    a {
        position: relative;
        .fi-lightbulb {
            font-size: 28px;
            color: #FCDD09;
        }
    }
}

.notification-icon.highlighted {
    a {
        background-color: #FCDD09 !important;
        .fi-lightbulb {
            color: #000000 !important;
        }
    }
}

// Activity

#activity {
    position: absolute;
    top: -35px;
    right: 10px;
    z-index: 200;
    width: 35%;
    background: white;
    padding: 1em;
    border: 1px solid $grey;
    border-radius: 3px;
    #activity-box {
        overflow: hidden;
        height: 250px;
        font-size: emCalc(12px);
        line-height: 1.1;
        margin: 0.5em 0;
        hr {
            margin: 0.5em 0;
        }
        .avatar,
        .info {
            margin-bottom: 0.5em;
        }
        .avatar {
            margin-right: 5px;
        }
        .info {
            display: block;
            overflow: hidden;
        }
    }
}

.activity-item {
    a.th {
        max-width: 80%;
    }
    .label {
        margin-top: 0.5em;
    }
    .detail {
        margin: 1em 0 0;
        padding: 0 0 0 1em;
        border-left: 5px solid lighten($black, 65%);
    }
}

.sidebar {
    .activity-item {
        .activity-info p {
            font-size: 95%;
            line-height: 1.2;
        }
    }
    .label-quantifier {
        margin: emCalc(4px) emCalc(2px);
    }
}

footer {
    @include panel($light-grey, 1em);
    width: 100%;
    height: 180px;
    margin: 2em 0 0;
    bottom: 0;
    p {
        color: $light-black;
        font-size: 90%;
        line-height: 1;
    }
}
