// Imports {{{

@import "settings";
@import "foundation/scss/foundation";

// }}} Fonts {{{

@font-face {
    font-family: 'Montserrat Subrayada';
    font-style: normal;
    font-weight: 700;
    src: local('MontserratSubrayada-Bold'), url(../fonts/MontserratSubrayada-Bold.woff) format('woff');
}

// }}} General {{{

.expand {
    width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.top-1em {
    margin-top: 1em !important;
}

.right-1em {
    margin-right: 1em !important;
}

.left-1em {
    margin-left: 1em !important;
}

.bottom-1em {
    margin-bottom: 1em !important;
}

.top-border {
    border-top: 1px solid $grey;
}

.bottom-border {
    border-bottom: 1px solid $grey;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.align-top {
    vertical-align: top;
}

.line-height-1 {
    line-height: 1 !important;
}

.text-bold {
    font-weight: bold !important;
}

.text-large {
    font-size: 1.5em !important;
}

.text-small {
    font-size: 0.8em !important;
}

.hidden {
    display: none;
}

.stick {
    position: fixed;
    top: 0;
}

.anchor-top {
    position: relative;
    top: -120px;
    display: block;
    height: 0;
    width:0;
}

hr {
    border-color: lighten($black, 45%);
}

.loading {
    padding-right: 40px !important;
    background-image: url('../img/loading.gif');
    background-position: right 10px center;
    background-repeat: no-repeat;
}

.fixed {
    position: fixed !important;
    top: 0 !important;
}

// }}} Buttons {{{

.button {
    i {
        font-size: emCalc(15px);
        vertical-align: middle;
    }
    &.large-button {
        margin: emCalc(15px) 0;
    }
    &.large-icon {
        margin: emCalc(5px) 0 emCalc(25px) 0;
        padding: emCalc(10px) emCalc(50px);
        line-height: 1.2;
        position: relative;
        i {
            color: white;
            font-size: 24px;
            left: 20px;
            position: absolute;
            top: 5px
        }
    }
}

.buttonHolder {
    text-align: right;
    #advanced, .cancel {
        float:left;
    }
}

a.action-button {
    @include single-transition(all, 200ms, ease-out);
    font-size: emCalc(14px);
    padding: emCalc(4px) emCalc(8px);
    text-transform: lowercase;
    color: $light-black;
    &:hover,
    &.marked,{
        color: $white;
        background-color: $black;
    }
    &:hover,
    &.marked {
        &.delete {
            background-color: #AE0000;
        }
    }
}

.action-tabs {
    @include single-transition(all, 200ms, ease-out);
    padding-top: emCalc(15px);
    border-bottom: 1px solid $grey;
    text-transform: lowercase;
    &>a.action-tab {
        font-size: emCalc(20px);
        line-height: emCalc(24px);
        color: $black;
        margin-bottom: -1px;
        padding: emCalc(10px) 0;
        text-transform: lowercase;
        &.marked {
            background: white;
            border-top: 3px solid $black;
            border-left: 1px solid $grey;
            border-right: 1px solid $grey;
            border-bottom: 3px solid white;
            border-top-left-radius: emCalc(3px);
            border-top-right-radius: emCalc(3px);
        }
    }
    &.stick {
        @include single-transition(all, 200ms, ease-out);
        max-width: 100% !important;
        width: 100% !important;
        z-index: 30;
        background-color: white;
        padding: emCalc(5px) 0 0 0;
    }
}
// }}}

/* }}} Forms {{{ */

fieldset {
    margin: 0 0 emCalc(20px) 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
    margin:0;
}

.cke_ltr {
    width: 100% !important;
}

.cke_combopanel__format {
    width: 200px !important;
}

table.cke_dialog {
    width: 250px !important;
    left: 35% !important;
    top: 100px !important;
}

form {
    &.auth-form {
        input[type="submit"] {
            margin-top: emCalc(10px);
        }
    }
    label {
        display: inline-block;
        line-height: 1;
        padding: emCalc(8px) 0;
    }
    input[type='checkbox'] {
        margin:0 emCalc(3px) 0 0;
    }
    textarea {
        line-height: 1.5;
    }
    .ctrlHolder {
        margin-bottom: emCalc(15px);
    }
    .formHint, .hint, p.help, span.helptext {
        font-size: 11px;
        color: $light-black;
        margin: 0;
        padding: emCalc(3px) 0;
    }
    .control-group {
        margin-bottom: emCalc(15px);
    }
    .asterisk {
        color: $alert-color;
        padding: 0 0 0 emCalc(4px);
        font-size: 1.2em;
        font-weight: bold;
    }
    .button-holder {
        margin-top: emCalc(10px);
    }
}

form.auth-form {
    input[type='text'],
    input[type='password'] {
        text-align: center;
        font-weight: bold;
        font-size: emCalc(22px);
        padding: 6px 12px;
        height: auto;
    }
    a.button,
    input[type='button'],
    input[type='submit'] {
        font-weight: bold;
        font-size: emCalc(22px);
    }
}

// }}} Tooltip {{{

.tooltip {
    small {
        font-size: emCalc(11px);
    }
    p {
        &.description {
            border-bottom: 1px solid $dark-grey;
            padding-bottom: emCalc(5px);
            margin-bottom: emCalc(5px);
        }
        margin: 0;
        padding: 0;
        line-height: 1.3;
        span i {
            margin-right: emCalc(5px);
        }
    }
}

// }}} Panel {{{

.panel {
    position: relative;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    i {
        position: absolute;
        top: 3px;
        left: emCalc(22px);
        font-size: emCalc(32px);
    }
    p {
        line-height: emCalc(32px);
        a {
            color: $black;
        }
    }
    &.has-icon {
        p {
            padding-left: emCalc(50px);
        }
    }
    &.has-link:hover {
        background: $grey;
        color: black;
        a {
            color: black;
        }
    }
    .button {
        color: white;
    }
}
.panel-inline {
    .panel {
        border-left: 3px solid $light-grey;
        border-right: 3px solid $light-grey;
    }
    p {
        line-height: 1.1;
    }
}

.errorlist {
    list-style-type: none;
    margin-left: 0;
}

#errorMsg ol {
    margin-bottom: 0;
}

.panel.error, .errorlist li {
    @include panel($alert-color, 10px 15px);
    border-radius: 4px;
    color: white;
}

.nonfield-errors {
    color: $white;
    text-decoration: italic;
    margin: 0;
    ol {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }
}

// }}}

// Messages {{{

a.close {
    position: absolute;
    font-size: 16px;
    line-height: emCalc(12px);
    padding: emCalc(5px) 0 0 0;
    position: absolute;
    top: 0;
    right: 0.6875rem;
    color: $black;
    font-weight: bold;
    cursor: pointer;
    right: 2.5em;
    top: 0;
    z-index: 100;
}

.message-bar {
    background-color: $light-grey;
    border-bottom: 1px solid $grey;
    padding: emCalc(10px) 0;
    margin: 0;
    position: relative;
    p {
        font-size: emCalc(12px);
        margin: 0;
        padding: emCalc(5px) emCalc(20px);
        text-align: center;
        text-transform: uppercase;
    }
}

.message-bar.success {
    background-color: #C1FFBE;
    color: $success-color;
    border-bottom: 1px solid $success-color;
    a.close {
        color: $success-color;
    }
}

.message-bar.info {
    background-color: #FFF7B2;
    color: #675D00;
    border-bottom: 1px solid #675D00;
    a.close {
        color: #675D00;
    }
}

.message-bar.warning {
    background-color: #FFDEDE;
    border-bottom: 1px solid $alert-color;
    color: $alert-color;
    a.close {
        color: $alert-color;
    }
}

// }}}

// Top bar {{{


.top-bar-wrap,.top-bar {
    background: linear-gradient(top, $black 0%,$dark-black 90%);
    background: -moz-linear-gradient(top, $black 0%,$dark-black 90%);
    background: -webkit-linear-gradient(top, $black 0%,$dark-black 90%);
    .top-bar-section {
        li.has-form {
            padding:0 emCalc(3px);
        }
        #login-form input {
            width: emCalc(115px);
        }
        li:not(.has-form) {
            a:not(.button) {
                background: linear-gradient(top, $black 0%,$dark-black 90%);
                background: -moz-linear-gradient(top, $black 0%,$dark-black 90%);
                background: -webkit-linear-gradient(top, $black 0%,$dark-black 90%);
                &:hover,&.hover {
                    background: linear-gradient(top, $black 0%,lighten($dark-black, 15%) 90%);
                    background: -moz-linear-gradient(top, $black 0%,lighten($dark-black, 15%) 90%);
                    background: -webkit-linear-gradient(top, $black 0%,lighten($dark-black, 15%) 90%);
                }
            }
            a:not(.button).primary {
                background: linear-gradient(top, lighten($primary-color, 5%) 0%,$primary-color 90%);
                background: -moz-linear-gradient(top, lighten($primary-color, 5%) 0%,$primary-color 90%);
                background: -webkit-linear-gradient(top, lighten($primary-color, 5%) 0%,$primary-color 90%);
                &:hover,&.hover {
                    background: linear-gradient(top, $primary-color 0%,darken($primary-color, 5%) 90%);
                    background: -moz-linear-gradient(top, $primary-color 0%,darken($primary-color, 5%) 90%);
                    background: -webkit-linear-gradient(top, $primary-color 0%,darken($primary-color, 5%) 90%);
                }
            }
            &.title {
                h1 {
                    text-align: center;
                    font: bold emCalc(30px) 'Montserrat Subrayada';
                    line-height: emCalc(35px);
                    letter-spacing: emCalc(-3px);
                    margin: 0;
                    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
                    a {
                        display: block;
                        color: white;
                    }
                }
            }
            &.notification-icon a {
                position: relative;
                .counter {
                    display: none;
                }
            }
            &.alert {
                a {
                    span.counter {
                        display: block;
                        background-color: $primary-color;
                        color: white;
                        border-radius: 5px;
                        padding: 2px 4px;
                        font-size: 10px;
                        font-weight: bold;
                        letter-spacing: -1px;
                        position: absolute;
                        right: 6px;
                        bottom: 12px;
                        line-height: 1;
                        border: 1px solid darken($primary-color, 20%);
                    }
                }
            }
            &.torso a,
            &.x a {
                padding-right: 0;
            }
            &.user a {
                padding-right: emCalc(15px);
            }
            &.superuser {
                background: transparent;
                span {
                    margin: emCalc(13px) emCalc(10px) 0 emCalc(3px);
                    text-transform: uppercase;
                }
            }
            &.has-icon i {
                font-size: emCalc(26px);
            }
        }
    }
}

.contain-to-grid .top-bar {
    overflow: hidden;
}

.top-buttons {
    a.button {
        margin: emCalc(12px) 0 0 emCalc(6px);
    }
}

a.logo-faded {
    font-family: 'Montserrat Subrayada', sans-serif;
    font-size: emCalc(25px);
    color: lighten($black, 30%);
    letter-spacing: emCalc(-1px);
    &:hover {
        color: darken($black, 40%);
    }
}

.title-bar-wrap {
    background-color: $light-grey;
    @include crumb-container;
    width: 100%;
    margin: 0;
    padding: emCalc(10px);
    .title-bar-inner {
        border: 0;
        margin: 0;
        padding: 0;
        .title-bar-icon {
            position: absolute;
            font-size: emCalc(40px);
            top: 0;
            left: emCalc(10px);
            a {
                margin: 0 0 0 emCalc(5px);
                color: lighten($black, 20%);
            }
        }
        .title-bar-info {
            padding-left: emCalc(45px);
            h2 {
                margin: 0;
                padding: emCalc(15px) 0 emCalc(10px);
                line-height: 1;
                font-size: emCalc(25px);
                line-height: emCalc(25px);
                vertical-align: middle;
                color: $light-black;
                font-weight: normal;
                a {
                    color: $light-black;
                    &:hover {
                        color: $black;
                    }
                }
            }
            .buttons {
                padding-bottom: emCalc(5px);
            }
            a.action-button.marked {
                color: $black;
                background-color: lighten($grey, 5%);
            }
        }
    }
    ul.button-group {
        display: inline-block;
    }
    .info-status {
        padding: emCalc(35px) 0 0 0;
        line-height: 1;
        color: $light-black;
        font-size: emCalc(12px);
        i {
            font-size: emCalc(18px);
            margin-right: emCalc(8px);
        }
        b {
            font-size: emCalc(13px);
            text-transform: uppercase;
        }
        .status {
            &:hover {
                cursor: help;
            }
        }
    }
}

// }}}

// Pagination

p.pagination {
    color: $grey;
    padding-top: emCalc(30px);
}

// Problem {{{

.problem-form {
    #id_max {
        margin-bottom: 0;
    }
}

h6.subheader {
    margin: 0;
    font-size: emCalc(13px);
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 0.3rem;
    margin-top: 0.2rem;
    padding-bottom: 0.3rem;
}

.counter-wrap,
.problem-counter {
    .counter {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
    span.button,
    a.button {
        padding: emCalc(15px) 0 emCalc(10px) 0;
        background-color: $light-grey;
        font-weight: bold;
        color: $light-black;
        &:hover {
            em {
                color: black;
            }
        }
        &.draft {
            padding: emCalc(10px) 0 emCalc(10px) 0;
        }
        i {
            font-size: emCalc(24px);
        }
        em {
            font-style: normal;
            font-weight: bold;
            line-height: 1;
        }
        em.draft {
            font-size: emCalc(18px);
        }
        em.number {
            font-size: emCalc(16px);
            display: block;
            clear: both;
            font-size: emCalc(32px);
            line-height: 0.7;
        }
        em.description {
            font-size: emCalc(12px);
            line-height: 0.7;
        }
    }
}

.problem-row {
    padding: emCalc(6px);
    margin: emCalc(6x);
    border-bottom: 1px solid lighten($black, 65%);
    h4 {
        margin: emCalc(5px) 0 emCalc(3px) 0;
        color: $black;
        line-height: 1;
    }
    h4 a.draft {
        color: $light-black;
    }
    .problem-info {
        padding: emCalc(5px) 0 0 0;
    }
    &.draft {
        background-color: #F7F7F7;
    }
    i.public {
        font-size: emCalc(16px);
        padding: 0 emCalc(2px);
    }
}

.problem-criteria,
.problem-ideas,
.problem-alternatives {
    display: none;
}

.problem-description {
    .users {
        h6.subheader {
            border-bottom: 1px solid #eaeaea;
            margin: 0 0 emCalc(6px);
            padding: 0 0 emCalc(4px);
        }
    }
}

// }}}

// User {{{

.collaborators {
    display: none;
    margin: emCalc(15px) 0;
    padding: emCalc(10px) 0;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}

.user-search {
    .user-box:last-child(){
        float: left;
    }
}

.users-list,
.user-search-selected {
    [class*="column"]:last-child {
        float: left !important;
    }
    .pending-user {
        a {
            cursor: auto;
        }
        .pending-invitation {
            margin: emCalc(6px) 0;
        }
    }
}

.user-box {
    margin: emCalc(5px) 0;
    line-height: 1;
    position: relative;
    &.enclosed {
        @include panel(lighten($black, 70%), 5px);
    }
    &.pending-user,
    &.inactive-user {
        i.fi-mail,
        i.fi-prohibited {
            color: $dark-grey;
        }
        a.username {
            color: $light-black;
        }
    }
    &:hover {
        a.inactivate,
        a.activate {
            display: inline;
        }
    }
    a.action {
        cursor: pointer;
        display: none;
        color: white;
        position: absolute;
        top:0;
        right: 0;
        padding: 0 6px;
    }
    a.inactivate {
        margin-top: emCalc(3px);
    }
    .avatar {
        @include thumb(1px, $light-black);
        margin-right: emCalc(4px);
        i {
            font-size: 32px;
            padding: 0 4px;
        }
    }
    .info {
        padding: emCalc(7px) 0 0 emCalc(45px);
    }
    .contributed a {
        color: $light-black;
        font-size: emCalc(12px);
    }
    a.username {
        display: block;
        font-weight: bold;
    }
    .badges {
        span {
            margin: 0 emCalc(3px);
            font-size: emCalc(12px);
            i {
                color: $light-black;
                font-size: emCalc(15px);
            }
        }
    }
}

.user-labels {
    margin: 0;
    padding: 0;
    .user-label {
        margin: 0 emCalc(4px) 0 0;
        font-size: emCalc(22px);
        font-weight: bold;
        padding: emCalc(6px) emCalc(8px);
        line-height: emCalc(28px);
        border: 1px solid $light-grey;
        i {
            font-size: emCalc(28px);
        }
        span.caption {
            font-size: emCalc(11px);
            text-transform: lowercase;
        }
    }
}

#div_id_user_search label {
    display:none;
}

#id_user_search,
#button-id-add_user {
    margin-bottom: 0;
}

.user-search-selected {
    @include single-transition(all, 200ms, ease-out);
    margin: 0;
    border: 1px solid $light-grey;
    padding: emCalc(10px);
    [class*="column"]:last-child {
        float: left !important;
    }
}
.collaborator-delete {
    .user-box {
        max-width: auto;
        &:hover {
            background-color: lighten($alert-color, 40%);
            border-color: white;
            cursor: pointer;
        }
    }
    &:last-child {
        float: left !important;
    }
}

.user-search-result {
    padding: 0;
    width: 100%;
    position: absolute;
    z-index: 3;
    .collaborator-delete:last-child{
        float: left;
    }
    .user-box {
        @include single-transition(all, 200ms, ease-out);
        margin: 0;
        border: 0;
        max-width: 100%;
        &:hover {
            background-color: $grey;
            cursor: pointer;
        }
        .avatar {
            margin: 0;
            background-color: white;
        }
        .pending-invitation {
            float: none !important;
            margin: emCalc(5px) 0;
        }
        a.username {
            display: inline;
        }
    }
    .fi-mail {
        font-size: emCalc(24px);
        border: 0;
        background: transparent;
    }
    span.label {
        margin-left: emCalc(10px);
    }
}

// }}}

// Activity {{{

.activity-info {
    h6 {
        font-size: emCalc(16px);
        margin: emCalc(20px) 0;
        line-height: emCalc(20px);
        i {
            font-size: emCalc(20px);
        }
    }
    .problem-collaborators a.avatar {
        margin: emCalc(10px) emCalc(10px) 0 0;
    }
}

.activity-row {
    border-top: 1px solid #F1F1F1;
    padding: emCalc(10px) 0;
    min-height: emCalc(120px);
    &:first-child {
        border: 0;
    }
    h4 {
        font-size: emCalc(17px);
    }
    h5 {
        font-size: emCalc(15px);
        margin: 0;
        padding: 0 0 emCalc(3px) 0;
    }
    .activity-icon {
        padding: emCalc(5px) 0;
        i {
            font-size: emCalc(48px);
            color: $dark-grey;
            display: block;
        }
        background-color: $light-grey;
    }
    .activity-content {
        color: $light-black;
        padding-top: emCalc(5px);
        .activity-description {
            min-height: emCalc(28px);
            position: relative;
            padding: 0 0 0 emCalc(45px);
            font-size: emCalc(14px);
            .activity-avatar {
                position: absolute;
                top: 0;
                left: 0;
            }
            ins {
                color: #004800;
                background-color: #DFD;
                text-decoration: none;
            }
            del {
                color: #480007;
                background-color: #FDD;
                text-decoration: line-through;
            }
            del {
                color: #480007;
                background-color: #FDD;
                text-decoration: line-through;
            }
            p {
                margin: 0;
                padding: emCalc(3px) 0;
                font-size: emCalc(14px);
                line-height: 1.2;
            }
            i {
                padding-right: emCalc(5px);
            }
        }
    }
    .activity-comment-button {
        padding-left: 0;
    }
    .comment-form {
        margin-top: emCalc(15px);
    }
}

// }}}

.like,
.like-disabled {
    text-align: center;
    a.like,
    span.like-counter {
        @include single-transition(all, 200ms, ease-out);
    }
    a.like {
        color: $grey;
        font-size: emCalc(48px);
        line-height: 1;
        margin: 0;
        padding: 0;
    }
    span.like-counter {
        color: $grey;
        font-size: emCalc(32px);
        display: block;
        padding: 0;
        margin: 5px 0 0 0;
        line-height: 1;
    }
    div.range-slider.vertical-range {
        span.range-slider-handle {
            background-color: $primary-color;
        }
    }
}
.like {
    a {
        cursor: pointer;
    }
}
.like-disabled {
    a.like {
        cursor: auto;
    }
}
.like.voted {
    a.like,
    span.like-counter {
        color: $primary-color;
    }
}
.like.highlighted {
    a.like,
    span.like-counter {
        color: $primary-color;
    }
}

// Idea {{{

.idea-edit {
    fieldset {
        textarea {
            height: emCalc(60px);
        }
        .description {
            height: 70px;
            overflow: hidden;
        }
    }
}

.problem-idea-form-button {
    margin: 2em 0;
}

.problem-idea-button-panel {
    margin: 1em 0 0 0;
    display: inline-block;
}

.problem-edit,
.idea-edit {
    input#id_title {
        font-size: emCalc(22px);
        height: auto;
    }
    input#submit-id-save {
        margin-right: emCalc(5px);
    }
    h5 {
        margin: emCalc(20px) 0 emCalc(3px) 0;
        padding: 0;
    }
}

// }}}

// Criteria {{{

.criteria-new {
    .criteria-delete {
        display: none;
    }
}

.problem-edit .criteria-row {
    &:hover {
        background-color: #EAEAEA;
    }
}

.criteria-row {
    h4 {
        padding-top: 8px;
    }
    i.criteria-format {
        color: #555;
        font-size: emCalc(48px);
        line-height: 1;
        margin: 0;
        padding: 0;
    }
}

.criteria-info {
    h4 {
        line-height: 1.1;
    }
    p {
        margin: emCalc(3px) 0;
    }
}

.criteria {
    form {
        .minmax {
            display: none;
        }
        label, input[type='text'], textarea, select {
            font-size: emCalc(13px);
        }
        label {
            padding: 0;
        }
        textarea {
            height: emCalc(100px);
        }
    }
}

/// }}}

.comment-form {
    textarea {
        height: emCalc(80px);
        margin: 0;
    }
}

.comment {
    .comment-content {
        padding: 0.7em 0.5em;
        border-top: 1px dotted $dark-white;
        font-size: 0.85em;
        color: $light-black;
        line-height: 1.5;
        .comment-author {
            background: lighten($black, 70%);
            padding: 2px 5px;
        }
        span.comment-date {
            color: lighten($black, 40%);
        }
        a.comment-delete-toggle {
            font-size:0.85em;
            padding: 2px 5px;
        }
        a.comment-delete {
            color: lighten($alert-color, 40%);
            &:hover {
                background-color: lighten($alert-color, 40%);
                color: $white;
            }
        }
        a.comment-undelete {
            color: $primary-color;
            &:hover {
                background-color: $primary-color;
                color: $white;
            }
        }
    }
}

.html-diff {
    del, del * {
        color: $alert-color;
        background-color: lighten($alert-color, 60%);
    }
    ins, ins * {
        color: $success-color;
        background-color: lighten($success-color, 60%) !important;
        text-decoration: none;
    }
}

// jScrollPane

.jspVerticalBar {
    margin-left: 1em;
}
.jspHorizontalBar {
    margin-top: 1em;
}
.jspDrag {
    background-color: #A0A0A0;
}

// Theory help

.theory-help {
    @include single-transition(all, 200ms, ease-out);
    overflow: hidden;
    .help {
        display: none;
        background: $light-grey;
        border-right: 1px solid $grey;
        border-left: 1px solid $grey;
        border-bottom: 1px solid $grey;
        i.big,
        .help-content {
            padding: emCalc(5px) emCalc(25px);
        }
        i.big {
            float: left;
            color: $light-black;
            display: block;
            font-size: emCalc(155px);
            height: emCalc(170px);
            line-height: 1;
            overflow: hidden;
            width: emCalc(190px);
        }
    }
    .help-button a {
        display: block;
        width: 40%;
        margin: 0 auto;
        text-transform: uppercase;
    }
    .help-index {
        margin: emCalc(30px) 0 0 0;
        li {
            padding: emCalc(3px) emCalc(8px);
            list-style-type: none;
        }
    }
}

// Orbit

.orbit-container {
    .left {
        margin: emCalc(10px) emCalc(20px) emCalc(10px);
    }
    .orbit-bullets li {
        width: 1.5rem;
        height: 1.5rem;
    }
    .label {
        background: $grey;
        font-weight: bold;
        font-size: emCalc(14px);
    }
}

// Results

.criteria-chart {
    margin-top: emCalc(10px);
}

// Reveal modal

.reveal-modal {
    .row {
        max-width: 100%;
    }
}

// Alternative

.alternative-update {
    @include single-transition(all, 200ms, ease-out);
    .idea-row {
        &:hover,
        &.hover {
            background-color: $light-grey;
        }
        i.idea-status {
            @include single-transition(all, 200ms, ease-out);
            font-size: 3.5em;
            color: darken($light-grey, 15%);
            display: block;
            &:hover,
            &.checked {
                cursor: pointer;
                color: $success-color;
            }
        }
    }
}

.alternative-criteria {
    padding: 0.5em 0;
    &:hover {
        background-color: $light-grey;
        cursor: pointer;
    }
    .criteria-result {
        font-size: emCalc(14px);
        border: 1px solid $grey;
    }
}

.alternative-details {
    hr {
        margin: 0.3em 0;
        border-color: $light-grey;
    }
    p {
        margin: 0.3em 0;
        font-size: 0.8em;
    }
    display: none;
}

.alternative-result-ideas {
    p {
        margin: emCalc(5px) 0;
    }
}

.row-line {
    border-top: 1px solid $light-grey;
    border-bottom: 1px solid $light-grey;
    margin-bottom: emCalc(15px);
}

// Scroll boxes

.scroll-box {
    display: none;
    position: absolute;
    top: 50px;
    z-index: 200;
    width: 35%;
    background: white;
    padding: emCalc(10px) emCalc(5px);
    border: 1px solid $grey;
    .scroll-box-inner {
        overflow: hidden;
        height: 250px;
        font-size: emCalc(13px);
        line-height: 1.1;
        margin: 0 0 emCalc(10px) 0;
        .avatar {
            margin-right: 5px;
        }
        .info {
            display: block;
            overflow: hidden;
        }
    }
    .scroll-box-item {
        border-top: 1px solid #EAEAEA;
        margin: 0;
        padding: emCalc(8px) emCalc(6px);
        .subheader {
            font-size: emCalc(12px);
        }
    }
    &#login {
        width: 25%;
        h3 {
            display: none;
        }
        .button,input[type="submit"] {
            font-size: emCalc(13px);
            margin: emCalc(8px) 0;
            padding: emCalc(10px) emCalc(4px);;
        }
        hr {
            display: none;
        }
    }
}

#activity {
    right: 150px;
}

#login {
    right: 100px;
}

.activity-sidebar-avatar img {
    border: 10px solid #EAEAEA;
}
.activity-avatar {
    border: 2px solid #EAEAEA;
}

footer {
    @include panel($light-grey, 1em);
    width: 100%;
    height: 180px;
    margin: 2em 0 0;
    bottom: 0;
    p {
        color: $light-black;
        font-size: 90%;
        line-height: 1;
    }
}
