{% load staticfiles i18n problem %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>DNStorm</title>
    <link rel="stylesheet" href="{% static "dnstorm/css/app.css" %}" />
    <link rel="icon" href="{% static "dnstorm/img/favicon.ico" %}" />
    {% block "head" %}{% endblock %}
</head>
<body class="{% block "bodyclass" %}{% endblock %}">

{% if not user.is_authenticated %}
    <div id="login-modal" class="reveal-modal tiny">
        {% include "registration/login_form.html" %}
        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endif %}

{% block "modals" %}{% endblock %}

<div class="contain-to-grid">
<nav class="top-bar">
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider hide-for-small"></li>
            <li><a href="{% url "home" %}">DNStorm</a></li>
            <li class="divider hide-for-small"></li>
        </ul>
        <ul class="right">
            <li class="divider hide-for-small"></li>
            {% if user.is_authenticated %}
                <li><a href="">{{ user }}</a></li>
                <li class="divider"></li>
                <li><a href="{% url "options" %}"><i class="foundicon-settings"></i></a></li>
                <li class="divider"></li>
                <li><a href="{% url "django.contrib.auth.views.logout" %}?next=/">{% trans 'Logout' %}</a></li>
            {% else %}
                <li><a href="javascript:void(0)" data-reveal-id="login-modal">{% trans 'Login' %}</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)" data-reveal-id="registration-modal">{% trans 'Register' %}</a></li>
            {% endif %}
            <li class="divider hide-for-small"></li>
        </ul>
    </section>
</nav>
</div>

<div class="row header">
    <div class="columns large-6 large-offset-6 alignright buttons">
        {% block "topright" %}{% endblock %}
    </div>
</div>

{% block "content" %}{% endblock %}

<script src="{% static "dnstorm/js/vendor/custom.modernizr.js" %}"></script>
<script src="{% static "dnstorm/js/vendor/jquery.js" %}"></script>
<script src="{% static "dnstorm/js/vendor/jquery.ui.custom.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.alerts.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.clearing.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.cookie.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.dropdown.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.forms.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.joyride.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.magellan.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.orbit.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.placeholder.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.reveal.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.section.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.tooltips.js" %}"></script>
<script src="{% static "dnstorm/js/foundation/foundation.topbar.js" %}"></script>
{% block "scripts" %}{% endblock %}
<script src="{% url "jsi18n" %}"></script>
<script src="{% static "dnstorm/js/scripts.js" %}"></script>
</body>
</html>


