{% load crispy_forms_tags staticfiles i18n problem %}

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% if title %}{{ title }} | {{ options.site_title }}{% else %}{{ options.site_title }} | {{ options.site_description }}{% endif %}</title>
    <link rel="stylesheet" href="{% static "dnstorm/css/app.css" %}" />
    <link rel="icon" href="{% static "dnstorm/img/favicon.ico" %}" />
    {% block "head" %}{% endblock %}
</head>
<body class="{% block "bodyclass" %}{% endblock %}">

{% if not user.is_authenticated %}
    <div id="login-modal" class="reveal-modal tiny">
        {% include "registration/login_form.html" %}
        <a class="close-reveal-modal">&#215;</a>
    </div>
{% endif %}

{% block "modals" %}{% endblock %}

<div class="contain-to-grid">
<nav class="top-bar">
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider hide-for-small"></li>
            <li><a href="{% url "home" %}">{% trans "Home" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url "home" %}">{% trans "Problems" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url "criteria_list" %}">{% trans "Criterias" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url "activity" %}">{% trans "Activity" %}</a></li>
            <li class="divider hide-for-small"></li>
        </ul>
        <ul class="right">
            <li class="divider hide-for-small"></li>
            {% if user.is_authenticated %}
                <li><a href="{% url "user" user %}">{{  user.get_full_name|default:user.username }}</a></li>
                <li class="divider"></li>
                <li><a href="{% url "options" %}"><i class="foundicon-settings"></i></a></li>
                <li class="divider"></li>
                <li><a href="{% url "django.contrib.auth.views.logout" %}?next=/">{% trans 'Logout' %}</a></li>
            {% else %}
                <li><a href="javascript:void(0)" data-reveal-id="login-modal">{% trans 'Login' %}</a></li>
                <li class="divider"></li>
                <li><a href="{% url "registration_register" %}">{% trans 'Register' %}</a></li>
            {% endif %}
            <li class="divider hide-for-small"></li>
        </ul>
    </section>
</nav>
</div>

{% if breadcrumbs %}
<div class="breadcrumbs-wrap">
<div class="row">
    <div class="columns large-12">
        {% block "breadcrumbs" %}
            <nav class="breadcrumbs">
                <a href="{% url "home" %}">{% trans "Home" %}</a>
                {% for b in breadcrumbs %}
                    <a href="{{ b.url }}" {% if b.classes %}class="{{ b.classes }}"{% endif %}>{{ b.title }}</a>
                {% endfor %}
            </nav>
        {% endblock %}
    </div>
</div>
</div>
{% else %}
<div class="bottom-1em"></div>
{% endif %}

<div class="row">
    <div class="columns large-4 text-left">
        <h1><a href="{% url "home" %}">DNStorm</a></h1>
    </div>
    <div class="columns large-8">
        <div class="right">
            {% block "topright" %}{% endblock %}
        </div>
        <div class="row collapse right">
            <div class="columns large-8">
                <input type="text" name="q" placeholder="{% trans "Search everything" %}" />
            </div>
            <div class="columns large-2">
                <a class="button secondary tiny postfix" data-dropdown="search-options"><i class="foundicon-settings"></i></a>
                <ul id="search-options" class="f-dropdown" data-dropdown-content>
                    <li><a href="#">{% trans "Everything" %}</a></li>
                    <li><a href="#">{% trans "Problems" %}</a></li>
                    <li><a href="#">{% trans "Criterias" %}</a></li>
                    <li><a href="#">{% trans "Ideas" %}</a></li>
                    <li><a href="#">{% trans "Comments" %}</a></li>
                </ul>
            </div>
            <div class="columns large-2">
                <a class="button postfix secondary radius"><i class="foundicon-search"></i></a>
            </div>
        </div>
    </div>
</div>

{% block "content" %}{% endblock %}

<footer>
<div class="row">
    <div class="columns large-12 text-center">
        <p class="text-center"><a class="logo-faded" href="{{ dnstorm_url }}">DNStorm</a></p>
        <p class="text-center">{{ options.site_title }} &mdash; {{ options.site_description }}</p>
        <p class="text-center">{% blocktrans with "http://www.gnu.org/licenses/gpl.html" as gpl_url %}<a href="{{ dnstorm_url }}">DNStorm</a> is a free softwares licensed under the <a href="{{ gpl_url }}">GPL3</a> license{% endblocktrans %}</p>
        </div>
    </div>
</footer>

<script src="{% static "dnstorm/js/modernizr.js" %}"></script>
<script src="{% static "dnstorm/js/jquery.js" %}"></script>
<script src="{% static "dnstorm/js/jquery.ui.custom.js" %}"></script>
<script src="{% static "dnstorm/js/foundation.min.js" %}"></script>
{% block "scripts" %}{% endblock %}
<script src="{% url "jsi18n" %}"></script>
<script src="{% static "dnstorm/js/scripts.js" %}"></script>
</body>
</html>
