{% load crispy_forms_field ifregex i18n %}

<div id="div_{{ field.auto_id }}" class="problem-criteria ctrlHolder{% if field.errors and form_show_errors %} error{% endif %}{% if field|is_checkbox %} checkbox{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

    <label for="{{ field.id_for_label }}" {% if field.field.required %}class="requiredField"{% endif %}>
        {{ field.label|safe }}{% if field.field.required %}<span class="required">*</span>{% endif %}
    </label>
    <span class="problem-criteria-select">
        {% for f in form %}
            {% ifregex "^criteria_[0-9]+$" f.name %}
                <a contenteditable="false" data-tooltip data-id="{{ f.value }}" title="{{ f.help_text }}" class="button small" href="javascript:void(0);"><i class="foundicon-remove"></i> {{ f.label }}</a>
            {% endifregex %}
        {% endfor %}
        <span class="text" contenteditable="true"></span>
    </span>
    {% if field.help_text %}<div class="formHint">{{ field.help_text }}</div>{% endif %}
    <ul class="problem-criteria-result large-block-grid-5"></ul>

</div>
