{% load crispy_forms_field i18n %}

<div id="div_{{ field.auto_id }}" class="problem-tag ctrlHolder{% if field.errors and form_show_errors %} error{% endif %}{% if field|is_checkbox %} checkbox{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">

    <label for="{{ field.id_for_label }}" {% if field.field.required %}class="requiredField"{% endif %}>
        {{ field.label|safe }}{% if field.field.required %}<span class="required">*</span>{% endif %}
    </label>
    <span class="problem-tag-select"><span class="text" contenteditable="true"></span></span>
    {% if field.help_text %}<div class="formHint">{{ field.help_text }}</div>{% endif %}
    <ul class="problem-tag-result large-block-grid-5"></ul>

</div>
