{% extends "base.html" %}
{% load problem crispy_forms_tags i18n %}

{% block "bodyclass" %}problem{% endblock %}

{% block "head" %}{{ form.media }}{% endblock %}

{% block "content" %}

    <div class="row problem-detail-title">
    <div class="columns content large-12">
        <h4>{{ problem.title }}</h4>
    </div>
    </div>

    <div class="row">
    <div class="columns large-9 problem-detail">

        <div class="description">
            {{ problem.description|safe }}
        </div>

        <div class="row">
            <div class="columns large-5 large-offset-7">
                {% include "user_box.html" with user=problem.author date=problem.modified link=problem.get_absolute_url %}
            </div>
        </div>

        <hr/>

        <div class="problem-idea-form-wrap">

            {% if not request.user.is_authenticated %}

                <a class="large button expand secondary" data-reveal-id="login-modal">{% trans "Log in and submit your idea" %}</a>

            {% else %} {% if problem.locked %}

                <a class="large button expand secondary" disabled="disabled">{% trans "This problem is currently locked for new ideas" %}</a>

            {% else %} {% if user_ideas_left > 0 %}

                <a class="problem-idea-button problem-idea-form-button button expand {% if form.errors %}hidden{% endif %}"><i class="foundicon-idea"></i> {% trans "Submit your idea to this problem" %}{% if problem.max %}<br/><small>{% blocktrans count user_ideas_left as ideas %}you have {{ ideas }} idea left{% plural %}you have {{ ideas }} ideas left{% endblocktrans %}</small>{% endif %}</a>

            {% else %}

                <a class="problem-idea-button large button expand secondary" disabled="disabled">{% trans "You contributed with the maximum ideas allowed for this problem" %}<br/><small>{% trans "edit or delete your existing ideas if you change your mind about them" %}</small></a>

            {% endif %} {% endif %} {% endif %}

            <div class="problem-idea-form {% if not form.errors %}hidden{% endif %}" id="problem-idea-form">
                <h5>{% trans "Your idea" %}</h5>
                {% crispy form %}
            </div>

            {% if problem.blind %}
                <div class="panel aligncenter problem-idea-button-panel"><p>{% trans "This problem is in blind contribution mode. That means you can't see the other users ideas until the manager turns the option off." %}</p></div>
            {% endif %}

        </div>

        <hr/>

        {% if ideas %}
        <a name="problem-ideas"></a>
        <div class="problem-ideas">
            {% for idea in ideas %}
                {% include "problem_idea.html" %}
                <hr/>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    <div class="columns sidebar large-3">
        {% include "problem_sidebar.html" %}
    </div>

    </div>


{% endblock %}
