{% load absolute gravatar i18n %}

{% if perms.problem.can_edit %}
    <a class="button small radius expand" href="{% url 'problem_edit' problem.id %}">
        <i class="foundicon-edit"></i> {% trans 'Edit this problem' %}
    </a>
    <a class="button small radius expand" href="{% url 'table' problem.id %}">
        <i class="foundicon-inbox"></i> {% trans 'Build problem table' %}
    </a>
{% endif %}

<a class="button small secondary expand show-on-click hide-after-click" data-show-on-click="short-link-url" href="javascript:void(0);"><i class="foundicon-paper-clip"></i> {% trans "Short Link" %}</a>
<div id="short-link-url" class="hidden"><input type="text" class="select-on-click" value="{% absolute "problem_short" problem.id %}" /></div>

<p>{% trans "Last updated in" %} {{ problem.modified }}</p>

{% if problem.revision_count or problem.idea_count %}
<div class="info">
    {% if problem.revision_count > 1 %}<b><a href="{% url "problem_revision" problem.id %}">{{ problem.revision_count }} {% trans "revisions" %}</a></b><br/>{% endif %}
    {% if problem.idea_count %}<b><a href="#problem-ideas">{% if idea_count > 1 %}{{ problem.idea_count }} {% trans "idea contributions" %}{% else %}{{ problem.idea_count }} {% trans "idea contribution" %}{% endif %}</a></b>{% endif %}
</div>
{% endif %}

<hr/>

{% if problem.tag.all %}
    <div class="tags">
        {% for tag in problem.tag.all %}
            <a class="button small" href="#">{{ tag.slug }}</a>
        {% endfor %}
    </div>
    <hr/>
{% endif %}
