{% extends "base.html" %}
{% load problem crispy_forms_tags gravatar humanize i18n %}

{% block "bodyclass" %}problem{% endblock %}

{% block "head" %}{{ form.media }}{% endblock %}

{% block "content" %}

    <div class="row problem-detail-title">
    <div class="columns content large-12">
        <h4>{{ problem.title }}</h4>
    </div>
    </div>

    <div class="row">
    <div class="columns large-9 problem-detail">

        <div class="description">
            {{ problem.description|safe }}
        </div>

        <div class="row">
            <div class="columns large-offset-7 large-5">
                <div class="user-box alignright">
                    <div class="row collapse">
                    <div class="columns large-10">
                        <a class="contributed" href="{{ request.get_full_path }}">{% trans "contributed" %} {{ problem.modified|date:"d b Y" }} {% trans "at" %} {{ problem.modified|date:"H:i" }}</a><br/>
                        <a class="username" href="{% url "user" problem.author %}">{{ problem.author.username }}</a>
                    </div>
                    <div class="columns large-2">
                        <a class="avatar"><img src="{% gravatar_for_user problem.author 32 %}" /></a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <hr/>

        {% if not request.user.is_authenticated %}

            <a class="large button expand secondary" data-reveal-id="login-modal">{% trans "Log in and submit your idea" %}</a>

        {% else %}{% if user_ideas_left > 0 %}

            <a class="problem-idea-button problem-idea-form-button large button expand">{% trans "Submit your idea to this problem" %}{% if problem.max %}<br/><small>{% blocktrans count user_ideas_left as ideas %}you have {{ ideas }} idea left{% plural %}you have {{ ideas }} ideas left{% endblocktrans %}</small>{% endif %}</a>

        {% else %}

            <a class="problem-idea-button large button expand secondary" disabled="disabled">{% trans "You contributed with the maximum ideas allowed for this problem" %}<br/><small>{% trans "edit or delete your existing ideas if you change your mind about them" %}</small></a>

        {% endif %} {% endif %}

        <div class="problem-idea-form">
            <h5>{% trans "Your idea" %}</h5>
            {% crispy form %}
        </div>

        <hr/>

        {% if ideas %}
        <a name="problem-ideas"></a>
        <div class="problem-ideas">
            {% for idea in ideas %}
            <div class="idea" id="idea-{{ idea.id }}">

                <div class="row collapse">

                    {% if problem.voting %}
                        <div class="columns large-1 small-2 voting">

                            <a{% if not request.user.is_authenticated %} data-reveal-id="login-modal"{% endif %} class="button secondary upvote{% if idea.user_vote.weight == 1 %} success{% endif %}" data-idea="{{ idea.id }}"{% if idea.author == request.user %} disabled="disabled"{% endif %}><i class="foundicon-thumb-up"></i></a>
                            {% if problem.vote_count %}<span class="vote-count">{% if problem.vote_author %}<a href="javascript:void(0);" data-reveal-id="idea-{{ idea.id }}-vote-history-modal">{% endif %}{{ idea.vote_count }}{% if problem.vote_author %}</a>{% endif %}</span>{% else %}{% endif %}

                            <a{% if not request.user.is_authenticated %} data-reveal-id="login-modal"{% endif %} class="button secondary downvote{% if idea.user_vote.weight == -1 %} alert{% endif %}" data-idea="{{ idea.id }}"{% if idea.author == request.user %} disabled="disabled"{% endif %}><i class="foundicon-thumb-down"></i></a>

                        </div>
                    {% endif %}

                    {% if problem.vote_author %}
                        <div id="idea-{{ idea.id }}-vote-history-modal" class="reveal-modal medium">
                            {% for vote in idea.votes %}
                                <div class="row vote" id="vote-{{ vote.id }}">
                                    <div class="columns large-1">
                                        <a href="javascript:void(0);" class="button secondary upvote{% if idea.user_vote.weight == 1 %} success{% else %} alert{% endif %}" disabled="disabled"><i class="foundicon-thumb-up"></i></a>
                                        {{ vote.weight }}
                                    </div>
                                    <div class="columns large-11">
                                        {{ vote.author }}
                                        {{ vote.date }}
                                    </div>
                                </div>
                                <hr/>
                            {% endfor %}
                            <a class="close-reveal-modal">&#215;</a>
                        </div>
                    {% endif %}

                    <div class="columns {% if problem.voting %}large-11 small-10 left-1em{% else %}large-12 small-12{% endif %}">

                        <div class="row collapse">
                            <div class="columns large-12 idea-content">
                                {{ idea.content|safe }}
                            </div>
                        </div>

                        <div class="row collapse">
                            <div class="columns large-7">
                                <a class="problem-action{% if request.user.is_authenticated %} show-on-click{% endif %}" {% if request.user.is_authenticated %}data-show-on-click="comment-form-{{ idea.id }}"{% else %}data-reveal-id="login-modal"{% endif %} href="javascript:void(0);" >{% trans "Comment" context "verb" %}</a>
                                {% if idea.author == request.user %}<a class="problem-action edit" data-problem="{{ problem.id }}" href="javascript:void(0);">{% trans "Edit" %}</a>{% endif %}
                            </div>

                            <div class="columns large-5">
                                <div class="user-box alignright">
                                    <div class="row collapse">
                                    <div class="columns large-10">
                                        <a class="contributed" href="{{ request.get_full_path }}#idea-{{ idea.id }}">{% trans "contributed" %} {{ idea.modified|date:"d b Y" }} {% trans "at" %} {{ idea.modified|date:"H:i" }}</a><br/>
                                        <a class="username" href="{% url "user" idea.author %}">{{ idea.author.username }}</a>
                                    </div>
                                    <div class="columns large-2">
                                        <a class="avatar"><img src="{% gravatar_for_user idea.author 32 %}" /></a>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if request.user.is_authenticated %}
                            <div class="comment-form hidden" id="comment-form-{{ idea.id }}" data-idea="{{ idea.id }}">
                                {% crispy idea.comment_form %}
                            </div>
                        {% endif %}

                        <div class="comments" id="comments-{{ idea.id }}">
                            {% if idea.comments %}
                                {% for comment in idea.comments %}
                                    {% include "comment.html" %}
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>

                </div>
            </div>
            <hr/>
            {% endfor %}
        </div>
        {% endif %}

    </div>

    <div class="columns sidebar large-3">
        {% include "problem_sidebar.html" %}
    </div>

    </div>


{% endblock %}
