{% extends "base.html" %}
{% load crispy_forms_tags i18n %}

{% block "bodyclass" %}table{% endblock %}

{% block "modals" %}
    <div id="alternative-add-modal" class="reveal-modal tiny">
        <a class="close-reveal-modal">&#215;</a>
        {% crispy alternative_form %}
    </div>

    <div id="alternative-remove-modal" class="reveal-modal tiny">
        <div class="row">
        <div class="columns large-12">
            <p>{% trans "Remove this item?" %}</p>
        </div>
        </div>
        <div class="row">
        <div class="columns large-6">
            <a class="close-reveal-modal-button button secondary no-margin-bottom">{% trans "Cancel" %}</a>
        </div>
        <div class="columns large-6 alignright">
            <a class="remove button alert no-margin-bottom">{% trans "Remove" %}</a>
        </div>
        </div>
    </div>

    <div id="select-idea-modal" class="reveal-modal large">
        <a class="close-reveal-modal">&#215;</a>
        <h4>{% trans "Select an idea" %}</h4>
        <hr/>
        {% for idea in ideas %}
            {% include "problem_idea.html" %}
            <hr/>
        {% endfor %}
    </div>

{% endblock %}

{% block "content" %}

    <div class="row collapse">
    <div class="columns content large-8">
        <h4><a href="{% url "problem" problem.slug %}">{{ problem.title }}</a></h4>
    </div>
    <div class="columns large-4 alignright">
        <a class="button secondary small add-alternative">{% trans "Add alternative" %}</a>
    </div>
    </div>

    <div class="row collapse">
    <div class="columns large-12 problem-table-wrap">
    <table class="problem-table" data-problem="{{ problem.id }}">
        <thead>
            <tr>
            {% if criterias %}
                <th></th>
                {% for criteria in criterias %}
                    <th class="criteria" data-criteria="{{ criteria.id }}">
                        <div class="title-inner title-admin">
                            {{ criteria.name }}
                        </div>
                    </th>
                {% endfor %}
            {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for alternative in alternatives %}
                <tr class="alternative" data-alternative="{{ alternative.id }}">
                    <td class="vertical-title">
                        <div class="title-inner title-admin">
                            {{ alternative.name }}
                            <div class="table-actions">
                                <a class="foundicon-remove" data-reveal-id="alternative-remove-modal"></a>
                            </div>
                        </div>
                    </td>
                    {% for item in alternative.get_items %}
                        <td>
                        {% if item.object %}
                            <p>#{{ item.object.idea.id }}</p>
                        {% else %}
                            <a class="button expand secondary select-idea" data-criteria="{{ item.criteria.id }}" data-alternative="{{ alternative.id }}">{% trans "Select idea" %}</a>
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

{% endblock %}
