{% extends "base.html" %}

{% load i18n highlight humanize %}

{% block "content" %}

    <div class="row">
    <div class="columns large-9 search-results">

        {% if request.GET.q %}
            <h3>{% blocktrans with request.GET.q as s %}Search results for "{{ s }}"{% endblocktrans %}</h3>
        {% endif %}

        {% for result in page.object_list %}

            <hr/>
            <div class="row">
                <div class="columns large-12 search-results-item">

                    <h4><span class="label secondary radius">{{ result.object.type }}</span>&nbsp;<a href="{{ result.object.get_absolute_url }}">
                    {% if result.object.type == "comment" and result.object.idea %}
                        {% blocktrans with idea=result.object.idea.title %}Comment in the idea "{{ idea }}"{% endblocktrans %}
                    {% else %} {% if result.object.type == "comment" and result.object.problem %}
                        {% blocktrans with problem=result.object.problem.title %}Comment in the problem "{{ problem }}"{% endblocktrans %}
                    {% else %}
                        {% highlight result.object.title with query %}
                    {% endif %} {% endif %}
                    </a><small class="subheader right">{{ result.object.modified|naturaltime }}</small></h4>


                    {% if result.object.description %}
                        <p class="search-result-text">{% highlight result.object.description with query %}</p>
                    {% else %} {% if result.object.content %}
                        <p class="search-result-text">{% highlight result.object.content with query %}</p>
                    {% endif %} {% endif %}

                    {% if result.object.criteria.all %}
                        <p>
                        {% for criteria in result.object.criteria.all %}
                            {% include "criteria_button.html" %}
                        {% endfor %}
                        </p>
                    {% endif %}

                    {% if result.object.cost or result.object.deadline %}
                        <p>
                            {% if result.object.cost %}<span class="label secondary radius">$ {{ result.object.cost }}</span>{% endif %}
                            {% if result.object.deadline %}<span class="label secondary radius"><i class="foundicon-clock icon"></i> {{ result.object.deadline }}</span>{% endif %}
                        </p>
                    {% endif %}

                </div>
            </div>
        {% empty %}
            <hr/>
            <p>{% trans "No results found." %}</p>
        {% endfor %}
        <hr/>

        {% include "pagination.html" with items=page %}

    </div>

    <div class="columns sidebar large-3">
        {% include "home_sidebar.html" %}
    </div>
    </div>

{% endblock %}
