/*
Syntax error: Invalid CSS after "#": expected id name, was " Require any ad..."
        on line 2 of config.rb

1: require 'zurb-foundation'
2: # Require any additional compass plugins here.
3: 
4: 
5: # Set this to the root of your project when deployed:
6: http_path = "/"
7: css_dir = "../static/dnstorm/css"

Backtrace:
config.rb:2
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1148:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1084:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1066:in `expr!'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:716:in `id_selector'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:671:in `simple_selector_sequence'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:640:in `_selector'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:624:in `selector_comma_sequence'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/parser.rb:1065:in `expr!'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:314:in `visit_rule'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `each'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin/compiler.rb:235:in `watch'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/plugin.rb:107:in `method_missing'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:452:in `watch_or_update'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:315:in `process_result'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.2.9/lib/sass/exec.rb:21:in `parse!'
/var/lib/gems/1.9.1/gems/sass-3.2.9/bin/sass:9:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"#\": expected id name, was \" Require any ad...\"\A         on line 2 of config.rb\A \A 1: require 'zurb-foundation'\A 2: # Require any additional compass plugins here.\A 3: \A 4: \A 5: # Set this to the root of your project when deployed:\A 6: http_path = \"/\"\A 7: css_dir = \"../static/dnstorm/css\""; }
